/*
    Great for debugging and searching for causing overflows, uncomment it when using it and comment when it is not of use. 
*/
/* *{
    outline: 2px solid lightgreen;
} */

:root{
    --diagram-toolbar-height: 5rem;
    --normal-transition: all 300ms ease-in-out;
}
@keyframes loadingSpin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}


@media screen and (min-width: 768px) {
    #diagram-toolbar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50px; 
        height: 100vh; 
        z-index: 1000;
    }
}
@media screen and (min-height: 1199px) {
    #diagram-toolbar {
        width: 50px;
    }

    #svggrid {
        left: 0px;
    }
}

@media screen and (min-height: 1200px) {
    #diagram-toolbar {
        width: 70px;
    }

    #svggrid {
        left: 20px;
    }
}

#loadingSpinner {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1s linear 0s infinite loadingSpin;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    overflow: hidden;
}

#diagramFileName {
    position: absolute;
    z-index: 1000;
    margin-left: 50vw;
    margin-top: 6vh;
    padding: 2px;
    background-color: #fff;
    border: #775886 1px solid;
    text-align: center;
}

#svgbacklayer {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -10;
}

#svggrid {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -10;
}

#svgA4Template {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -10;
}

#a4Template {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -10;
}

#svgoverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px dotted green;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

#fab {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
    background-color: #eb4;
    box-shadow: 6px 6px 10px #888;
    user-select: none;
    cursor: pointer;
    z-index: 5001;
}

#options-pane {
    position: fixed;
    top: 0px;
    width: 320px;
    bottom: 0px;
    z-index: 5000;
    background-color:#eb4;
    color: #FFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 6px 10px #888;
    padding: 10px;
    transition: right .3s ease-in-out;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#options-pane-button {
    display: inline-block;
    vertical-align: top;
    transform-origin: top left;
    transform: translate(20px, 0px) rotate(90deg);
    cursor: pointer;
    width: 780px;
    padding: 6px;
}

#options-pane-content {
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#options-pane::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#options-pane {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.show-options-pane {
    right: 0px;
}

.hide-options-pane {
    right: -308px;
}

.selected-entry {
    box-shadow: 6px 6px 10px #888;
}

#diagramTypeDropdown,
#diagramLoad {
    display: none;
}

#diagramTypeDropdown {
    width: 100%;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.element {
    font-size: small;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
}

#pad_lock {
    bottom: -5px;
    left: 3px;
    display: block;
    position: absolute;
    background: inherit;
}

.element:has(#pad_lock) {
    overflow: visible;
}

#canvasOverlay {
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.selected-course {
    box-shadow: 10px 10px 10px RGBA(0, 0, 0, 0.3);
}

#diagram-header {
    z-index: 1;
    position: relative;
    background-color: #FFF;
}

#rulerOverlay {
    display: none;
    position: absolute;
    left: 50px;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
    z-index: 20;
}

#ruler-y {
    left: 20px;
    background-color: #000;
    width: 30px;
    height: 1px !important;
    position: absolute;
    z-index: 500;
}

#ruler-x {
    top: 20px;
    background-color: #000;
    height: 30px;
    width: 1px;
    position: absolute;
    z-index: 500;
}

#ruler-x-svg {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 2;
}

#ruler-y-svg {
    background-color: #fff;
    position: absolute;
    width: 40px;
    height: 100%;
    z-index: 2;
}

#rulerCorner {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #fff;
    z-index: 700;
    top: 0px;
}

.diagramIcons {
    position: relative;
    margin: auto;
    width: 3.7vh;
    height: 3.7vh;
    cursor: pointer;
    border: solid 1px var(--color-primary);
    margin-top: 3px;
}

@media (max-height: 650px) {
    .diagramIcons {
        width: 3.3vh;
        height: 3.3vh;
    }
}

@media (max-height: 540px) {
    .diagramIcons {
        width: 3vh;
        height: 3vh;
    }
}


@media (max-width: 414px){
    .icon-wrapper{
        display: block !important;
        position: fixed;
        z-index: 10;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        transition: var(--normal-transition);
    }

     .icon-wrapper-sidebar{
        display: block !important;
        position: fixed;
        z-index: 10;
        right: 10%;
        top: 50%;
        transform: translateX(-50%);
        transition: var(--normal-transition);
    }

    .icon-wrapper-sidebar.toolbar-active{
        margin-right: 50px;
    }
    
    #diagram-message{
        position: absolute !important;
        top: 50px !important;
        left: 50px !important;
        width: 60% !important;
    }

    .icon-wrapper.toolbar-active{
        margin-bottom: calc(var(--diagram-toolbar-height) - 2rem);
    }

    #diagram-replay-box{
        position: fixed !important;
    }

    #diagram-replay-message{
        left: 10% !important;
    }

    #rulerOverlay{
        left: 0;
        position: fixed !important;
    }

    #ruler-y-svg {
        left: 0;
    }

    #diagram-toolbar {
        display: none !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        /* display: flex; */
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        column-gap: 0.8rem;
        transform: translateY(var(--diagram-toolbar-height));
        transition: transform 0.3s ease-in-out;
    }

    #diagram-toolbar.toolbar-active{
        transform: translateY(0px);
    }

    #diagram-toolbar fieldset:nth-of-type(1),
    #diagram-toolbar fieldset:nth-of-type(3){
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: .5rem;
    }

    #zoom-container{
        visibility: hidden !important;
    }
}

.diagramIcons:hover,
.active {
    background: var(--color-primary-light);
    border: solid 1px var(--color-border-2);
}

.diagramIcons img {
    height: 100%;
}

.node {
    position: absolute;
    width: 8px;
    height: 8px;
    background: blue;
}

.node.mr {
    top: calc(50% - 4px);
    right: 0;
    cursor: ew-resize;
}

.node.ml {
    top: calc(50% - 4px);
    left: 0;
    cursor: ew-resize;
}

.node.md {
    right: calc(50% - 4px);
    bottom: 0;
    cursor: ns-resize;
}

.node.mu {
    right: calc(50% - 4px);
    cursor: ns-resize;
    top: 0;
}

.node.tr {
    cursor: nesw-resize;
}

.node.tl {
    cursor: nwse-resize;
}

.node.br {
    cursor: nwse-resize;
}

.node.bl {
    cursor: nesw-resize;
}

.underline {
    text-underline-offset: 0.15em;
    text-decoration: underline;
}

.saveButton {
    background-color: #614875;
    border: 0px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 25px;
    transition: 1s background-color;
}

.saveButton:hover {
    background: #815e9d;
    color: #FFF;
}

.saveButton:active {
    background: #614875;
    transition: 0.1s;
    color: #FFF;
}

#diagram-toolbar {
    display: block;
    position: absolute;
    border-right: solid black 1px;
    background-color: var(--color-primary);
    z-index: 1000;
}

#diagram-toolbar>fieldset {
    padding: 2px;
    border-color: var(--color-primary-hover);
}

#diagram-toolbar>fieldset>legend {
    color: var(--color-text-header);
    font-size: 0.6em;
}

/* Diagram Messages */
#diagram-message {
    width: 300px;
    left: 100px;
    bottom: 20px;
    position: absolute;
    z-index: 100;
    opacity: 1;
    display: block;
    pointer-events: none;
    vertical-align: bottom;
}

#diagram-message .timeIndicatorBar {
    height: 5px;
    width: calc(100% - 20px);
    bottom: 5px;
    left: 10px;
    background: rgba(255, 255, 255, 1);
}

#diagram-message>div {
    pointer-events: auto;
    margin: 5px;
    display: block;
    padding: 10px;
    box-shadow: 6px 6px 10px #888;
}

#diagram-message .error {
    background-color: #FFD2D2;
}

#diagram-message .success {
    background-color: #DFF2BF;
}

#diagram-message .warning {
    background-color: #FEEFB3;
}

/*tooltip*/

.toolTipText {
    top: -63px;
    left: 175%;
    visibility: hidden;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

#highestToolTip {
    top: -15px;
}

#toolTipExtra {
    font-size: 14px;
    color: #BBBBBB;
}

#mouseMode1 .toolTipText {
    top: -43px;
}


.diagramIcons:hover .toolTipText {
    visibility: visible;
    transition-delay: 700ms;
}

.disabledIcon:hover .toolTipText {
    visibility: visible;
    transition-delay: 700ms;
}

#tooltip-OPTIONS {
    left: 9.5%;
}

.colorMenu {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    position: absolute;
    left: 0;
    height: 110px;
    z-index: 5;
    float: left;
}

@keyframes colorMenuAnim {
    0% {
        width: 0px;
    }

    100% {
        width: 50px;
    }
}

.colorCircle {
    animation-name: colorMenuAnim;
    animation-duration: 0.5s;
}

.colorCircle:hover {
    stroke: white;
    cursor: pointer;
}

.colorMenuButton {
    background-color: #614875;
    border: 0px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 25px;
    transition: 1s;
}

#options-pane-button .toolTipText {
    transform: translate(-100px, 170px) rotate(-90deg);
}

#options-pane-button:hover .toolTipText {
    visibility: visible;
    transition-delay: 700ms;
}

#fab .toolTipText {
    transform: translate(-335px, -20px);
    font-size: 16px;
    line-height: 20px;

}

#fab:hover .toolTipText {
    visibility: visible;
}

.tooltip {
    position: absolute;
    z-index: 1;
}

#fieldsetBox {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}

/* Markdown document*/

#markdownKeybinds {
    position: absolute;
    display: block;
    z-index: 1000;
    background-color: var(--color-background-4);
    height: 75%;
    width: 30%;
    overflow: scroll;
    border: 2px solid black;
    top: 100px;
    left: 33%;
    padding-left: 10px;
}

/*Cardinality stuff*/

.propertyCardinality {
    padding-left: 3px;
    padding-right: 3px;
}

/* REPLAY */
#diagram-replay-box {
    position: absolute;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
    z-index: 501;
    width: 100%;
    height: 50px;
    visibility: hidden;
    color: var(--color-text-header);
}

#diagram-replay-message {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    left: calc(50% - 50px);
    bottom: 70px;
    color: var(--color-text-header);
    border-radius: 5px;
    text-align: center;
    z-index: 100;
    visibility: hidden;
    pointer-events: none;
}

/* toggle placement types */
.togglePlacementTypeButton {
    position: absolute;
    right: -10%;
    bottom: -10%;
    width: 6.2px;
    height: 6.2px;
}

#diagramPopOut {
    position: absolute;
    right: 10%;
    width: 6.2px;
    height: 3.2px;
}

.togglePlacementTypeBoxEntity {
    display: none;
    position: absolute;
    left: 130%;
    bottom: 0;
    padding: 2px;
    background-color: var(--color-primary);

}

.togglePlacementTypeBoxRI {
    display: none;
    position: absolute;
    left: 172%;
    bottom: 0;
    padding: 2px;
    background-color: var(--color-primary);

}

.activeTogglePlacementTypeBox {
    display: flex;
    justify-content: left;
}

.activePlacementType {
    background: var(--color-primary-hover);
}

.hiddenPlacementType {
    display: none;
}

.hiddenToolTiptext {
    visibility: hidden;
}

.loadModalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.2);
}

.loadModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 999;
    background-color: white;
    color: black;
    border: 1px solid #000;
}

.deleteLocalDiagram {
    margin-left: 10px;
    background-color: #DF2727 !important;
}

.deleteLocalDiagram:hover {
    background-color: #961a1a !important;
}

#amountOfLoads {
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

#loadTitle {
    font-size: 1.2rem;
    color: #815e9d;
}

#loadHeader {
    display: flex;
    flex-direction: row;
    background-color: #eb4;
}

#loadContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 200px;
    overflow-y: auto;
}

#loadContainer button {
    border-style: none;
    background-color: #815e9d;
    color: white;
    padding: 5px;
}

#loadContainer button:hover {
    cursor: pointer;
    background-color: #614875;
}

#closeLoadModal {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #da2727;
}

.hiddenLoad {
    display: none;
}

.placementTypeIcon img {
    position: absolute;
    top: 0px;
    width: 6.2px;
    height: 6.2px;
    z-index: 2;
}

.placementTypeBoxIcons {
    margin: auto;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border: solid 1px var(--color-primary);
}

.placementTypeBoxIcons:hover,
.active {
    background: var(--color-primary-light);
    border: solid 1px var(--color-border-2);
}

.placementTypeBoxIcons img {
    width: 34px;
    height: 34px;
}

.placementTypeToolTipText{
    top: -55%;
    left: 110%;
    visibility: hidden;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.placementTypeBoxIcons:hover .placementTypeToolTipText {
    visibility: visible;
}

/*  options panel  */
.options-fieldset {
    width: 90%;
    margin: auto;
    word-break: break-word;
}

.options-fieldset-show {
    display: block;
}

.options-fieldset-hidden {
    display: none;
}

#ERTable {
    user-select: text;
}

#zoom-container {
    visibility: visible;
    position: absolute;
    width: auto;
    height: 29px;
    bottom: 4px;
    left: 105px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 1px;
    z-index: 900;
}

.diagramZoomIcons img {
    height: 27px;
    width: 27px;
}

#zoom-message {
    height: 30px;
    width: 40px;
}

.diagramZoomIcons {
    height: 27px;
    width: 27px;
    float: left;
    border: 1px solid transparent;
}

.diagramZoomIcons:hover {
    border: solid 1px var(--color-primary-light);
}

.zoomToolTipText {
    bottom: 40px;
    left: 0%;
    visibility: hidden;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    pointer-events: none;
    position: absolute;
    z-index: 20;
}


.diagramZoomIcons:hover .zoomToolTipText {
    visibility: visible;
}

/****************
    SVG GRID 
*****************/
#svggrid {
    z-index: -11;
}

#grid {
    width: 100px;
    height: 100px;
}

#grid>path {
    fill: none;
    stroke: gray;
    /*stroke: 0.8 0.8;*/
    stroke-width: 1;
}

#grid_rect {
    width: 100vw;
    height: 100vh;
    overflow: visible;
    fill: url(#grid);
}

#origoX,
#origoY {
    stroke: rgb(105, 105, 105);
    stroke-width: 8;
}

/****************
   A4 TEMPLATE 
*****************/
#a4template {
    z-index: -11;
}


#a4Rect,
#vRect {
    display: none;
}

#a4Rect {
    stroke: rgb(50, 50, 50);
    stroke-width: 2;
    stroke-dasharray: 5 3;
    fill: #ffffee;
    fill-opacity: 0.4;
}

#vRect {
    stroke: rgb(50, 50, 50);
    stroke-width: 2;
    stroke-dasharray: 5 3;
    fill: #ffffee;
    fill-opacity: 0.4;
}

#a4Text {
    /* no styling yet */
}

/****************
  ZOOM CONTAINER 
*****************/
#zoom-message-box {
    width: 75px;
    left: 100px;
    bottom: 5px;
    color: white;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
    pointer-events: none;
}

#zoom-message-box>img {
    width: 25%;
    height: 27px;
}

/****************
   OPTION PANE 
*****************/
#rulerSnapToGrid {
    background-color: transparent;
    border: #614875;
    border-width: 3px;
    border-style: solid;
    color: #614875;
    font-weight: bold;
}

#a4TemplateToggle {
    background-color: transparent;
    border: #614875;
    border-width: 3px;
    border-style: solid;
    color: #614875;
    font-weight: bold;
}

#darkmodeToggle {
    background-color: transparent;
    border: #614875;
    border-width: 3px;
    border-style: solid;
    color: #614875;
    font-weight: bold;
}

#diagramDropDownToggle {
    background-color: transparent;
    border: #614875;
    border-width: 3px;
    border-style: solid;
    color: #614875;
    font-weight: bold;
}

.disabledIcon {
    background-color: #8d68ab;
}

    .disabledIcon:hover .toolTipText {
        visibility: visible;
    }
#a4options {
    display: flex;
}

#a4VerticalButton {
    display: none;
    width: 76px;
    margin-right: 45%;
}

#a4HorizontalButton {
    display: none;
}

#a4OptionsDropdown,
#a4Load {
    display: none;
    margin-bottom: 15px;
}

#a4OptionsDropdown {
    width: 100%;
    margin-bottom: 10px;
}

#option-import>input {
    width: 100%;
}

button.saveButton {
  border-radius: 4px;
  font-size: 16px;
  margin-top:10px;
  padding-left: 5px;
}

/*****************
   Confirm buttons
*****************/
.buttonGroup {
    text-align: center;
}

.confirmButton {
    background-color: #614875;
    border: 0px;
    color: #fff;
    cursor: pointer;
    width: 65px;
    height: 30px;
    margin: 15px 10px, 10px 10px;
}

.confirmButton:hover {
    background: #815e9d;
    color: #FFF;
}

/****************
   REPLAY BOX 
*****************/
#replay-time-container {
    width: 250px;
}


/**********
*Fab mobile
***********/
.fab-inner{ 
    width: 40px;
    height: 40px;
    background-color: #815e9d;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
.fab-inner:active{
    transform: translateY(4px);
}

 .icon-fit{
    display: block;           
    width: 80%;              
    height: 80%;            
    object-fit: contain; 
 }

/****************
    Chevron-icons
****************/
.icon-wrapper{
    display: none;
}

.toggle-chevron, .toggle-chevron-sidebar{
    font-size: 1.4rem;
    background-color: var(--color-background-2);
    padding: .3rem;
    border-radius: 50%;
    color: var(--color-text-secondary);
}

.toggle-chevron-sidebar{
    rotate: 270deg;
}

.diagram-tooltip{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding: .3rem;
    border-radius: 10px;
    color: #f3f3f3;
    background-color: #060606cb;
    z-index: 5000;
    text-align: center;
    line-height: 1.5;

    >*{
        margin: 0;
    }
}

