#container {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    user-select: none;
    overflow: none;
}

#svgbacklayer {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    pointer-events: none;
    z-index: -10;
}

#svggrid {
    position:absolute;
    left:0;
    top:0;
    display: none;
    width:100%;
    height:100%;
    pointer-events: none;
    z-index: -10;
}
#svgA4Template{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    pointer-events: none;
    z-index: -10;
}
#a4Template{
    position:absolute;
    left:0;
    top:0;
    display: none;
    width:100%;
    height:100%;
    pointer-events: none;
    z-index: -10;
}

#svgoverlay {
    position:absolute;
    left:0px;
    top:0px;
    border:1px dotted green;
    width:100%;
    height:100%;
    pointer-events: none;
    z-index: 10;
}		

#fab {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
    background-color: #eb4;
    box-shadow: 6px 6px 10px #888;
    user-select: none;
    cursor:pointer;
    z-index: 5001;
}

#options-pane {
    position: fixed;
    top: 0px;
    width: 320px;
    bottom: 0px;
    z-index: 5000;
    background-color: #eb4;
    color: #FFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 6px 10px #888;
    padding: 10px;
    transition: right .3s ease-in-out;
    user-select: none;
}

#options-pane-button {
    display: inline-block;
    vertical-align: top;
    transform-origin: top left;            
    transform: translate(20px,0px) rotate(90deg);
    cursor: pointer;
    width: 780px;
}

#options-pane-content {
    margin-left:20px;
    vertical-align: top;
    display: inline-block;
}

.show-options-pane {
    right: 0px;
}

.hide-options-pane {
    right: -308px;
}

.selected-entry {
    box-shadow: 6px 6px 10px #888;
}

#diagramTypeDropdown, #diagramLoad{
    display: none;
}

#diagramTypeDropdown{
    width: 100%;
    margin-bottom: 10px;
}

.hide {
    display: none;
}	

.element {
    font-size: small;
    box-sizing: border-box;
    overflow: none;
    position:absolute;
}
#pad_lock{
    top: -45%;
    display: block;
    position: relative;
}

#canvasOverlay{
    pointer-events:none;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

.selected-course {
    box-shadow:10px 10px 10px RGBA(0,0,0,0.3);
}

#diagram-header{
    z-index: 1;
    position: relative;
    background-color: #FFF;
}

#rulerOverlay {
    display: none;
    position:absolute;
    left:50px;
    top:0;
    width:100%;
    height:100%;
    pointer-events: none;
    display:block;
    z-index: 20;
}
#ruler-y {
    left: 20px;
    background-color: #000;
    width: 30px;
    height: 1px !important;
    position: absolute;
    z-index: 500;
}

#ruler-x {
    top: 20px;
    background-color: #000;
    height: 30px;
    width: 1px;
    position: absolute;
    z-index: 500;
}
#ruler-x-svg {
    background-color: #fff;
    position:absolute;
    width:100%;
    height:40px;
    z-index:2;
}
#ruler-y-svg {
    background-color: #fff;
    position:absolute;
    width:40px;
    height:100%;
    z-index:2;
}

#rulerCorner {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #fff;
    z-index: 700;
    top: 0px;
}

.diagramIcons{
    position: relative;
    margin: auto;
    width: 34px;
    height: 34px;
    cursor:pointer;
    border: solid 1px var(--color-primary);
    margin-top: 3px;
    
   
}
.diagramIcons:hover, .active{
    background: var(--color-primary-hover);
    border: solid 1px var(--color-primary-light);
}
.diagramIcons img{
    width:34px;
    height:34px;
}
.node {
    position: absolute;
    width: 8px;
    height: 8px;
    background: blue;
}
.node.mr {
    top: calc(50% - 4px);
    right: 0;
    cursor: col-resize;
}
.node.ml {
    top: calc(50% - 4px);
    left: 0;
    cursor: col-resize;
}
.node.md {
    right: calc(50% - 4px);
    bottom: 0; 
    cursor: row-resize;
}

.node.mu {
    right: calc(50% - 4px);
    cursor: row-resize;
}

.underline{
    text-underline-offset: 0.15em;
    text-decoration: underline;
}

.saveButton {
    background-color: #614875;
    border: 0px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 25px;
    transition: 1s background-color;
}

.saveButton:hover {
    background: #815e9d;
    color: #FFF;
}

.saveButton:active {
    background: #614875;
    transition: 0.1s;
    color: #FFF;
}

#diagram-toolbar {
    position: absolute;
    width: 50px;
    height: 100%;
    border-right: solid black 1px;
    background-color: var(--color-primary);
    z-index: 1000;
}
#diagram-toolbar>fieldset {
    padding: 2px;
    border-color: var(--color-primary-hover);
}
#diagram-toolbar>fieldset>legend {
    color: var(--color-text-header);
    font-size: 0.6em;
}
/* Diagram Messages */
#diagram-message {
    width: 300px;
    left: 100px;
    bottom: 20px;
    position: absolute;
    z-index: 100;
    opacity: 1;
    display: block;
    pointer-events: none;
    vertical-align: bottom;
}
#diagram-message .timeIndicatorBar {
    height: 5px;
    width: calc(100% - 20px);
    bottom: 5px;
    left: 10px;
    background: rgba(255,255,255,1);
}
#diagram-message>div {
    pointer-events: auto;
    margin: 5px;
    display: block;
    padding: 10px;
    box-shadow: 6px 6px 10px #888;
}

#diagram-message .error {
    background-color: #FFD2D2;
}

#diagram-message .success {
    background-color: #DFF2BF;
}

#diagram-message .warning {
    background-color: #FEEFB3;
}

#zoom-message-box{
    width: 75px;
    left: 100px;
    bottom: 5px;
    color: white;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
    pointer-events: none;
}

/*tooltip*/

.toolTipText{
    top:-63px;
    left: 125%;
    visibility: hidden;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}
#highestToolTip{
    top: -15px;
}

.diagramIcons:hover .toolTipText{
    visibility: visible;
    transition-delay: 700ms;
}

#tooltip-OPTIONS{
    left: 9.5%;
}

.colorMenu{
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
    height: 50px;
    z-index: 5;
    float: left;
}

@keyframes colorMenuAnim {
    0% {
        width: 0px;
    }

    100% {
        width: 50px;
    }
}

.colorCircle {
    animation-name: colorMenuAnim;
    animation-duration: 0.5s;
}

.colorCircle:hover{
    stroke: white;
    cursor: pointer;
}

.colorMenuButton {
    background-color: #614875;
    border: 0px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 25px;
    transition: 1s;
}

#options-pane-button .toolTipText{
    transform: translate(-150px,100px) rotate(-90deg);
}
#options-pane-button:hover .toolTipText{
    visibility: visible;
}
#fab .toolTipText{
    transform: translate(-335px,-20px);
    font-size: 16px;
    line-height: 20px;

}
#fab:hover .toolTipText{
    visibility: visible;
}

.tooltip{
    position: absolute;
    z-index: 1;
}

#fieldsetBox {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}

/* Markdown document*/

#markdownKeybinds {
    position: absolute;
    display: block;
    z-index: 1000;
    background-color: var(--color-background-4);
    height: 75%;
    width: 30%;
    overflow: scroll;
    border: 2px solid black;
    top: 100px;
    left: 33%;
    padding-left: 10px;
}

/*Cardinality stuff*/

.propertyCardinality{
    padding-left:3px;
    padding-right:3px;
}
/* REPLAY */
#diagram-replay-box{
    position: absolute;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
    z-index: 501;
    width: 100%;
    height: 50px;
    visibility: hidden;
    color: var(--color-text-header);
}
#diagram-replay-message{
     position: absolute;
     background-color: rgba(0, 0, 0, 0.8);
     width: 300px;
     left: calc(50% - 50px);
     bottom: 70px;
     color: var(--color-text-header);
     border-radius: 5px;
     text-align: center;
     z-index: 100;
    visibility: hidden;
     pointer-events: none;
 }
/* toggle placement types */
.togglePlacementTypeButton{
    position: absolute;
    right: -10%;
    bottom: -10%;
    width: 6.2px;
    height: 6.2px;
}
#diagramPopOut{
    position: absolute;
    right: 10%;
    width: 6.2px;
    height: 3.2px;
}
.togglePlacementTypeBoxEntity{
    display: none;
    position: absolute;
    left: 130%;
    bottom: 0;
    padding: 2px;
    background-color:var(--color-primary);
    
}
.togglePlacementTypeBoxRI{
    display: none;
    position: absolute;
    left: 172%;
    bottom: 0;
    padding:2px;
    background-color:var(--color-primary);
    
}
.activeTogglePlacementTypeBox{
    display: flex;
    justify-content: left;
}
.activePlacementType{
    background: var(--color-primary-hover);
}
.hiddenPlacementType{
    display:none;
}
.hiddenToolTiptext{
    visibility:hidden;
}
.placementTypeIcon img{
    position: absolute;
    top: 0px;
    width: 6.2px;
    height: 6.2px;
    z-index: 2;
}
.placementTypeBoxIcons{
    margin: auto;
    width: 34px;
    height: 34px;
    cursor:pointer;
    border: solid 1px var(--color-primary);
}
.placementTypeBoxIcons:hover, .active{
    background: var(--color-primary-hover);
    border: solid 1px var(--color-primary-light);
}
.placementTypeBoxIcons img{
    width:34px;
    height:34px;
}
.placementTypeToolTipText{
    top:0%;
    left:100%;
    visibility: hidden;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}
.placementTypeBoxIcons:hover .placementTypeToolTipText{
    visibility: visible;
}
/*  options panel  */
.options-fieldset {
    width: 90%;
    margin: auto;
}
.options-fieldset-show {
    display: block;
}
.options-fieldset-hidden {
    display: none;
}
#ERTable {
    user-select: text;
}
#zoom-container{
    visibility: visible;
    position: absolute;
    width: auto;
    height: 29px;
    bottom: 4px;
    left: 105px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 1px;
}
.diagramZoomIcons img {
    height: 27px;
    width: 27px;
}
#zoom-message {
    height: 30px;
    width: 40px;
}
.diagramZoomIcons {
    height: 27px;
    width: 27px;
    float: left;
    border: 1px solid transparent;
}
.diagramZoomIcons:hover {
    border: solid 1px var(--color-primary-light);
}
.zoomToolTipText {
    bottom: 40px;
    right: 0%;
    visibility: hidden;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    pointer-events: none;
    position: absolute;
    z-index: 20;
}

.diagramZoomIcons:hover .zoomToolTipText {
    visibility: visible;
}

/* SVG GRID */
#svggrid {
    z-index: -11;
}

#grid {
    width: 100;
    height: 100;
}

#grid > path {
    fill: none;
    stroke: gray;
    stroke: 0.8 0.8;
    stroke-width: 1;
}

#grid_rect {
    width: 100%;
    height: 100%;
    fill: url(#grid);
}

#origoX, #origoY {
    stroke: rgb(105, 105, 105);
    stroke-width: 8;
}

/****************
   A4 TEMPLATE 
*****************/
#a4template {
    z-index: -11;
}

#a4rect {
    width: 794;
    height: 1122;
    stroke:rgb(50, 50, 50);
    stroke-width:2;
    stroke-dasharray: 5 3;
    fill: #ffffee;
    fill-opacity: 0.4;
}

#vRect {
    width: 1133;
    height: 794;
    display:none; 
    stroke:rgb(50, 50, 50);
    stroke-width:2; 
    stroke-dasharray: 5 3; 
    fill: #ffffee;
    fill-opacity: 0.4;
}

#a4Text {
 /* no styling yet */
}