courses/
!install/courses/
!newinstaller/courses/
sftp-config.json
.DS_Store
.idea
vendor/
*.iml

log/

gitErrorLog.txt

# Visual Studio 2015/2017 cache/options directory
.vs/
*.db
.vscode

*diff*.txt
*branch*.txt
log/gitErrorLog.txt
DuggaSys/microservices/endpointDirectory/endpointDirectory_db.sqlite
DuggaSys/microservices/endpointDirectory/newMDStructureTest.md
