ErrorDocument 404 "/errorpages/404.php"
ErrorDocument 403 "/errorpages/403.php"

#URL redirection and clean up
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^/?sh/([0-9a-zA-Z_-]+)$ sh/index.php?c=$1 [NC]

RewriteRule ^/?sh/([a-zA-Z]+)$ sh/index.php?c=$1 [NC]
RewriteRule ^/?sh/([a-zA-Z]+)/([a-zA-Z]+)$ sh/index.php?c=$1&a=$2 [NC]
</IfModule>