Document functional requirements for contributionservice.php

-------------------------
Functional requirements
-------------------------

Read input from the user: The code should be able to read and process the input that's provided from the user.

Display output: The code should be able to display the output to the user in a clear and readable format.

Validate input: The php-file should be able to check the validity of the input from the user. This includes checking for errors like "invalid characters" and data types.

Handle errors: The code should handle errors that may occur during the processing of the input data. For example divisions by zero or out-of-range values. Appropriate error messages should be displayed to the user when necessary.

Process input: The data provided by the user should be able to be processed and then perform the necessary operations/computations accordingly.


-------------------------
Testing possibility
-------------------------

Try different inputs with different characters and numbers of letters. Look at the output and see what the outcome will be.


-------------------------
Description of the code
-------------------------

The code queries a database to get information about different users and their activity within the course management system. The code also retrives commit changes, blames and code changes for every commit made by a Git user in a given time window.
For each commit the code retrives the ID, filename and number of lines changed for each file that was modified.
This information is stored in the $blames variable. The array $commitchanges stores each commit's data which includes Date, ID and changes made. The commit message get's stored in the variable $commitmsg.