/* --------------================################================-------------- *
 *                               Fonts                                          *
 * --------------================################================-------------- */
@font-face {
  font-family:'Hack';
  src:url('../fonts/eot/hack-regular-webfont.eot?v=2.019');
  src:url('../fonts/eot/hack-regular-webfont.eot?#iefix&v=2.019')
  format('embedded-opentype'),url('../fonts/woff2/hack-regular-webfont.woff2?v=2.019')
  format('woff2'),url('../fonts/woff/hack-regular-webfont.woff?v=2.019')
  format('woff'),url('../fonts/web-ttf/hack-regular-webfont.ttf?v=2.019')
  format('truetype');font-weight:400;font-style:normal
}

@font-face {
  font-family:'Hack';
  src:url('../fonts/eot/hack-bold-webfont.eot?v=2.019');
  src:url('../fonts/eot/hack-bold-webfont.eot?#iefix&v=2.019')
  format('embedded-opentype'),url('../fonts/woff2/hack-bold-webfont.woff2?v=2.019')
  format('woff2'),url('../fonts/woff/hack-bold-webfont.woff?v=2.019')
  format('woff'),url('../fonts/web-ttf/hack-bold-webfont.ttf?v=2.019')
  format('truetype');font-weight:700;font-style:normal
}

@font-face {
  font-family:'Hack';
  src:url('../fonts/eot/hack-italic-webfont.eot?v=2.019');
  src:url('../fonts/eot/hack-italic-webfont.eot?#iefix&v=2.019')
  format('embedded-opentype'),url('../fonts/woff2/hack-italic-webfont.woff2?v=2.019')
  format('woff2'),url('../fonts/woff/hack-italic-webfont.woff?v=2.019')
  format('woff'),url('../fonts/web-ttf/hack-italic-webfont.ttf?v=2.019')
  format('truetype');font-weight:400;font-style:italic
}

@font-face {
  font-family:'Hack';
  src:url('../fonts/eot/hack-bolditalic-webfont.eot?v=2.019');
  src:url('../fonts/eot/hack-bolditalic-webfont.eot?#iefix&v=2.019')
  format('embedded-opentype'),url('../fonts/woff2/hack-bolditalic-webfont.woff2?v=2.019')
  format('woff2'),url('../fonts/woff/hack-bolditalic-webfont.woff?v=2.019')
  format('woff'),url('../fonts/web-ttf/hack-bolditalic-webfont.ttf?v=2.019')
  format('truetype');font-weight:700;font-style:italic
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/eot/ubuntu-mono-webfont.eot');
  src: url('../fonts/eot/ubuntu-mono-webfont.eot?iefix') format('eot'),
  url('../fonts/woff/ubuntu-mono-webfont.woff') format('woff'),
  url('../fonts/web-ttf/ubuntu-mono-webfont.ttf') format('truetype'),
  url('../fonts/svg/ubuntu-mono-webfont.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web-ttf/Roboto-Regular.ttf');
}
/* --------------================################================-------------- *
 *                                   Generics                                   *
 * --------------================################================-------------- */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-y:scroll;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0;
}

h1 {
  /*color: #fff;
  font-size: 1.8em;
  line-height: 1.4em;
  */

  margin:2px 0px 10px 0px;
  padding:0px;
}

h2 {
  margin:2px 0px 10px 0px;
  padding:0px;
}

h3 {
  margin:2px 0px 10px 0px;
  padding:0px;
}

.instructions-container h3 {
  border-bottom:none;
}

h4 {
  font-size: 16px;
  margin:1px 0px 8px 0px;
  padding:0px;
}

h6 {
  margin:1px 0px 8px 0px;
  padding:0px;
}



hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.hidden {
	opacity:0.5;
	/* border-radius:4px; */
	margin-left:16px;
}

p {
  margin: .5em auto .5em auto;
}

/* --------------================################================-------------- *
 *                                Sortable Table                                *
 * --------------================################================-------------- */
#thetable {
  padding:10px;
}

#thetable table {
  width:100%;
  padding:1px;
  border-left:2px solid #dbd0d8;
  border-bottom:2px solid #dbd0d8;
  font-size: 16px;
}

#thetable table td {
  border-right:2px solid #dbd0d8;
  line-height:28px;
  padding-left:10px;
  padding-right: 10px;
  margin:0 5px;
}

#thetable table th {
  background:#614875;
  color:#fff;
  line-height:28px;
  font-weight: bold;
  padding-left: 10px;
  height:40px;
}

#thetable--nomargin {
  margin: 0!important;
}

#thetable tbody tr:nth-child(odd) {
    background-color: #ccc;
}

.gradient {
    background-image: radial-gradient(yellow,#f06d06);
}

#editpopover{
    border:1px solid black;
    box-shadow:2px 2px 2px #000;
    position:absolute;
    background-color: #FFF;
}

.icon {
    width:15px;
    height:15px;
    padding:0px;
}

#input-container input{
    width:100%;
    border: none;
    text-overflow: ellipsis;
}

/* --------------================################================-------------- *
 *                               Lists and Content                              *
 * --------------================################================-------------- */

.version {
  color:#EFF;
  text-shadow:1px 1px #000;
  text-align:center;
  padding: 10px;
  font-size: 10pt;
  background-color: #ddd;
}

.err{
  color:#FFE;
  background-color:#964C4D;
  /* border:2px solid #964C4D; */
  border-radius:10px;
  display: block;
  box-shadow:0px 2px 4px #DCD;
  padding:8px;
  text-shadow:1px 1px #000;
}

#content {
  background: #fff;
  min-height: calc(100vh - 90px);
  padding: 65px 10px 25px 10px;
}

#accessedcontent {
  margin:0px auto;
  position:relative;
  padding: 10px 10px 10px 10px;
  background: #fff;
  min-height: 200px;
}

#newbutton {
  margin:0px auto;
  position:relative;
  padding: 50px 12px 8px 8px;
  background: #fff;
  min-height: 50px;
}

#wrappall {
  margin:0px auto;
  width:80%;
  border: 8px solid #ccc;
}

.lena {
  border-radius: 6px 0px 0px 6px;
  color:#FFF;
  background-color: #775886;
  background: linear-gradient(to bottom, #775886 , #573866);
  padding-left:6px;
  padding-right:6px;
  padding-top:2px;
  padding-bottom:2px;
  margin-right:2px;
}

.sys {
  border-radius:6px;
  color:#775886;
  border: 2px solid #775886;
  background-color: #fff;
  padding-right:4px;
  margin-right:4px;
  text-decoration: none;
}

#Courselist {
  margin:0px auto;
  background-color: #fff;
  color:#434343;
  display: block;
  padding-top:1px;
}

#Courselist a {
  color: #775886;
  text-decoration:none;
}

#Courselist a:hover {
  text-decoration:underline;
}

#Courselist .head {
    text-align: center;
    color:#775886;
    font-size: 18pt;
    display: block;
    background-color: #FFF;
    padding-top:7px;
    min-height:30px;
    margin-top:40px;
    margin-bottom:4px;
    padding-bottom:15px;
    border-bottom: 2px dotted #775886;
}

#Courselist .bigg {
  text-align: center;
  color:#775886;
  font-size: 14pt;
  display: block;
  background-color: #fff;
  padding-top:7px;
  min-height:30px;
  margin-right:8px;
  padding-right:8px;
}

.hidden {
  opacity:0.3 !important;
}

.login {
  color:#612 !important;
}

.deleted {
  text-decoration: line-through !important;
  opacity:0.3 !important;
}

#Sectionlist{
  margin:0px auto;
  background-color: #fff;
  color:#434343;
  display: block;
  padding-top:1px;
  border-radius: 5px;
}

.item {
  padding-top:4px;
  min-height:30px;
  font-size: 14pt;
}

#Sectionlist .section {
  color:#fff;
  background-color: #927b9e;
  box-shadow: 0px 3px 0px #aaa;
  margin-bottom: 3px;
}

#Sectionlist .header {
  color:#fff;
  background-color: #775886;
  text-align: center;
}

#Sectionlist .moment {
    color:#ffffff;
    background-color: #927b9e;
	  cursor: pointer;
    box-shadow: 0px 3px 0px #aaa;
    margin-bottom: 3px;
}

/*changes the cursor for the cogwheels*/
#dorf {
	cursor: pointer;
}

#Sectionlist .example {
  color:#434343;
  font-size: 12pt;
  padding-top:5px;
  min-height:26px;
}

#Sectionlist .spacerLeft {
  height:34px;
  width:20px;
  margin-left:20px;
  border-left:2px solid black;
}

#Sectionlist .spacerEnd {
  height:18px;
  width:20px;
  margin-left:20px;
  margin-bottom: 14px;
  border-left:2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 6px;
  overflow: hidden;
}

#Sectionlist .quiz {
  color:#434343;
  font-size: 12pt;
  padding-top:5px;
  min-height:26px;
}

#Sectionlist .course {
  padding:6px;
  text-align: center;
  color: #fff;
  font-size:24px;
  background-color: #614875;
}

.item a {
  text-decoration:none;
  color: #775886;
}

.item a:hover {
  text-decoration:underline;
}

#Sectionlist .norm{
  background-color:#fff;
  color: #000;
}

#Sectionlist .norm:hover {
  background-color: #cccccc;
  color: #000;
}

#Sectionlist .hi:hover {
  background-color: #cccccc;
  color: #000;
}

#Sectionlist .lo:hover {
  background-color: #cccccc;
  color: #000;
}

.hi {
  background-color:#dad8db !important;
}

.lo {
	background-color:#eae8eb !important;
}

.LightBox {
	width:36px;
	vertical-align:middle;
	overflow:hidden;
}

.LightBoxFilled {
	width:36px;
	vertical-align:middle;
	overflow:hidden;
  background-color: #927b9e;
}

.StopLight {
	vertical-align:middle;
	overflow:hidden;
	border:1px solid yellow;
	width:26px;
	height:26px;
	margin-left: 3px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 0px;
	border-radius:14px;
	border:1px solid #000;
}

.WhiteLight{
	background: radial-gradient(white, grey, white);
}

.YellowLight{
	background: radial-gradient(yellow 50%, grey, white 60%);
}

.RedLight{
	background: radial-gradient(red 55%, grey, white 60%);
}

.GreenLight{
	background: radial-gradient(green 55%, grey, white 60%);
}

#Sectionlist .hiddensection {
	opacity: 0.3;
	color: #000;
}

#Sectionlist .loginsection{
	color: #dcb;
}

#Sectionlist .loginsectionl{
	color: #612;
}

/* Instruction and submission of dugga */
#leftDivDialog, #rightDivDialog{
  width: 49%;
}

.tooltip{
  line-height: 32px;
}

.tooltiptext{
  display: none;
  width: 160px;
  background-color: #614875;
  color: white;
  text-align: center;
  border-radius: 6px;
  margin: 0 5px;
}

.tooltip:hover .tooltiptext {
  display: inline-block;
}

/* --------------================################================-------------- *
 *                                    Header                                    *
 * --------------================################================-------------- */

header {
  /*overflow: hidden;*/
  color: #fff;
  height: 50px;
  width: 100%;
  background: #614875;
  position: fixed;
  z-index: 5000;
  top: 0px;
  left: 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);
}

header td {
  white-space: nowrap;
}

#scoreElement {
  z-index: 9000;
  width: 100px;
  background-color: white;
  text-align: center;
  position: fixed;
  top: 0%;
  left: 50%;
  margin-top: 7px;
  margin-left: -50px;
  border-style: solid;
  border-width: 1px;
	display:none;
}

.navheader {
  height: 20px;
  margin-bottom: 10px;
  width:100%;
}

.trsize {
  margin-top:5px;
  margin-bottom:20px;
}

.navButt {
  width:32px;
  vertical-align: middle;
}

.navButt img {
  margin-left: 10px;
  vertical-align: middle;
  height: 32px;
}

.navButt:hover {
  cursor: pointer;
}

.navHeading {
  font-size: 2.5em;
  vertical-align: middle;
  padding-left: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
  overflow: hidden;
}

.navName {
  font-size:0.8em;
  color: #FFFFFF;
  cursor:default;
  text-decoration:none;
  text-align:right;
  overflow:hidden;
  padding-right:4px;
}

.navName:hover {
  font-size:0.8em;
	text-shadow:1px 1px 4px #50A750;
  color: #FFFFFF;
  cursor:default;
	text-decoration:underline;
  text-align:right;
  overflow:hidden;
  padding-right:4px;
}

.navName a {
  color: #FFFFFF;
  text-decoration:none;
  overflow:hidden;
}

.navName a:hover {
  color: #FFFFFF;
	text-decoration:underline;
  overflow:hidden;
}

.loggedout {
  background-color: #c75050;
}

.loggedout:hover {
  background-color: #50a750;
}

.loggedin {
  background-color: #50a750;
}

.loggedin:hover {
  background-color: #c75050;
}

#loginbutton{
  cursor:pointer;
  height:50px;
  width: 50px;
  vertical-align: middle;
  text-align: center;
}

#div2 {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left:0px;
  right: 0px;
  background:#fff;
}


/* --------------================################================-------------- *
 *                                   Dialog Box                                 *
 * --------------================################================-------------- */

#resultpopover{
  position:fixed;
  left:16px;
  top:8px;
  right:16px;
  bottom:8px;
  z-index:9000;
  box-shadow:2px 2px 4px #000;
  padding:4px;
  background-color: #ccc;
  border: 2px solid #999;
}

#previewpopover{
  position:fixed;
  left:8px;
  top:8px;
  right:8px;
  bottom:8px;
  z-index:11000;
  box-shadow:2px 2px 4px #000;
  padding:4px;
  background-color: #ccc;
  border: 2px solid #999;
}

.previewpopover{
  position:absolute;
  left:20%;
  top:58px;
  right:20%;
  height: 300px;
  z-index:11000;
  box-shadow:2px 2px 4px #000;
  padding:4px;
  background-color: #ccc;
  border: 2px solid #999;
}

.floatRightBox{
  width:220px;
  min-height:300px;
  float:left;
  margin-left:10px;
  overflow:auto;
  float:right;
  z-index:9000;
  box-shadow:2px 2px 4px #000;
  padding:4px;
  background-color: #ccc;
  border: 2px solid #999;
}


#overlay {
  position: fixed;
  top: 0;
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 8000;
}

.loginBoxContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.6);
    z-index: 8000;
}

.loginBox {
		/*display:block;*/
		padding:4px;
		background-color: #ccc;
		border: 2px solid #999;
		/*width: 350px;*/
		min-height: 100px;
    min-width: 200px;
    max-height: 80%;
    overflow-y: auto;
		/*z-index: 9000;
		position: fixed;
		top: 30%;
		left: 50%;
		margin-left: -178px;*/
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);
}

.expiremessagebox, .endsessionmessagebox {
		display:block;
		padding:4px;
		background-color: #ccc;
		border: 2px solid #999;
		width: 350px;
		min-height: 100px;
		z-index: 9000;
		position: fixed;
		top: 30%;
		left: 50%;
		margin-left: -178px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);
}

#endsessionmessagebutton {
  background-color:#614875;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border:0px;
  width:110px;
  height:30px;
  color:#fff;
  cursor:pointer;
  margin-top:6px;
  margin-bottom:2px;
  margin-left:115px;
  font-size:14px;
  transition:1s background-color;
}

#endsessionmessagebutton:hover {
  background-color:#7B5A96;
  border-radius:2px;
}

#editSection {
  /*top: 50%;
  left: 50%;
  margin-top: -245px;
  margin-left: -236px;*/
}


.loginBox textarea, #import{
  width:100%;
  height:200px;
  margin:auto;
  margin-top:7px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding:5px;
}

.loginBox textarea, #receipt {
  width:100%;
  height:60px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.note {
  font-size: 0.95em;
}

.loginBox .cursorPointer {
  cursor: pointer;
}

#playlink {
  width: 216px;
}

#editContent td {
	padding: 5px 5px 0px 5px;
}

#editContent select  {
	padding: 5px;
	float: none;
	width: 100%;
	height: 30px;
}

#editContent input[type="number"] {
	height: 30px;
	border-color: rgb(169, 169, 169);
}

#editContent input[type="text"] {
  height: 30px;
  border-color: rgb(169, 169, 169);
  width: 100%;
}

#editContent input.submit-button {
	margin:0;
}

#impwords, #impword {
  max-width: 184px;
  min-width: 184px;
  margin-left: 0px;
}

#before, #after {
  /*width: 226px;*/
  width: 100%;
}

#playlink {
  /*width: 216px;*/
  width: 100%;
}

input {
  border-radius: 2px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.loginBox .inputwrapper {
  clear:both;
	width:100%;
	padding:3px 0 3px 0;
	height:30px;
	line-height:30px;
}

.loginBox .inputwrapper span{
  float:left;
}

.loginBox .inputwrapper input, .loginBox .inputwrapper select{
  float:right;
}

.loginBox .inputwrapper input[type="checkbox"]{
  margin-right:200px;
  height:24px;
}

.loginBox select {
  width: 216px;
  height: 30px;
  line-height: 18px;
  color: #6f6f6f;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 5px;
  font-size: 14px;
}

.loginBoxheader {
  height: 25px;
  background-color: #614875;
  vertical-align: bottom;
  padding-left: 10px;
  cursor:move;
  display:flex;
  justify-content: space-around;
}

.loginBoxheader h3 {
  font-size: 14px;
  margin-top: 10px;
  line-height: 0.5em;
  color: #fff;
  width: 100%;
}

.loginBoxheader div {
  padding: 2px 20px;
  /*position: absolute;
  top: 4px;
  right: 4px;*/
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgb(199, 80, 80);
  font-family: arial;
  font-weight: bold;
  height: 21px;
}

.loginBoxheader div:hover {
  background-color: #ce3d3d;
}
.loginBoxbody {

}

.loginBox form {
  padding: 20px;
}

.loginBox .text {
  font-size: 0.8em;
}

.loginBox .submit {
  width: 80px;
  height: 25px;
  color: #fff;
  background-color: #614875;
  border: 0px;
  border-radius: 4px;
  margin-left: 1px;
}

.loginBox .cancel {
  width: 80px;
  height: 25px;
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
  border: 1px;
  border-radius: 4px;
  margin-left: 1px;
}

.loginBox .forgotPw {
  cursor: pointer;
  text-decoration: underline;
}

.loginBox .form-control {
  margin: 3px 0px 3px 0px;
}

.loginBox .hide {
  display: none;
}

.loginBox td{
  margin-left:4px;

}

.buttonLoginBox {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#614875;
  border: none;
  width:260px;
  height:40px;
  color:#fff;
  cursor:pointer;
  margin-top:20px;
  margin-bottom:2px;
  font-size:14px;
  transition:1s background-color;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 10px 0 rgba(0,0,0,0.1);
}

.buttonLoginBox:hover {
  background-color:#7B5A96;
  border-radius:2px;
}

.loginBoxTable{
  border-collapse: collapse;
  font-family: Roboto, Arial Narrow;
  margin-left: -2px;
}

#loginBoxTitle{
  font-size: 15px;
}
/* ---- ---- ---- --- HigescoreBox --- ---- ---- ---- */

#HighscoreTable{
	text-align: center;
}

#HighscoreTable th{
	font-size: 120%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.highscoreUser {
	background-color: rgba(99, 102,99, 0.4);
}

/* --------------================################================-------------- *
 *                              TOOLBOX/APPLICATION                             *
 * --------------================################================-------------- */
 /*                    vIEW DIAGRAM.PHP FOR EXAMPLE OF USAGE                     */

#diagram-toolbar{
    height:500px;
    width:125px;
}
.application-toolbar-wrap{
    position:fixed;
    z-index:1000;
    display:block;

    border:1px solid rgb(200,200,200);
    outline:1px solid rgb(240,240,240);
    background-color:#fff;
}
.application-header{
    height: 25px;
    background-color: #614875;
    color:#fff;
    vertical-align: bottom;
    padding-left: 10px;
    cursor: move;
    display: flex;
    justify-content: space-around;
    margin:0px;
}

.application-toolbar{
    padding-top:16px;
}
.application-toolbar > input[type='button']{
    background-color:black;
}

.toolbar-drawer{
    padding:8px 8px;
    border-top:1px solid rgb(240,240,240);
}
.application-toolbar h4.label{
    font-size:11px;
    font-weight:none;
    margin-top:8px;
    margin-bottom:0px;
    padding:0px 4px 0px 4px;
}

/* --------------================################================-------------- *
 *                            END TOOLBOX/APPLICATION                           *
 * --------------================################================-------------- */
 /* --------------================################================-------------- *
  *                        TOOLBAR/DROPDOWN/APPLICATION                          *
  * --------------================################================-------------- */
/*                    vIEW DIAGRAM.PHP FOR EXAMPLE OF USAGE                     */
 .document-settings{
     font-size:14px;
 }
 .document-settings > .menu-item, .document-settings > .menu-drop-down{
     float:left;
 }
 .document-settings span.label{
     display:block;
     height:22px;
     line-height:22px;
     padding: 0px 6px;
 }
 .document-settings span.label:hover{
     cursor:pointer;
     background-color:rgb(240,240,240);
 }
 .document-settings > .menu-drop-down:hover > .drop-down{
     display:inline-block;
 }
 .drop-down{
     position:absolute;
     z-index:2000;
     outline:1px solid rgb(240,240,240);
     border:1px solid rgb(200,200,200);
     display:none;
     width:260px;
     background-color:rgb(255,255,255);
 }
 .menu-drop-drown{
     display:relative;
     top:22px;
 }
 .drop-down-divider{
     display:block;
     width:100%;
     height:6px;
     border-bottom:1px solid rgb(240,240,240);
     margin-bottom:6px;
 }
 .drop-down-item > a{
     color:rgb(0,0,0);
     text-decoration:none;

     display:inline-block;
     width:252px;
     height:16px;
     line-height:16px;
     padding: 8px 0px 8px 8px;
 }

 .drop-down-item > a::before{
     /*PLACEHOLDER FOR ICON*/
     display:inline-block;
     width:16px;
     height:16px;
     content:"I";
 }
 .drop-down-item:hover{
     background-color:rgb(240,240,240);
 }

 /* --------------================################================-------------- *
  *                       END TOOLBAR/DROPDOWN/APPLICATION                       *
  * --------------================################================-------------- */


/* --------------================################================-------------- *
 *                                 Form Controls                                *
 * --------------================################================-------------- */

.form-control {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.textinput {
  display: block;
  width: 216px;
  height: 30px;
  line-height: 18px;
  color: #202020;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 5px;
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  border-radius: 0px;
  box-sizing: border-box;
}

input.option {
  float: left;
}

button.option {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  width: 38px;
  height: 38px;
  padding: 6px 12px;

}

input.submit-button {
  background-color:#614875;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border:0px;
  width:110px;
  height:30px;
  color:#fff;
  cursor:pointer;
  margin-top:6px;
  margin-bottom:2px;
  margin-left:4px;
  font-size:14px;
  transition:1s background-color;
  float:left;
}

input.submit-button-newitem {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  background-color:rgb(253, 203, 96);
  border: 0px;
  width:35px;
  height:25px;
  color:rgb(97, 73, 116);
  cursor:pointer;
  margin-top:2px;
  margin-bottom:2px;
  margin-left:0px;
  font-size:16px;
  text-align: center;
  transition:1s background-color;
  float:right;
}

input.submit-button-newitem:hover {
  transition: 0.4s;
  background-color: rgb(283, 233, 126);
}

input.diagram-sidebar-buttons {
   background-color:#7B5A96;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   border:0px;
   width:130px;
   height:30px;
   color:#fff;
   cursor:pointer;
   margin-top:6px;
   margin-bottom:2px;
   margin-left:4px;
   font-size:14px;
   transition:1s background-color;
   float:left;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 10px 0 rgba(0,0,0,0.1);
 }
input.diagram-sidebar-buttons:hover {
  background-color:#33AAFF;
  border-radius:2px;
}
button.diagram-menu-buttons {
  background-color:#ff8000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border:0px;
  width:130px;
  height:30px;
  color:#fff;
  cursor:pointer;
  margin-top:6px;
  margin-bottom:2px;
  margin-left:4px;
  font-size:14px;
  transition:1s background-color;
  float:left;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 10px 0 rgba(0,0,0,0.1);
}
button.diagram-menu-buttons:hover {
  background-color:#ffcc55;
  border-radius:2px;
}
input.hide-moments-button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color:rgb(253, 203, 96);
  border: 0px;
  width:77px;
  height:25px;
  color:rgb(97, 73, 116);
  cursor:pointer;
  margin-top:2px;
  margin-bottom:2px;
  padding: 0px;
  margin-left:0px;
  font-size:10px;
  font-weight: bold;
  transition:1s background-color;
  float:left;
}

input.fileed-button {
    background-color:#7B5A96;
    margin-right:6px;
    margin-top:6px;
    margin-left:6px;
    margin-bottom:6px;
}

input.submit-button:hover {
  background-color:#7B5A96;
  border-radius:2px;
}


input.fileed-button:hover {
    background-color:#91859b;
}

input.submit-button:disabled {
  opacity: 0.3;
}

.buttonsStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.buttonsStyle img,
#moveButton img {
  width: 50px;
  height: 40px;
}

.buttonsStyle[data]:hover:after {
  content: attr(data);
  padding: 4px 8px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 10;
  border-radius: 5px;
  background: #614875;
}

#moveButton {
  right: 2px;
  top: 100;
  z-index: 2;
  position: absolute;
  border-radius: 0px;
}

#moveButton img {
  height: 30px;
  width: 30px;
  padding: 2px;
}

.unpressed{
  background:#614875;
}

.pressed{
  background:#FFA500;
}

.button-row {
  width:100%;
  height:35px;
  text-align: right;
}

input.large-button {
  width:160px !important;
  height:48px !important;
  line-height:48px !important;
}

/* File upload form */

.inputfile {
	width: 0.1px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
    padding-right: 10px;
    color: white;
    background-color: #614875;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #7B5A96;
    transition:1s background-color;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.file-upload-submit{
    font-size: 16px;
    font-weight: 300;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: -1;
    color: white;
    background-color:#614875;
    cursor: pointer;
    border: none;
    border-radius: 0;
    display: inline-block;
}

.list {
  width:100%;
  padding:1px;
  border-left:2px solid #dbd0d8;
  border-bottom:2px solid #dbd0d8;
  margin-top:20px;
  font-size: 16px;
}

.innertable {
  background:#fff;
  box-shadow:2px 3px 2px #a09098 inset;
  border-top: 2px solid #dbd0d8;
  border-bottom: 2px solid #dbd0d8;
}

.innertable td {
  color:#000;
  line-height:28px;
  border:none;
  text-align:left !important;
}

.list td {
  border-right:2px solid #dbd0d8;
  line-height:28px;
  padding-left:8px;
}

.list th {
  background:#614875;
  color:#fff;
  line-height:28px;
  font-weight: bold;
  padding-left: 10px;
}

.innertable {
  background:#fff;
  box-shadow:2px 3px 2px #a09098 inset;
  border-top: 2px solid #dbd0d8;
  border-bottom: 2px solid #dbd0d8;
}

.innertable td {
  color:#000;
  line-height:28px;
  border:none;
}

.list--nomargin {
  margin: 0!important;
}

.last {
  width:110px;
}


.list#testTable td{
    padding:0px;
    text-align:center;
    border:none;
}

.list#testTable th{
    line-height:45px;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.21);
    font-size: 16px;
}

.list#testTable tr{
    line-height:45px;
    border-bottom:1px solid gray;
    font-size: 14px;
}
.list#testTable tr>tr{
    line-height:45px;
    border-bottom:none;
}

.list#testTable .variantInfo {
    display:none;
}

.list#testTable #plorf:hover,  .list#testTable #dorf:hover {
    cursor:pointer;
}

.list#testTable #plorf, .list#testTable #dorf {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    padding:4px;
}

.list#testTable input, .list#testTable select, .list#testTable label {
    padding:0px;
}

.list tbody tr:nth-child(odd) {
    background-color: #ccc;
}
.list#testTable tr:nth-child(odd), .list#testTable tr:nth-child(even){
    background-color:#eae8eb;
}
.evenfumo {
  background: #ccc !important;
}
.oddfumo {
  background: #eae8eb !important;
}

.selectedtr {
    border-bottom:none !important;
}

#testinnertable {
    background:#fff;
    box-shadow:none;
    border-top: none;
    border-bottom: none;
}

#testinnertable tr {
    border-bottom: none !important;
    background-color:white !important;
}

span.arrow {
    padding:4px;
    cursor:pointer;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.list#testTable input {
  border-width: 1px !important;
  border-style: inset !important;
  border-radius: 0px;
  font-size:14px;
  height:17px;
  color:black;
}

#testinnertable {
  background:#fff;
  box-shadow:none;
  border-top: none;
  border-bottom: none;
}

.markinglist {
  width:100%;
  padding:1px;
  border-left: 2px solid #dbd0d8;
  border-bottom:2px solid #dbd0d8;
  font-family: hack,"Lucida Console", Monaco, monospace;
}

.markinglist  td {
  border-right:2px solid #dbd0d8;
  font-size: 10px;
}

.markinglist  th {
  background:#614875;
  color:#fff;
  font-style: italic;
  font-size: 12px;
  white-space: nowrap;
}

.feedback-list caption {
  border-left:2px solid #dbd0d8;
  background:#614875;
  color:#fff;line-height:28px;
}

.feedback-list {
  table-layout:fixed;
  width:100%;
  margin-top: 2px!important;
}

.feedback-list th,.feedback-list td {
  font-size: 12px;
  word-wrap: break-word;
}

.feedback-list td {
  line-height: normal;
}

@media print {

	header {display:none;}

	body {margin:0px}

	#content {margin:0px; padding:0px; border:none;}
}

/* Clearfix styles */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.arrowComp {
  vertical-align: text-top;
  position: relative;
  cursor: pointer;
  margin-top: 4px;
}

.arrowRight {
  vertical-align: text-top;
  position: relative;
  cursor: pointer;
  margin-top: 4px;
}

/* DuggaSys Sectioneed*/

/* Course version dropdown div */
.course-dropdown-div {
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../icons/desc_primary.svg") no-repeat 90% 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 10px 0 rgba(0,0,0,0.1);
    background-position: right;
}
/* Course version dropdown */
.course-dropdown {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    padding: 3px;
    border: none;
    width: 120px;
    height: 28px;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: text-top;
}



/* End DuggaSys Sectioneed*/
/**************************/


#tableheader {
	background: #614875;
	color:#FFFFFF;
	margin-top:10px;
	float:left;
	width: calc(100% - 200px);
	overflow:hidden;
}

#tableheaderwrapper{
	min-width:4100px;
}

#tableheaderwrapper div{
	height:30px;
	line-height:30px;
	float:left;
	text-align:center;
}


#dropdownFilter{
	width: 150px;
}

.fumo {
	clear:both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background-color: #eae8eb;
}

/* End DuggaSys resulted*/
/**************************/



/* End DuggaSys resulted*/
/**************************/

.gradeInput {
  margin:0;
}

.badge {
  position: absolute;
  right:2px;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #f00;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888;
}

.submit-button {
  background-color:#614875;
  border:0px;
  width:110px;
  height:30px;
  color:#fff;
  cursor:pointer;
  margin-top:6px;
  margin-bottom:2px;
  margin-left:4px;
  font-size:14px;
  transition:1s background-color;
  float:right;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 10px 0 rgba(0,0,0,0.1);
}

.submit-button:hover {
  background-color:#7B5A96;
  border-radius:4px;
}
.no-radius:hover{
    background-color:#7B5A96;
    border-radius: 0;
}

#feedbackTable table {
  width: 100%;
}

#feedbackTable tbody tr:nth-child(odd) {
  background-color: #FFF;
}

#feedbackBox {
  display:none;
  position:absolute;
  top:0;
  right:0;
}

.facitPreview {
  width:200px;
  height:200px;
  overflow:hidden;
  position:absolute;
  bottom:50px;
  right:11px;
  border:1px solid black;
}

.facitPopover {
  overflow:hidden;
  position:absolute;
  top: 50px;
  bottom:50px;
  right:50px;
  left:50px;
  border:1px solid black;
}

#MarkCont a:hover {
  text-decoration: none;
}

.loginTransparent {
	display:block;
	height: 60px;
	background-color: #614875;
	text-align: left;
}

.loginTransparent img {
	height: 50px;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	padding: 5px 0px;
}

.loginTransparent p{
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	color:#fff;
}

.pane {
  border-top: 2px solid  #614875;
  border-left: 2px solid  #614875;
  border-right: 2px solid  #614875;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color:#000000;
}

.pane-active {
  background-color: #614875;
  color: #FFFFFF;
}

.pane-header {
  display: flex;
  justify-content: flex-start;
}

.pane-body {
  border:2px solid #614875;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fab {
  position:fixed;
  width:50px;
   height:50px;
   border-radius:25px;
   box-shadow:0px 0px 15px #888;
   bottom:35px;
   right:50px;
   font-size:24px;
   text-align:center;
   background-color:#fecc56;
   color:#614875;
   z-index:4000;
   border:0;
   outline: none;
   cursor: pointer;
   padding-left: 7px;
   padding-top: 1px;
 }

.fab:hover {
    transform:scale(1.1);
}

.dugga-pass {
	border-left: 2px solid rgb(219, 208, 216);
	background-color: rgb(221, 255, 238);
}

.dugga-pass-highlighted {
	background-color: rgb(181,215,168) !important;
}

.dugga-pending {
	border-left: 2px solid rgb(219, 208, 216);
	background-color: rgb(255, 255, 221);
}

.dugga-pending-highlighted {
	background-color: rgb(215,215,181) !important;
}

.dugga-fail {
	border-left: 2px solid rgb(219, 208, 216);
	background-color: rgb(255, 170, 170);
}

.dugga-fail-highlighted {
	background-color: rgb(215, 155, 155) !important;
}

.dugga-assigned {
	border-left: 2px solid rgb(219, 208, 216);
	background-color: rgb(248, 232, 248);
}
.dugga-assigned-highlighted {
	background-color: rgb(208,192,208) !important;
}

.dugga-unassigned {
	border-left: 2px solid rgb(219, 208, 216);
}

.dugga-unassigned-highlighted {
	background-color: rgb(215,215,215) !important;
}

.result-header {
  border-left:2px solid white;
  padding-right: 3px;
  position: relative;
}
.grouped-header {
  border-left:2px solid white;
  padding-right: 3px;
  position: relative;
}
.grouped-header:hover{
  cursor:pointer;
}

.result-data {
  padding:0px;
  max-width: 140px;
  min-width: 140px;
}

.text-center {
  text-align:center;
}

.fist {
  width:24px;
  height:24px;
  float:right;
  /*margin-right:8px;*/
}

.highlightRow {
  opacity: 1.0 !important;
}

.responseArea {
  width: 100%;
  height:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.markCont {
  position:absolute;
  left:4px;
  right:204px;
  top:34px;
  bottom:4px;
  border:2px inset #aaa;
  background:#bbb;
  overflow:scroll;
}

#teacherFeedbackTable {
  padding:2px;
}

.show {
  display:block;
}

.gradeContainer {
  display: flex;
  justify-content: space-around;
  padding: 5px 0 5px 0;
  min-width:140px;
  max-width:140px;
  margin: auto;
}

#newFeedback {
  width:98%;
  height: 140px;
  padding: 2px;
}

.feedback-info {
  font-size: 10px;
  font-style: italic;
}

.dugga-moment {
	background-image:url('../icons/Stripes2.png');
}

.dugga-result-subheader {
	border-top:2px solid white;
}

.dugga-result-subheader-div {
		direction:rtl;
		max-width:140px;
		min-width:140px;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
    display: inline-block;
    line-height: 26px;
    height: 20px;
    position: relative;
	  cursor: pointer;
}

.checkbox-dugga {
  font-size:16px;
  max-width:280px;
  overflow-x:hidden;
  overflow-y: auto;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.checkmoment {
  border-top: 1px solid #888;
  font-weight: bold;
}

.checkhidden {
  opacity:0.4;
  font-style:italic;
}

.checknarrow {
	max-width:140px !important;
	min-width:140px !important;
}

.grading-hidden {
  visibility: hidden;
}
.headerlabel {
  color: black;
  font-size: 16px;
  direction: rtl;
  max-width: 140px;
  min-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.U, .Uc, .Uh, .G, .Gc, .Gh, .VG, .VGc, .VGh  {
    height:24px;
    width:24px;
	  cursor: pointer;
}

.result-header-inverse {
  background-color: rgb(255, 204, 85) !important;
  color:#614875 !important;
}

.dropdown-container {
  position:relative;
}

.dropdown-list-container {
	padding:8px;
	width:300px;
	overflow:hidden;
	font-size:12px;
	display:none;
	position:absolute;
  top:10px;
	background:#fff;
	box-shadow:2px 2px 8px #888;
}

.dugga-result-div {
	max-width:200px;
	min-width:140px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.badge {
  position: absolute;
  top:0px;
  right:2px;
  min-width: 10px;
  padding: 3px 7px 1px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: #f00;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888;
}

.vhighlight-border-color {
  border:4px solid #614875 !important;
  box-shadow:0px 0px 4px #202 inset;
}

.vhighlight-border-color-inverse {
  border:4px solid #fecc56 !important;
  box-shadow:0px 0px 4px #ffcc55 inset;
}

.hhighlight-border-color {
  border-bottom:2px solid black !important;
  border-top:2px solid black !important;
  box-shadow:0px 0px 4px #202 inset;
}


.rowno > div {
  text-align: right;
  font-size: 20px;
  color:#614875 !important;
  min-height: 47px;
  line-height: 47px;
}

.rownoMagic {
  width: 25px;
}

.rownoMagic > div {
  text-align: right;
  font-size: 20px;
  color:#614875 !important;
  min-height: 47px;
  line-height: 47px;
}

.grouprow > div {
  text-align: center;
  font-size: 20px;
  color:#614875 !important;
  min-height: 47px;
  line-height: 47px;
}

.groupStar {
  display: none;
  font-size: 20px;
  color:#614875 !important;
  min-height: 47px;
  line-height: 47px;
  margin: 0px 5px;
  font-weight: bold;
}

/*styling for contribution.php*/
/*this was inline-CSS before, only moved it to the right file*/
.fumho th {
  background:#620;
  color:#fff;
  font-family:Arial;
  font-weight: bold;
}

.contribheading {
	background:#FFF8A5;
	box-shadow:1px 1px 6px rgba(0,0,0,0.6);
	border-radius: 4px 6px 0px 0px;
	max-width:400px;
	overflow:hidden;
	margin-top:8px;
}

.contribcontent {
	position:relative;
	background:#FFF8A5;
  margin-bottom:10px;
	margin-top:4px;
	z-index:3000;
	box-shadow:1px 1px 6px rgba(0,0,0,0.6);
	padding-left:8px;
	width:400px;
}

.contrib {
	font-family: Roboto,Arial Narrow,Arial,sans-serif;
	font-size:14px;
  padding-bottom:10px;
	padding-top:10px;
	padding-left:8px;
	padding-right:8px;
	width:400px;
}

.contribfile {
	color:#521;
}

.contribpath {
	color:#252;
}

.createissue {
	color:#247;
}

.contentissue {
	color:#472;
	padding-left:20px;
	padding-right:10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table {
	border-collapse: collapse;
	font-family: Roboto,Arial Narrow;
}

.fumho td {
	padding-left:8px;
	padding-right:8px;
	border-right:2px dotted rgba(0,0,0,0.2);
}

.fumho tr:nth-child(even) {
	background-color:#e8e8e8;
}

.fumho tr:nth-child(odd) {
	background-color:#fff;
}


/* JQuery UI Complement for missing icons in the DatePicker */

.ui-datepicker .ui-datepicker-next span {
  background: url("../icons/PlayT.svg");
  transform: rotate(0deg);
}

.ui-datepicker .ui-datepicker-prev span {
  background: url("../icons/PlayT.svg");
  transform: rotate(180deg);
}
/*end, styling for contribution.php*/


/* styling for the search bar in fileed.php */
#searchBar {
  display: inline-flex;
  height: 24px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5), 0 2px 10px 0 rgba(0,0,0,0.1);
}

#searchinput {
  margin-right: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
  border-bottom: 0;
  padding: 0 0 0 2px;
}

#searchbutton {
  position: relative;
  width: 26px;
  height: 25px;
  margin: 0;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: none;
}

#lookingGlassSVG {
  position: absolute;
  top: 2px;
  left: 3px;
}

/* styling for fileed switching table button*/
.switchContent {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5), 0 2px 10px 0 rgba(0,0,0,0.1);
  font-size:14px;
  text-align:center;
  background-color:#614875;
  color:#fff;
  padding:6px;
  margin:1px;
  border-radius: 2px;
  border:0px;
  cursor: pointer;
}

/* Smartphones (portrait and landscape) ----------- */
/* @media only screen */
/* and (min-device-width : 320px) */
/* and (max-device-width : 480px) { */
.alertmsg {
  background-color: #fecc56;
  z-index: 1000;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  padding: 0 20px 0 0px;
  display: flex;
  text-align: center;
}

.alertmsg p {
  /* margin: 0px; */
  /* margin-left: 5px; */
  display: inline;
  align-self: center;
  color: #614875;
}

.alertmsg input {
  float: none;
  align-self: center;
  margin-right: 5px;
}
/* } */

.nowrap {
  white-space: nowrap;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis; /* rest */
  -o-text-overflow: ellipsis; /* opera */
}

.showhidetext {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: white;
  -webkit-transform: none;
  transform: none;
}

.hideAll{
  left:25px;
}

.showAll{
  left:25px;
}

/* Section editor menu buttons */

/* The original state of the buttons */
table.navheader td.menuButton {
  margin-right: 2px;
  width: 112px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

table.navheader div.menuButton {
  pointer-events: auto;
  display: inline-block;
  opacity: 1.0;
  transition:  opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

/* Simple material design boxes */
.material-box {
   border-radius: 2px;
   margin: 10px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   padding: 20px;
}
.material-box h3 {
  margin: -20px -20px 10px -20px;
  border-radius: 2px 2px 0 0;
  background: #614875;
  color: #fff;
  padding: 10px 20px;
}


/* Hamburger menu, hidden as default state */
table.navheader td.hamburger {
  pointer-events: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-right: 0px;
  width: 0px;
  opacity: 0.0;
  transition: width 0.5s, opacity 0.5s, margin 0.5s;
  -webkit-transition: width 0.5s, opacity 0.5s, margin 0.5s;
  -moz-transition: width 0.5s, opacity 0.5s, margin 0.5s;
  -o-transition: width 0.5s, opacity 0.5s, margin 0.5s;
}

table.navheader nav.package {
  margin-left: 0px;
  widht: 100%;
}

table.navheader div.hamburgerMenu {
  padding: 2px 2px 2px 2px;
  pointer-events: none;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 1;
  background-color: #ccc;
  border: 2px solid #999;
  display: none;
  overflow-x: hidden;
}

table.navheader input.hamburger {
  width: 30px;
  margin: 6px 0px 6px 4px;
  padding: 1px 6px 1px 6px;
}

ul.hamburgerList {
  list-style-type: none;
  margin: 2px 2px 2px 2px;
  padding: 0px 0px 0px 0px;
}

ul.hamburgerList li {
  margin: 2px 2px 2px 2px;
  padding: 0px 0px 0px 0px;
  pointer-events: none;
  display: none;
  height: 0px;
  opacity: 0;
}

ul.hamburgerList button.menuButton {
  margin: 2px 2px 2px 2px;
  padding: 0px 0px 0px 0px;
}

/* moment date and course version */

.dateField {
  display: inline-block;
  opacity: 1.0;
  max-width: 1000px; /* Cannot animate to auto width, 1000px should be enough for anyone */
  pointer-events: auto;
  transition: opacity 300ms, width 300ms;
  -webkit-transition: opacity 300ms, width 300ms;
  -moz-transition: opacity 300ms, width 300ms;
  -o-transition: opacity 300ms, width 300ms;
}

.courseVersionField {
  display: inline-block;
  margin-right: 10px;
  opacity: 1.0;
  max-width: 1000px; /* Cannot animate to auto width, 1000px should be enough for anyone */
  pointer-events: auto;
  transition: opacity 300ms, width 300ms, margin 300ms;
  -webkit-transition: opacity 300ms, width 300ms, margin 300ms;
  -moz-transition: opacity 300ms, width 300ms, margin 300ms;
  -o-transition: opacity 300ms, width 300ms, margin 300ms;
}



@media only screen and (max-width: 1085px), only screen and (max-device-width: 1085px) {
  table.navheader td.editVers,
  table.navheader td.contribution,
  table.navheader td.newVers {
    margin-right: 0px;
    width: 0px;
    -webkit-transition: margin-right 0.5s, width 0.5s;
    -moz-transition: margin-right 0.5s, width 0.5s;
    -o-transition: margin-right 0.5s, width 0.5s;
  }

  table.navheader div.editVers,
  table.navheader div.contribution,
  table.navheader div.newVers {
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
  }

  table.navheader td.hamburger {
    pointer-events: auto;
    width: 32px;
    opacity: 1.0;
    margin-right: 4px;
    -webkit-transition: opacity 0.5s, width 0.5s, margin 0.5s;
    -moz-transition: opacity 0.5s, width 0.5s, margin 0.5s;
    -o-transition: opacity 0.5s, width 0.5s, margin 0.5s;
  }

  ul.hamburgerList li.newVers,
  ul.hamburgerList li.editVers,
  ul.hamburgerList li.contribution {
    pointer-events: auto;
    display: block;
    height: 26px;
    opacity: 1.0;
  }

  /* moment date and course version */
  .dateField {
    opacity: 0.0;
    max-width: 0px;
    pointer-events: none;
    transition: opacity 300ms, width 300ms;
    -webkit-transition: opacity 300ms, width 300ms;
    -moz-transition: opacity 300ms, width 300ms;
    -o-transition: opacity 300ms, width 300ms;
  }

  .courseVersionField {
    margin-right: 0px;
    opacity: 0.0;
    max-width: 0px;
    pointer-events: none;
    transition: opacity 300ms, width 300ms, margin 300ms;
    -webkit-transition: opacity 300ms, width 300ms, margin 300ms;
    -moz-transition: opacity 300ms, width 300ms, margin 300ms;
    -o-transition: opacity 300ms, width 300ms, margin 300ms;
  }
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  table.navheader td.access,
  table.navheader td.groups {
    margin-right: 0px;
    width: 0px;
    -webkit-transition: margin-right 0.5s, width 0.5s;
    -moz-transition: margin-right 0.5s, width 0.5s;
    -o-transition: margin-right 0.5s, width 0.5s;
  }

  table.navheader div.access,
  table.navheader div.groups {
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s,;
  }

  ul.hamburgerList li.access,
  ul.hamburgerList li.groups {
    pointer-events: auto;
    display: block;
    height: 26px;
    opacity: 1.0;
  }

  .hideAll,
  .showAll{
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    left: 10px;
  }

  #cookiemsg {
	background-color: #fecc56;
	z-index: 1000;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 60px;
	padding: 0 20px 0 0px;
	display: flex;
	text-align: center;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  table.navheader td.tests,
  table.navheader td.files{
    margin-right: 0px;
    width: 0px;
    -webkit-transition: margin-right 0.5s, width 0.5s;
    -moz-transition: margin-right 0.5s, width 0.5s;
    -o-transition: margin-right 0.5s, width 0.5s;
  }

  table.navheader div.tests,
  table.navheader div.files {
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
  }

  ul.hamburgerList li.tests,
  ul.hamburgerList li.files {
    pointer-events: auto;
    display: block;
    height: 26px;
    opacity: 1.0;
  }

  .hideAll,
  .showAll{
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    left: 4px;
  }

  .loginBox{
    /*top: 8%;
    left: 10%;*/
  }

  #cookiemsg {
    background-color: #fecc56;
    z-index: 1000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    padding: 0 20px 0 0px;
    display: flex;
    text-align: center;
  }
}

/* Title for the subpages of the section-editor */
.titles{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}

.titles h1{
  color: #614875;
}

#nametext {
  padding: 2px 0px 2px 10px;
}

/* Is used to style a Select-box in diagram.php. */
#selectDiv {
  border-radius: 6px;
  border: 2px solid #d4d4d4;
  height: 34px;
  position: absolute;
  right: 0;
  bottom: 25px;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(219,219,219,1);
  -moz-box-shadow: 0px 2px 10px 1px rgba(219,219,219,1);
  box-shadow: 0px 2px 10px 1px rgba(219,219,219,1);
}

#selectDiv select {
  height: 34px;
  padding-left: 10px;
  padding-right: 40px;
  font-size: 14px;
  border: 0;
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none;  /*Removes default style Firefox*/
  background: white;
  text-overflow: "";
  transition: 0.2s;
}

#selectDiv select::-ms-expand {
  display: none;
}

#selectDiv select::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#selectDiv .ikonPil {
  display: block;
  background: url("../icons/arrow.svg") no-repeat;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 12px;
  height: 15px;
}

#selectDiv .ikonPilRotation {
  top: 8px;
  animation-name: roteraPil;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

/* Used to rotate the picture that is used as a arrow */
@keyframes roteraPil {
  0% {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
}
/* Style for the div that presents the coordinants and zoomvalue in diagram */
#valuesCanvas {
  -webkit-box-shadow: 0px 2px 10px 1px rgba(219,219,219,1);
  -moz-box-shadow: 0px 2px 10px 1px rgba(219,219,219,1);
  box-shadow: 0px 2px 10px 1px rgba(219,219,219,1);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  background: white;
  border: 2px solid #d4d4d4;
  font-size: 14px;
  bottom: 25px;
  position: absolute;
  cursor: default;
  /* Removes the possibility to copy the text in this element */
  webkit-touch-callout: none;
   -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}

