#analytic-info {
    clear: both; 
    padding: 15px;
}

#canvas-area {
    height: 300px;
}

.analytic-button:hover {
    background-color:#7B5A96;
    border-radius:4px;
}

.faNavheader{
    color: white !important; 
    font-size: 1.5em !important;
    margin-right: 11px;
    margin-left: 4px;
}

#content {
    margin: 15px 10px 15px 10px !important;
}