#analytic-info {
    clear: both; 
    padding: 15px;
}

#canvas-area {
    height: 300px;
}

.navheader > tbody > tr > td{
    position:relative;
}
.analytic-navbutton{
    width:50px;
    font-size:1.5em;
    text-align:center;
}
.analytic-button:hover {
    background-color:#7B5A96;
    border-radius:4px;
}

.faNavheader{
    color: white !important; 
    font-size: 1.5em !important;
    margin-right: 11px;
    margin-left: 4px;
}

#content {
    background: var(--color-background);
    margin: 5px 10px 15px 10px;
}

.header {
    padding: 30px;
    text-align: center;
    background: #927b9e;
    color: white;
    font-size: 28px;
    margin-top: 50px;
}

.analyticsDesc {
    margin-top: 15px; 
    margin-bottom: -20px;
}

.vl {
  border-left: 6px solid white;
  height:50px;
  width:5px;
  margin-left:2px;
  margin-right:2px;
  top: 0;
}

.CellComment{
  visibility: hidden;
  position:absolute; 
  z-index:100;
  background-color:#7b5a96;
  border-radius:6px;
  border-width:1px;
  padding:5px 5px;
  color:#FFF; 
  top:50px; 
  left:-50px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}


.CellComment::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 35%;
  margin-left: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #7b5a96 transparent;
}

.CellWithComment:hover span.CellComment{
    visibility: visible;
    opacity: 1;
}