/* @media (prefers-color-scheme: dark){ */ /*This comment must remain, do not delete it when you "clean code" . */
    :root {
         --color-text-primary: #BFC9CA;
        --color-text-primary-darker: #620C5B;
        --color-text-secondary: #434343;
        --color-text-header: #fff;
        --color-text-list: #000;
        --color-text-logo: #fff;
        --color-text-label: #000;
        --color-text-dark: #000;
        --color-text-light: #fff;
        --color-text-unset: #aaaaaa;
      
        --color-logo1: #775886;
        --color-logo2: #573866;
        --color-logo-background: #432a5a;

        --color-primary: #432a5a;
        --color-primary-2: #775886;
        --color-primary-hover: #7b5a96;
        --color-primary-light: #927b9e;
        --color-new-user: #93A561;
        --color-new-user-hover: #B6C58C;
        --color-accent: rgb(233, 233, 233);
        --color-accent-transparent: rgba(254, 204, 86, 0.5);
        --color-accent-hover: #e9b1ec;
        --color-background: #121212; 
        --color-background-codeviewer: #272822;
        --color-background-codeviewer-nav: #464646;
        --color-background-buttomenu: #5C5A5A;
        --color-background-normtext: #5d5d5d;
        --color-background-2: #ccc;
        --color-background-3: #f0f0f0;
        --color-background-4: #c8c8c8;
        --color-background-light-surface: #fff;
        --color-sectioned-table-hi: #242729;
        --color-sectioned-table-lo: #2d3133;
        --color-statistics: #d8d7da;
        --color-list-hover: #c6cdb8;
      
        --color-border-primary: #775886;
        --color-border-list: #dbd0d8;
        --color-border: #999;
        --color-border-2: #ccc;
        --color-border-3: #f0f0f0;
        --color-border-4: #c8c8c8;
        --color-border-5: #888;
      
        --color-primary-hover: #7D5CA0;
        --color-green: #50a750;
        --color-red: #c75050;
        --color-red-hover: #ce3d3d;
        --color-fill: #fff;
        --color-stroke: #fff;
        --color-table: #212121;

        --color-fileLink-table-1: #2d3133;
        --color-fileLink-table-2: #242729;
    }

    #dorf, #NewTabLink, .whiteIcon, .iconColorInDarkMode {
        cursor: pointer;
        filter: invert(80%);
        -webkit-filter: invert(80%);
    }

#div2{
	background-color: var(--color-background);
}

#picktemplate{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: var(--color-background-light-surface);
}

#picktemplate h1{
	text-align: center;
  font-family: Arial, Sans-Serif;
	color: var(--color-text-dark);
}

#docucontent h1 {
	color: var(--color-text-dark);
    display: block;
    font-family: Arial,Sans-Serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

#content {
    background-color: var(--color-background);
	color: var(--color-text-light);
}

.filter-label {
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

.docucontentStyle h1 {
    color: var(--color-text-light);
}

.box {
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    outline: 0 none;
    background-color: var(--color-background);
    color: var(--color-text-light);

}

.box h1{
    color: var(--color-text-light);
}

.box iframe {
    background-color: var(--color-background-light-surface);
}


.docucontentStyle {
     background-color: var(--color-background-codeviewer);
     color: var(--color-text-light);

}
.box1Style {
     background-color: var(--color-background-codeviewer);
     color: var(--color-text-light);
}
.codeboxStyle {
    background-color: var(--color-background-codeviewer);
}

.box2Style {
    background-color: var(--color-background-codeviewer);
}

.temp3Style{
	background-color: var(--color-background-codeviewer);
}

.temp4Style{
	background-color: var(--color-background-codeviewer);
}

.buttomenuStyle {
    background-color: var(--color-primary);
}

.mbuttoStyle {
    background-color: var(--color-primary);
}

.mbuttoStyleLight {
    background-color: #9868bd;
}

.mbuttoStyle:hover{
	background-color: var(--color-primary-hover);
}

.menutextStyle {
   	color: var(--color-text-light);
}

.hotdogdropStyle{
	color: var(--color-text-light);
}
.hotdogdropStyle table td{
	color: var(--color-text-light);
}

.dropdownStyle {
    color: var(--color-text-light);
    /*background: var(--color-primary);*/
}

.dropdownbackStyle {
	background-color: var(--color-primary);
    color: var(--color-text-light);
}

.codedropStyle {
    background-color: var(--color-primary);
    border-color: rgb(0,0,0) transparent;
}

.docudropStyle {
    background-color: var(--color-primary);
    background: rgb(0, 0, 0) transparent;
}

.themedropStyle {
	background-color: var(--color-primary);
}

.imgdropStyle{
	background-color: var(--color-primary);
}
.imgdropStyle img:hover{
	border-style:solid;
	border-width:1px;
	border-color: white;
}

.dropdownitemStyle {
    background: var(--color-primary);
    color: var(--color-text-light);
}

.dropdownitem:hover {
	background-color: var(--color-primary-hover);
}

.codeborder{
	background-color: var(--color-primary);
	text-align: right;
}

.codeborder .no {
    color: #D8D8D8;
    line-height: 21px; /* Workaround! Should be dynamically set according to selected font-size in code example. This works for font-size 16px. */
	background-color: var(--color-primary);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.codeborder .impono {
    user-select: none;
    color: var(--color-text-light);
    background-color: #9569BD;
    line-height: 21px; /* Workaround! Should be dynamically set according to selected font-size in code example. This works for font-size 16px. */
}

.normtextwrapper{
}

.normtext {
    color: var(--color-text-light);
    background-color: var(--color-background);

    white-space:nowrap;
}

.impo {
    user-select: none;
    color: var(--color-text-light);
    background-color: #270c27;
    white-space:nowrap;
}

.comment {
    color: #888;
}

.normtext .oper {
    color: var(--color-text-light);
    font-weight: bold;
    line-height: 15px;
}

.impo .oper {
    color: var(--color-text-light);
    font-weight: bold;
}

.normtext .string {
    color: var(--color-text-light);
    font-weight: bold;
}

.impo .string {
    color: var(--color-text-light);
    font-weight: bold;
}

.normtext .number {
    color: var(--color-text-light);
    font-weight: bold;
}

.impo .number {
    color: var(--color-text-light);
    font-weight: bold;
}

.normtext .hi {
    background-color: var(--color-background-normtext);
    color: var(--color-text-light);
}

.impo .hi {
    background-color: var(--color-background-codeviewer);
    color: #fed;
}


.keywordA {
    color: rgba(255, 77, 77, 1);
}

.keywordB {
    color: rgba(49, 211, 255, 1);
}

.keywordC {
    color: #00d30d;
}

.keywordD {
    color: #eb7504;
}

.normtext .impword {
    color: var(--color-text-light);
		background-color: var(--color-background);
}

.normtext:hover {
    background-color: rgba(98, 30, 98,0.3);
		white-space: nowrap;
}

.impo .impword {
    color: var(--color-text-dark);
    background-color: var(--color-background-light-surface);
    border: 1px solid #f44;
}

.descbox .impword {
    color: var(--color-text-dark);
    background-color: var(--color-background-light-surface);
    border: 1px solid #f44;
}

.normtext .imphi {
    background-color: var(--color-background-normtext);
    color: var(--color-text-light);

}

.impo .imphi {
    background-color: var(--color-background-codeviewer);
    color: #fed;
}

.tooltip{
	color:orange;
}

.errormsg{
	color: red;
}

.playlinkErrorMsgStyle{
	color: red;
}

.settingsTabMenuStyle li{
	background-color: var(--color-primary-hover);
}
.settingsTabMenuStyle .activeSetMenuLink{
	border-bottom-color: var(--color-primary);
	border-bottom-width:3px;
	background-color: var(--color-primary);
}

.templatethumbicon:hover{
    background-color: var(--color-primary-hover);
}

.themeicon:hover {
	background-color: var(--color-primary-hover);
}

.codebox{
  font-family:Hack;
  /* Inherits background-color from .box */
}

.descbox{
	background-color: var(--color-background);
	color: var(--color-text-light);
}

.instructionBox{
    border:1px solid #614875; 
    margin: 5px auto; 
    margin-bottom:10px;
}

/* BOXMENU STYLING START */
.buttomenu2Style{
	background-color: var(--color-background-codeviewer-nav);
}

.buttomenu2Style .wordlistselect{
	color: var(--color-text-light);

   background: url("../new icons/expand_button.svg") no-repeat 50px var(--color-background-buttomenu);
   background-size:15px 15px;
   border: 1px solid var(--color-border-2);
}

.buttomenu2Style .boxcontentselect{
   color: var(--color-text-light);

   background: url("../new icons/expand_button.svg") no-repeat 120px var(--color-background-buttomenu);
   background-size:15px 15px;
   border: 1px solid var(--color-border-2);
}
.buttomenu2Style .chooseContentSelect{
   color: var(--color-text-light);
   background: url("../new icons/expand_button.svg") no-repeat 120px var(--color-background-buttomenu);
   background-size:15px 15px;
   border: 1px solid var(--color-border-2);
}

.buttomenu2Style select:hover{
  background-color: #938C8C;
  cursor: pointer;
}
.boxtitleEditable{
	color: var(--color-text-light);
	cursor:text;
    font-family: Arial, Sans-Serif;
}
.boxtitle{
	font-family: Arial, Sans-Serif !important;
	cursor:default !important;
	color: var(--color-text-light) !important;
}

#hamburgerBox{
    background-color: var(--color-background);
}

/* ========================
	COLOR SCHEME FOR TABLES
	======================*/

.list {
	  border-bottom: 2px solid var(--color-primary);
   	font-size: 16px;
}

.list td {
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
}

.changeColorInDarkModeTable:nth-of-type(even) { 
    background: var(--color-sectioned-table-hi);
}

.changeColorInDarkModeTable:nth-of-type(odd) { 
    background: var(--color-sectioned-table-lo);
}

.bottomBorderColor{
    border-top: 2px solid var(--color-primary);
}

.descbox code{
    background-color: var(--color-background);
}

body {
  font-family: 'Roboto', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text-light);
}
/*A global styling for darkmode, added the class where there needed darkbackgrounds*/
.DarkModeBackgrounds{
    background-color: var(--color-background);
} 

.previewTable a{
    color:white;
}

.previewTable th{
    background-color: var(--color-background);
}

#InlPHPDocumentPrev{
    background-color: var(--color-background);
}

.previewTable tr:nth-child(odd){
    background-color: var(--color-sectioned-table-lo);
}
.previewTable tr:nth-child(even){
    background-color: var(--color-sectioned-table-hi);
}

/*A global styling for darkmode, a class for white text on darkbackgrounds*/
.DarkModeText{
    color: var(--color-text-light);
}
#inputwrapperText{
    color:rgba(255,255,255,0.6);
}

.formDialog .formDialogText {
    background-color: var(--color-text-header) !important;
    color: var(--color-text-list) !important;
}

.formDialogWide .formDialogText {
    background-color: var(--color-text-header) !important;
    color: var(--color-text-list) !important;
}

.formDialog .formDialogText::after {
    border-color: transparent transparent transparent var(--color-text-header) !important;
}

.formDialogWide .formDialogText::after {
    border-color: transparent transparent var(--color-text-header) transparent !important;
}

#announcementBoxOverlay{
    display: none;
    background-color: var(--color-background);
    overflow: auto;
    overflow-x: auto;
    font-family: 'Varela', sans-serif;
}

.item a {
    text-decoration: none;
    color: #BFC9CA ;
    
  }

.toggle-0{
    background-color: var(--color-sectioned-table-hi);
}
.toggle-1{
   background-color: var(--color-sectioned-table-lo); 
}
.toggle-dugganame-filter-box{
    background-color: var(--color-sectioned-table-hi);
}
.dropdown-list-container{
    font-size: 12px;
    overflow-y: auto;
    display: none;
    background: var(--color-sectioned-table-hi);
    color: var(--color-text-light);
    box-shadow: none;
}

.loginBox,
.logoutBox,
.formBox{
  background-color: var(--color-background);
  color: var(--color-text-light);
  border: 2px solid var(--color-border);
}

.iconColorInDarkMode{
    cursor: pointer;
    filter: invert(80%);
    -webkit-filter: invert(80%);
}

#statisticsSwimlanes{
    border: 2px solid var(--color-text-secondary);
}

/* Course schedule styling */
#swimlaneSVG rect:nth-child(n of .progressBar){
    opacity: 0.9;
}

.scheduleWeeks, .scheduleDugga{
   fill: white;
}

.evenScheduleColumn{
    fill:#2d3133;
}

.oddScheduleColumn{
    fill:#242729;
}


/* Course schedule styling END */

.DateColorInDarkMode{
    cursor: pointer;
    filter: invert(30%);
    -webkit-filter: invert(30%);
}
/* } */
/* BOXMENU STYLING STOP */
/* } */

.highlight{
    background-image: url(../icons/draganddropBlack.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* --------------================################================-------------- *
 *                    Style for ALL duggas (showDugga.php) in Demo-Course.                                     *
 * --------------================################================-------------- */

/*Style for "Instructions Container "START */
.feedback-button, .instructions-button{
    /* border-top: 10px solid var(--color-sectioned-table-lo); */
    background-color: var(--color-sectioned-table-lo);
}

.feedback-button:after, .instructions-button:after{
    /* background-color: var(--color-sectioned-table-lo); */
    border-top: 10px solid var(--color-sectioned-table-lo);
}

.instructions-content{
    border: 1px solid  var(--color-sectioned-table-lo);
} 

.feedback-button:hover:after, .instructions-button:hover:after {
    border-top: 10px solid  var(--color-sectioned-table-hi);

}

.feedback-button:hover, .instructions-button:hover {
    background-color:  var(--color-sectioned-table-hi);
}
/* END */

/* Style for "pane-container text" START */
.pane{
    color: var(--color-text-light);
}
/* END */

/* Style for "Fouter border" */
.fouter{
    border: 2px solid  var(--color-sectioned-table-lo);
}
/* END */

/* Style for "Float Right Box" */
.floatRightBox{
    background-color: var(--color-sectioned-table-hi);
    border: 2px solid var(--color-sectioned-table-lo);
}
/* END */

/* Style for Tool Box START */
#toolbox{
    width:395px;
	margin:0 4px 5px 4px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    border:2px solid var(--color-sectioned-table-lo);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);
    background-color: var(--color-background);
}

#toolboxTransform{
    border:2px solid var(--color-sectioned-table-lo);
    margin-left: 3px;
    padding: 3px;
}

#toolboxTransform #opTableContainer{
    padding: 5px;   
}

#opTableContainer{
	height:355px;
	background-color: var(--color-table); 
  margin: 7px;
	overflow-y:scroll;
}

.OperationListTableOdd {  
    background: var(--color-sectioned-table-hi) ;
}

.OperationListTableEven { 
    background: var(--color-sectioned-table-lo) ;
}
/* END */

/* Style for "Info Box" in Curve Dugga START  */
#infobox{
    background-color: var(--color-table);
    border: 2px solid var(--color-sectioned-table-lo);
}

#operations{
    background: var(--color-background) ;
}

.ColorForTextinInfoBox{
    color: var(--color-text-light);
}

.ColorForTextinInfoBox:checked {
    background-color: var(--color-sectioned-table-lo);
} 
/* END */

.loadModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 999;
    overflow-y: auto;
    background-color: #333;
    border: 1px solid #000;
}

#amountOfLoads{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: white;
}

/* ***Style for "Submission Input Table"*** */

/* In "createSmallerViewportForm" */
#timesheetPrev{
    background-color: var(--color-background);
}

.ViewportHeadBorder{
    background-color: var(--color-sectioned-table-lo);
}

.ViewportBorder{
    border:1px solid  var(--color-sectioned-table-lo); 
}

.tsSmallInput{
    color: var(--color-text-light);
    background-color: var(--color-table);
    border: 2px solid var(--color-table);
    color-scheme: dark; 
}
/* In "createFileUploadArea" (Big screen) */
.tsTable input{
    padding: 5px;
    color: var(--color-text-light);
    background-color: var(--color-table);
    border: 2px solid var(--color-table);
    color-scheme: dark; 
}

.tsTable select{
    background-color: var(--color-table);
    color: var(--color-text-light);
}

.tsTableDeleteCell{
    cursor: pointer;
}
/* --------------================################================-------------- *
 *                           BlackTheme for Contribution site 
                                  code START
 * --------------================################================-------------- */

 /* SVG img on circle Graph*/ /*START */
 .circleGraphCircle{
    cursor: pointer;
    filter: invert(10%);
    -webkit-filter: invert(10%);
}
#circleGraphHours{
    cursor: pointer;
    filter: invert(80%);
    -webkit-filter: invert(80%);
}
.circleGraphBigline {
    cursor: pointer;
    filter: invert(20%);
    -webkit-filter: invert(20%);
}
/* END */

/* Style for "LineDagram" "START" */
.lineDiagramDark{
    background-color: var(--color-sectioned-table-lo);
}
.graphLabels{
   fill: var(--color-fill);
}
.lineDiagramDark text{
    fill: var(--color-fill);
}
.lineDiagramDark{
    border: 2px solid var(--color-primary);
    background-color: var(--color-sectioned-table-lo);
  }
/* END */

/* Style for "CommitTree" START   */
.commitTreeBarsEven {
    fill: var(--color-sectioned-table-lo);
}

.commitTreeBarsOdd {
    fill: var(--color-sectioned-table-hi);
}

.commitTreeText{
    filter: invert(80%);
    -webkit-filter: invert(80%);
}

.commitTreeLine{

    filter: invert(80%);
    -webkit-filter: invert(80%);
}
/* END */

/* Style for ALL borders in Submission Input Table */
.tsTable td{
    border:1px solid  var(--color-sectioned-table-lo); 
}

.tsTable td:first-of-type {
    border:1px solid  var(--color-sectioned-table-lo); 
}
.tsTable td:last-of-type {
    border:1px solid  var(--color-sectioned-table-lo); 
}
.tsTable td, .tsTable th {
    border:1px solid  var(--color-sectioned-table-lo); 
}
/* END */

/* Style for "Info Box" in Dugga 3 START */
option:checked{
    background-color: var(--color-sectioned-table-lo);
    color: var(--color-text-light);
}

/* Style for "Weekly Bar Chart" START */
.WeeklyBarChartEven{
    fill: var(--color-sectioned-table-lo);
}

.WeeklyBarChartOdd{
    fill: var(--color-sectioned-table-hi);
}

.WeeklyBarChartLine{
    stroke: var(--color-stroke);
}

.WeeklyBarChartText{
    fill: var(--color-fill);
}

.WeeklyBarChartNumberText{
    stroke: var(--color-stroke);
}

.chart, .fumho{
    fill: var(--color-fill);
    background-color: var(--color-sectioned-table-hi);
}

/* Style for "Account Request Table" START */
.accountRequestTable tr:nth-child(even){
    background-color: var(--color-sectioned-table-hi);
}

.accountRequestTable tr:nth-child(odd){
    background-color: var(--color-sectioned-table-lo);
}
.accountRequestTable{
    color: white;
}
#accountRequests-pane{
    background-color: #212121;
    border: 1px solid white;
}
/* END */

select{
    background-color: var(--color-background-light-surface);
    color: var(--color-text-list);
    border-radius: 5px;
}

select.selectDarkModeText{
    color: var(--color-text-light);
}

input{
    border-radius: 2px;
    border: 2px solid var(--color-border-2);
    border-radius: 4px;
    font-size: 16px;
    padding-left: 5px;
}

/* Style for "Contribution GithHub Table START */
.contribheading{
    background-color: #212121;
}

.githubContribution a:-webkit-any-link, .contribheading > a {
    color: #c5c5c5;
}

.contribcontent, .contribcontentToggle{
    color: #c5c5c5;
    text-decoration: underline;
}

.PopUpContributionTable{
    position: absolute; 
    background-color: var(--color-sectioned-table-hi);
    box-shadow: 12px 1px 6px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width:500px;
    height: 500px; 
    white-space: nowrap;
    display:none; margin-top: 15px; 
    margin-left: 50px;
    z-index: 100; 
    overflow-y:scroll;
    padding-left: 10px;
    border: 2px solid rgb(20, 20, 20);
}

.githubLink0, .githubLink3{
    cursor: pointer;
    filter: invert(80%);
    -webkit-filter: invert(80%);
}

.contribpath, .contribfile {
    color: #c5c5c5;
}
/* END */

/* Style for "Date Picker" START:    */
::-webkit-calendar-picker-indicator {
    filter: invert(1) ; 
}

/* Style for Dugga "HTML CSS Dugga" */
#input-col{
    background-color: #212121;
}

#url-input::-webkit-input-placeholder {
    color: rgb(198, 192, 192);
}

#url-preview-label {
    background-color: #212121;
}

#url-preview-label p{
    color:white;
}
#code-preview-label{
    background-color: #212121;   
}

#target-col p{
    color: black;
}

/* Style for "Upload PDF of Presentation" */
#Inl1DocumentPrev {
    background-color:#242729;
}
/* END */
/* Style for submission-receipt in "Diagram_Dugga" START*/
#submission-receipt{
    background-color: var(--color-sectioned-table-hi);
    border: 1px solid #464646;
    padding-left: 3px;
}

#submission-receipt a:-webkit-any-link {
    color: #3B3BCF;
}
/* END */

/* Style for fieldset elements in #Show Test" editor.  START */
.loginBox select {
    background-color: #212121;
    color:white;
}

.loginBox textarea, #receipt
.formBox textarea{
    background-color: #212121;
    color:white;
}

.ColorForBorderInDuggaed{
    border: 3px solid var(--color-sectioned-table-hi) ;
}

#variant{
    border-bottom: var(--color-sectioned-table-hi) solid 3px;
}

/*/ Style for lenasys icon START /*/
.lena { 
    color: var(--color-text-primary);
    background: #121212;
    padding: inherit;
    margin: 6px;
  }
  
  .sys {
    border-radius: 6px;
    color:var(--color-text-primary) ;
    border: 2px solid var(--color-logo-background);
    background: linear-gradient(90deg, rgba(18,18,18,1) 21%, rgba(67,42,90,1) 55%);
  
  }
  /* .lineColor {
    stroke: white;
  } */

  .cardinalityLabel{
      fill: black;
  }
  .cardinalityLabelText{
      fill: white;
  }

  /*/ END /*/

/* Style for "course-dropdown" START */
  .course-dropdown-div {
    background: #212121 url(../icons/desc_primary.svg) no-repeat 90% 50%;
    border: 1px solid #121212;
    background-position: right;
    margin-top: 7px;
    margin-left: 3px;
    border-radius: 3px;
    overflow: hidden;
  }


.course-dropdown {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 3px;
    border: none;
    width: 120px;
    height: 28px;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: text-top;
    color: white;
}

.course-dropdown > option {
	background-color: #212121;
}

#motdArea {
    background-color: var(--color-accent);
}

#motdArea #motdContent {
    background-color: var(--color-accent);
}

#motdArea .motdBoxheader {
    background-color: var(--color-accent);
}

.arrow {
    border: solid var(--color-accent);
    border-width: 0 6px 6px 0;
}

input.submit-button-newitem:hover {
    transition: 0.4s;
    background-color: var(--color-accent-hover);
}

.fab-btn-lg:hover {
    background-color: var(--color-accent-hover);
}

.arrowComp, .arrowRight,#sectionList_arrowStatisticsClosed, #sectionList_arrowStatisticsOpen {
    filter: brightness(0) saturate(100%) invert(99%) sepia(24%) saturate(91%) hue-rotate(298deg) brightness(112%) contrast(83%);
}

#Sectionlistc{
    .courseRow:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;
  }
}

/*/ Diagram.html style /*/
#container_header{
background-color: #2D3133;
}

#assignment_discrb {
color: white;
background-color: #121212;
}

#close_open_border {
background-color: #2D3133;
border-top: 1px solid var(--color-sectioned-table-hi);  
}

#close_open_border:after {
border-left: 14px solid #2D3133;
}

#close_open_border:hover {
background-color:  var(--color-sectioned-table-hi);
}

#close_closed_border:hover {
background-color:  var(--color-sectioned-table-hi);
}

.assignment_left {
    border: 1px solid var(--color-sectioned-table-hi);
}

#close_open_border:hover:after {
border-left: 14px solid var(--color-sectioned-table-hi);
}

#tabElement {
    filter: invert(0.8);
    cursor: pointer;
}

.code #NewTabLink {
    display: block;
    margin: auto;
    filter: invert(0.8);
  }

#Courselist a {
    color: var(--color-text-primary);
    text-decoration: none;
  }

#Courselist #fabBtn {
    color:var(--color-primary);
}

  .hidden {
    margin-left: 16px;
  text-decoration: line-through !important;
   -webkit-text-decoration-color: var(--color-text-primary) !important;
    text-decoration-color: var(--color-text-primary) !important;
  }

  .BlackthemeColor {
   stroke: #ff0000;
   stroke-width: 2;
  }

  #rulerOverlay {
    display: none;
    position:absolute;
    left:50px;
    top:0;
    width:100%;
    height:100%;
    pointer-events: none;
    display:block;
    z-index: 20;
}
#ruler-y {
    left: 20px;
    background-color: #fff;
    width: 30px;
    height: 1px !important;
    position: absolute;
    z-index: 500;
}

#ruler-x {
    top: 20px;
    background-color: #fff;
    height: 30px;
    width: 1px;
    position: absolute;
    z-index: 500;
}
#ruler-x-svg {
    background-color: rgba(0, 0, 0, 0.8);
    position:absolute;
    width:100%;
    height:40px;
    z-index:2;
}
#ruler-y-svg {
    background-color: rgba(0, 0, 0, 0.8);
    position:absolute;
    width:40px;
    height:100%;
    z-index:2;
}

#rulerCorner {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 700;
    top: 0px;
}

.ruler-line {
    stroke: #fff;
}

.ruler-text {
    fill: #fff;
}

.svgbacklayer-background {
    background-color: var(--color-background);
}


/* Diagram line style */
.diagram-umlicon-triangle {
    fill: white;
}
.diagram-umlicon-black-triangle {
    fill: black;
}
/*
.diagram-umlicon-darkmode {
    stroke: white;
}  
*/
.diagram-umlicon-darkmode-sd {
    fill: white;
}


/* Diagram Messages */
#diagram-message {
    color: black;
}

#diagram-message > div {
    box-shadow: 6px 6px 10px #00000077;
}

#diagram-message > div.success {
    background-color: rgb(39, 152, 39);
}

#diagram-message > div.warning {
    background-color: rgb(202, 149, 15);
}

#diagram-message > div.error {
    background-color: rgb(252, 58, 44);
}

#pad_lock {
    bottom: -5px;
    left: 3px;
    display: block;
    position: absolute;
    background: inherit;
    filter: invert(65%);
}
  
 .textinput {
    color:white;
    background-color: var(--color-background);
}

 .textinput::placeholder {
    color: var(--color-text-unset);
    background-color: var(--color-background);
}

 #emakeactive {
    background-color: #121212;
    accent-color: #434343;
} 

.passwordBlock{
  width: 50%;
  padding: 4px 0px;
  background-color: var(--color-text-header);
  border-radius: 3px;
  cursor: pointer;
}

#ERTable {
    color:white;
}

.material-box {
  border-radius: 2px;
  margin: 10px; 
  box-shadow: 0 10px 20px rgba(117, 26, 255, 0.1), 0 6px 6px rgba(117, 26, 255, 0.2); 
  padding: 20px;
  border: 1px solid white;
}

#motd {
  background-color: #000!important;
  color: #fff;
}

#darkmodeToggle {
    background-color: #614875;
    color: #ffffff;
    font-weight: normal;
    border: 3px solid #614875;
}

#a4TemplateToggle { 
    background-color: transparent;
    border: #614875;
    border-width: 3px;
    border-style: solid;
    color: #614875;
    font-weight: bold;
}

#diagramDropDownToggle { 
    background-color: transparent;
    border: #614875;
    border-width: 3px;
    border-style: solid;
    color: #614875;
    font-weight: bold;
}

.boxSelectionLines {
    stroke:#fff;
}

#a4Text {
    fill: white;
}
.date-interval-selector, #searchbar, #highlight-entry {
    background-color: #212121;
    color: white;

}

.resultTableTextHash{
    color:#5badff;
}

/* Toast notifications */
.toast {
    background-color: #e9e9e9;
}

.warning {
  background-color: #faeb3c;
}

.success {
  background-color: #80eb80;
}

.error {
  background-color: rgb(243, 129, 129);
}

.confirm { 
    background-color: #e9e9e9;
}
/*/ END /*/