@font-face {
    font-family: 'Ubuntu Mono';
    src: url('ubuntu-mono-webfont.eot');
    src: url('ubuntu-mono-webfont.eot?iefix') format('eot'),
        url('ubuntu-mono-webfont.woff') format('woff'),
        url('ubuntu-mono-webfont.ttf') format('truetype'),
        url('ubuntu-mono-webfont.svg#webfont') format('svg');
}

/* DOCUMENT CONTENT STYLE START */
#docucontent h1 {
    display: block;
    /*    font-family: Arial,Sans-Serif;*/
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

#docucontent span.codestyle {
    color: grey;
    font-family: 'Ubuntu Mono', Arial, Sans-Serif;
    font-style: italic;
}

/* DOCUMENT CONTENT STYLE STOP */

/* BOX STYLE START */
.box h1 {
    display: block;
    color: #000;
    /*font-family: Arial,Sans-Serif;*/
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.box ol {
    margin-left: 2em;
}

.box ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

.box hr {
    border: none;
    border-top: 1px #CCCCCC solid;
    height: 2px;
    width: 100%;
}

.box span.codestyle {
    color: #666;
    font-family: 'Ubuntu Mono', Arial, Sans-Serif;
    font-size: 12px;
    line-height: 14px;
}

/* Base-size for images in description boxes */
.box img {
    width: 70%;
}

/* BOX STYLE STOP */

/* BOXMENU STYLING START */
.buttomenu2 {
    position: absolute;
    top: 0px;
    width: -moz-calc(100%);
    width: -webkit-calc(100%);
    width: calc(100%);
    margin: 0;
    overflow: hidden;
    z-index: 2;
}

.buttomenu2 table td img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.buttomenu2 select {
    top: 0px;
    bottom: 0px;
    width: 150px;
    margin: 0px;
    padding: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-indent: 1px;
    outline: none;
}

/* Select-element for changing boxcontent*/
.buttomenu2 .boxcontentselect {
    top: 0px;
    bottom: 0px;
    width: 150px;
    margin: 0px;
    padding: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-indent: 1px;
    outline: none;
}

/* Select-element for picking a wordlist*/
.buttomenu2 .wordlistselect {
    top: 0px;
    bottom: 0px;
    width: 70px;
    margin: 0px;
    padding: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-indent: 1px;
    outline: none;
}

/* BOXMENU STYLING STOP */

#buttomenu {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 50px;
    margin: 0px;
    border-color: rgb(0, 0, 0) transparent;
}

/* PICK TEMPLATE START */
/* Is possibly replaced with template css further down in document */
#picktemplate {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
}

#picktemplate h1 {
    text-align: center;
    /*font-family: Arial, Sans-Serif;*/
}

#picktemplate img {
    width: 140px;
    height: 140px;
}

/* PICK TEMPLATE STOP */

/* MENU BUTTONS START*/
.mbutto {
    text-align: center;
    font-family: Verdana, Serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    height: 44px;
}

.mbutto:hover {
    cursor: pointer;
}

/* MENU BUTTONS STOP */

/* Example title in menu */
.menutext {
    overflow: hidden;
    height: 46px;
    vertical-align: middle;
    width: 100%;
    border-radius: 12px;
    font-family: Verdana, Serif;
    font-size: 24px;
    font-weight: normal;
    padding: 4px;
}

/* Extra button spaces */
.buttospacer {
    width: 20px;
}

/* HOTDOG MENU START */
#hotdogdrop {
    display: none;
    right: 0px;
    height: auto;
    width: auto;
    border-color: rgb(0, 0, 0) transparent;
    /*font-family: Arial,Serif;*/
    font-size: 14px;
}

#hotdogdrop table td img {
    /*font-family: Arial,Serif;*/
    font-size: 14px;
    color: white;
    float: right;
}

#hotdogdrop table td {
    border-bottom: solid 1px #2A120A;
    /*font-family: Arial,Serif;*/
    font-size: 14px;
}

/* SCROLL HOTDOG MENU */
#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 100%;
    overflow-y: scroll;
}

#table-wrapper table {
    width: 100%;
}

#table-wrapper table * {
    color: white;
}

/* HOTDOG MENU STOP */

/* DROPDOWN STARTS */
.dropdown {
    display: none;
    position: fixed;
    top: 50px;
    z-index: 4000;
    font-size: 14px;
    /*font-family: Arial,Sans-serif;*/
}

.dropdownback {
    padding-left: 8px;
    background-color: #614875;
    border-color: rgb(0, 0, 0) transparent;
    color: white;
    /*font-family: Arial,Serif;*/
    font-size: 19px;
    font-weight: normal;
}

/* Codedrop with code files */
.codedrop {
    right: 0px;
    width: -moz-calc(20.0%);
    width: -webkit-calc(20.0%);
    height: -webkit-calc(40.0%);
    height: -moz-calc(40.0%);
    padding-left: 7px;
    overflow: auto;
    border-color: rgb(0, 0, 0) transparent;
}

/* General settings drop */
/* Consider changing names */
.docudrop {
    right: 0px;
    width: -moz-calc(25.0%);
    width: -webkit-calc(25.0%);
    height: -webkit-calc(65.0%);
    height: -moz-calc(65.0%);
    padding-left: 7px;
    border-color: rgb(0, 0, 0) transparent;
    min-width: 270px;
}

/* Different themes dropdown */
.themedrop {
    right: 0px;
    width: -moz-calc(20.0%);
    width: -webkit-calc(20.0%);
    height: -webkit-calc(40.0%);
    height: -moz-calc(40.0%);
}

/* Images for descriptions */
.imgdrop {
    right: 0px;
    width: -moz-calc(30.0%);
    width: -webkit-calc(30.0%);
    height: -webkit-calc(45.0%);
    height: -moz-calc(45.0%);
    background: rgb(0, 0, 0) transparent;
    padding: 5px;
}

.imgdrop img {
    width: 20%;
    padding: 5px;
}

.forwdrop {
    right: 20px;
    height: auto;
    width: 200px;
    cursor: default;
    border-color: rgb(0, 0, 0) transparent;
    background-color: #614875;
}

.backwdrop {
    right: 20px;
    height: auto;
    width: 200px;
    cursor: default;
    border-color: rgb(0, 0, 0) transparent;
    background-color: #614875;
}

.dropdownitem {
    display: block;
    font-size: 14px;
    /*font-family: Verdana,Arial,Sans-serif;*/
    cursor: default;
    padding-left: 5px;
    border-bottom: solid 1px #2A120A;
    color: white;
    background: #614875;
}

.dropdownitem:hover {
    background-color: #7D5CA0;
}

/* DROPDOWN STOP */

/* BOX TEXT STYLING START */
.norm {
    color: #fff;
    background-color: #272822;
}

.normtext{
    line-height: 15px;
}

.normtextend{
    height: 120px;
    margin: 0 auto;
    position: relative;
}

/* BOX TEXT STYLING STOP */

#playlinkErrorMsg {
    display: none;
}

/* TAB-MENU SETTINGS */
.settingsTabMenu {
    border-bottom: solid 2px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.settingsTabMenu li {
    display: inline;
    cursor: default;
    margin: 5px;
    padding: 5px 5px 0px 5px;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.settingsTabMenu .activeSetMenuLink {
    border-bottom-width: 3px;
}

/* TAB-MENU STOP */

/* TOOLTIPS START */
.tooltip,
.arrow:after,
.arrow2:after {
    background: black;
}

.tooltip {
    pointer-events: none;
    opacity: 0;
    display: inline-block;
    position: fixed;
    padding: 5px 10px;
    color: orange;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    /*font: 10px Arial, Sans-Serif;*/
    font-stretch: condensed;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10000;
}

.arrow {
    width: 70px;
    height: 18px;
    overflow: hidden;
    position: absolute;
    bottom: -16px;
}

.arrow::after {
    content: "";
    position: absolute;
    top: -20px;
    width: 25px;
    height: 25px;
    left: 22.5;
    /* 22.5 to place the arrow in the middle. arrowwidth/2 - arrow:afterwidth/2=22.5 */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.arrow2 {
    width: 70px;
    height: 18px;
    overflow: hidden;
    position: absolute;
    top: -16px;
}

.arrow2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 25px;
    height: 25px;
    left: 22.5;
    /* 22.5 to place the arrow in the middle. arrow2width/2 - arrow2:afterwidth/2=22.5 */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.tooltip.active {
    opacity: 1;
    margin-top: 5px;
    transition-delay: 0.5s !important;
    -webkit-transition-delay: 1s !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.tooltip.active2 {
    opacity: 1;
    margin-top: 5px;
    transition-delay: 0.5s !important;
    -webkit-transition-delay: 1s !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.tooltip.out {
    opacity: 0;
    margin-top: -5px;
    transition-delay: 0s !important;
}

.tooltip.out2 {
    opacity: 0;
    margin-top: 15px;
    transition-delay: 0s !important;
}

/* TOOLTIPS STOP */

/*Prevent new lines to enter (which creates screen-errors) when editing names in lists*/
.norm>[contenteditable="true"] br,
.butt>[contenteditable="true"] br {
    display: none;
}

/* TEMPLATE ICON START */
/* Icons for picking templates */
.templateicon {
    width: 45%;
    margin: 0px;
    float: left;
}

.templatethumbicon {
    width: 88%;
    margin: 2% 1% 2% 1%;
    padding: 3%;
}

.templatethumbicon:hover {
    cursor: pointer;
}

/* TEMPLATE ICON STOP */

/* THEME ICON START */
/* Icons for picking themes */
.themeicon {
    height: 20px;
    padding: 5px;
}

.themeicon:hover {
    cursor: pointer;
}

.themeicon img {
    vertical-align: text-bottom;
}

.themeicon span {
    padding-left: 6px;
    font-size: 16px;
}

.themeicon:hover {
    background-color: black;
}

.mobilethemebutton {
    display: none;
}

.subbutton span {
    font-size: 12px;
}

/* THEME ICON STOP */

.showdesktop {
    display: table-cell;
}

.showmobile {
    display: none;
}

.codebox {
    padding: 0px !important;
}

/* DESCRIPTION BOX STYLE START */
.descbox {
    padding: 10px !important;
}

/* USER FEEDBACK BOX START  */
.alert.success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
    width: 150px;
}

.alert.warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.slide-down {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
    height: 40px;
    overflow: hidden;
    width: 100%;
    z-index: 3000;
}

.alert strong,
.alert p {
    margin: 0px;
    padding: 0px;
}

.alert span {
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 5px;
    top: 0px;
    font-weight: bold;
    cursor: default;
}

.alert {
    border: 1px solid transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0px;
    padding: 0px;
    width: 300px;
    position: relative;
}

/* USER FEEDBACK BOX STOP*/

/* RESIZABLE UI START*/
/* Resizable jQuery UI fix for absolute positioning east*/
.ui-resizable-e {
    right: 0px;
    bottom: 0px;
    position: absolute;
    height: 100%;
    width: 10px;
    cursor: ew-resize;
}

/* Resizable jQuery UI fix for absolute positioning south*/
.ui-resizable-s {
    left: 0px;
    bottom: 0px;
    position: absolute;
    height: 10px;
    width: 100%;
    cursor: ns-resize;
}

/* RESIZABLE UI CSS STOP */

/* DragnDrop CSS */

#sortListBox {
    margin: 5px;
    width: 180px !important;
    background-color: #cccccc;
    text-align: center;
}

#sortListBox span {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
}

#exampleListBox {
    margin: 5px 5px 10px 5px;
    width: 180px !important;
    background-color: #cccccc;
    text-align: center;
}

#exampleList {
    max-height: 226px;
    overflow-y: auto;
}

#sortList {
    max-height: 226px;
    overflow-y: auto;
}

#exampleListBox span {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
}

#sortList div {
    margin: 1px 2px 1px 2px;
    padding: 5px;
    background: #50a750;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #424242;
    border-top: 1px solid #424242;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    text-align: left;
    cursor: pointer;
}

#exampleList div {
    margin: 1px 2px 1px 2px;
    padding: 5px;
    background: #c75050;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #424242;
    border-top: 1px solid #424242;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    text-align: left;
    cursor: pointer;
}

.empty {
    margin: 5px;
    padding: 10px;
    background: #614875;
    cursor: pointer;
}

#editExample {
    /*
    top: 185px;
    width: 464px;
    margin-left: -232px;
    */
}

#editExample td {
    width: 50%;
    padding: 5px 5px 0px 5px;
    vertical-align: top;
}

#editExample input[type="text"] {
    width: 100%;
}

#editExample fieldset {
    border: 1px solid #999;
    margin-top: 10px;
    padding-bottom: 5px;
}

#editExample legend {
    margin-left: 5px;
    font-weight: bold;
}

/* Shapes and color for the buttons in Editexample box*/
.newSequence,
.deleteSequence,
.updateSequence {
    background-color: rgb(97, 72, 117);
    border: 0px none;
    height: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    -webkit-transition: background-color 1s ease 0s;
    -moz-transition: background-color 1s ease 0s;
    -o-transition: background-color 1s ease 0s;
    transition: background-color 1s ease 0s;

}

/* Shapes and color for the buttons in Editexample box*/
.updateSequence {
    margin-top: 5px;
}

/* Hover style for the buttons in Editexample box*/
.newSequence:hover,
.updateSequence:hover,
.deleteSequence:hover {
    background-color: #7B5A96;
    border-radius: 4px;
}

#sequenceSelector {
    width: 100%;
}

#status {
    color: green;
}

#exchangeButton {
    width: 30px;
    vertical-align: top;
    margin-top: 30px;
    height: 30px;
}

.loginBox {
    top: 25%;
}

.codeheader {
    font-size: 26px !important;
}

/* style for the maximize and reset button*/
.maximizebtn {
    color: #DFF0D8;
    width: 75px;
    padding-right: 3px;
    text-align: center;
    font-size: 13px;
}

.minimizebtn {
    color: #DFF0D8;
    width: 75px;
    padding-right: 3px;
    text-align: center;
    font-size: 13px;
}

.resetbtn {
    color: #DFF0D8;
    width: 50px;
    text-align: center;
    font-size: 13px;
}

/* style for the copy button and copy notification*/
.copybutton {
    position: absolute;
    right: 10px;
}

.copybutton img {
    height: 32px !important;
}

.copy-notification {
    width: calc(100% - 17px);
    height: calc(100% - 17px);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--color-accent-transparent);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 24px;
    user-select: none;
    z-index: 1;
}

.copy-notification-icon {

}

.copy-notification img {
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30% !important;
}

#codeBurger {
    display: none;
}

#mobileNavHeading {
    display: none;
}

@media only screen and (max-width: 800px) {
    #codeBurger {
        display: table-cell;
    }
    .navButt img {
        width: 20px;
    }
    #navHeading {
        display: none;
    }
    #mobileNavHeading {
        display: block;
        height: 25px;
        text-align: center;
        color:black;
    }
    #div2 {
        top: 85px;
    }
    #burgerMenu {
        position: absolute;
        z-index: 9999;
        background-color: var(--color-background-2);
        border: 2px solid var(--color-border);
        display: none;
    }
    .burgerOption {
        padding: 15px 15px 15px 15px;
    }
}
  .blockBtnSlot {
      min-width: 11px;
      display: inline-block;
      text-align: center;
      line-height: 8px;
      max-height: 11px;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      box-sizing:border-box;
  }
  .blockBtnSlot.open-block::before {
      content: '-';
  }
  .blockBtnSlot.closed-block::before {
      content: '+';
  }
  .blockBtnSlot.occupied {
    border: 1px  solid black;
    border-radius: 50%;
    cursor: pointer;
  }
  .blockBtnSlot.occupied:hover {
    background: var(--color-primary);
    color: #fff;
  }
  .blockEllipses {
      font-weight: bold;
  }
