
#docucontent h1 {
    display: block;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
#docucontent span.codestyle {
    color: grey;
    font-family: Arial,sans-serif;
    font-style: italic;
}
.box h1 {
    display: block;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.box ol {
    margin-left: 2em;
}
.box ul {
    display: list-item;
    list-style-type: disc;
    margin-left: 1.5em;
}
.box hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cccccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    height: 2px;
    width: 100%;
}
.box span.codestyle {
    color: #666;
    font-family: Arial,sans-serif;
}
.box img {
    width: 70%;
}
.buttomenu2 {
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: calc(100%);
}
.buttomenu2 table td img {
    height: 24px;
    vertical-align: middle;
    width: 24px;
}
.buttomenu2 select {
    -moz-appearance: none;
    bottom: 0;
    margin: 0;
    outline: medium none;
    padding: 3px;
    text-indent: 1px;
    text-overflow: "";
    top: 0;
    width: 150px;
}
#buttomenu {
    border-color: rgb(0, 0, 0) transparent;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#picktemplate {
    background-color: white;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#picktemplate h1 {
    font-family: Arial,sans-serif;
    text-align: center;
}
#picktemplate img {
    height: 140px;
    width: 140px;
}
.mbutto {
    font-family: Verdana,serif;
    font-size: 14px;
    font-weight: normal;
    height: 44px;
    padding: 4px;
    text-align: center;
}
.mbutto:hover {
    cursor: pointer;
}
.menutext {
    border-radius: 12px;
    font-family: Verdana,serif;
    font-size: 24px;
    font-weight: normal;
    height: 46px;
    overflow: hidden;
    padding: 4px;
    vertical-align: middle;
    width: 100%;
}
.buttospacer {
    width: 20px;
}
#hotdogdrop {
    border-color: rgb(0, 0, 0) transparent;
    display: none;
    font-family: Arial,serif;
    font-size: 14px;
    height: auto;
    right: 0;
    width: auto;
}
#hotdogdrop table td img {
    color: white;
    float: right;
    font-family: Arial,serif;
    font-size: 14px;
}
#hotdogdrop table td {
    border-bottom: 1px solid #2a120a;
    font-family: Arial,serif;
    font-size: 14px;
}
#table-wrapper {
    position: relative;
}
#table-scroll {
    height: 100%;
    overflow-y: scroll;
}
#table-wrapper table {
    width: 100%;
}
#table-wrapper table * {
    color: white;
}
.dropdown {
    display: none;
    font-family: Arial,sans-serif;
    font-size: 14px;
    position: fixed;
    top: 50px;
    z-index: 4000;
}
.dropdownback {
    background-color: #614875;
    border-color: rgb(0, 0, 0) transparent;
    color: white;
    font-family: Arial,serif;
    font-size: 19px;
    font-weight: normal;
    padding-left: 8px;
}
.codedrop {
    border-color: rgb(0, 0, 0) transparent;
    height: calc(40%);
    overflow: auto;
    padding-left: 7px;
    right: 0;
    width: calc(20%);
}
.docudrop {
    border-color: rgb(0, 0, 0) transparent;
    height: calc(65%);
    min-width: 270px;
    padding-left: 7px;
    right: 0;
    width: calc(25%);
}
.themedrop {
    height: calc(40%);
    right: 0;
    width: calc(20%);
}
.imgdrop {
    height: calc(45%);
    padding: 5px;
    right: 0;
    width: calc(30%);
}
.imgdrop img {
    padding: 5px;
    width: 20%;
}
.forwdrop {
    background-color: #614875;
    border-color: rgb(0, 0, 0) transparent;
    cursor: default;
    height: auto;
    right: 20px;
    width: 200px;
}
.backwdrop {
    background-color: #614875;
    border-color: rgb(0, 0, 0) transparent;
    cursor: default;
    height: auto;
    right: 20px;
    width: 200px;
}
.dropdownitem {
    background: none repeat scroll 0 0 #614875;
    border-bottom: 1px solid #2a120a;
    color: white;
    cursor: default;
    display: block;
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
    padding-left: 5px;
}
.dropdownitem:hover {
    background-color: #7d5ca0;
}
.norm {
    background-color: #272822;
    color: #fff;
}
.normtextend {
    height: 120px;
    margin: 0 auto;
    position: relative;
}
#playlinkErrorMsg {
    display: none;
}
.settingsTabMenu {
    border-bottom: 2px solid;
    padding-bottom: 0;
    padding-left: 0;
}
.settingsTabMenu li {
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 2px;
    cursor: default;
    display: inline;
    margin: 5px;
    padding: 5px 5px 0;
}
.settingsTabMenu .activeSetMenuLink {
    border-bottom-width: 3px;
}
.tooltip, .arrow::after, .arrow2::after {
    background: none repeat scroll 0 0 black;
}
.tooltip {
    border-radius: 5px;
    color: orange;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 10px;
    font-size-adjust: none;
    font-stretch: condensed;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin-top: 20px;
    opacity: 0;
    padding: 5px 10px;
    pointer-events: none;
    position: fixed;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10000;
}
.arrow {
    bottom: -16px;
    height: 18px;
    overflow: hidden;
    position: absolute;
    width: 70px;
}
.arrow::after {
    content: "";
    height: 25px;
    position: absolute;
    top: -20px;
    transform: rotate(45deg);
    width: 25px;
}
.arrow2 {
    height: 18px;
    overflow: hidden;
    position: absolute;
    top: -16px;
    width: 70px;
}
.arrow2::after {
    bottom: -20px;
    content: "";
    height: 25px;
    position: absolute;
    transform: rotate(45deg);
    width: 25px;
}
.tooltip.active {
    margin-top: 5px;
    opacity: 1;
    transition-delay: 0.5s !important;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
}
.tooltip.active2 {
    margin-top: 5px;
    opacity: 1;
    transition-delay: 0.5s !important;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
}
.tooltip.out {
    margin-top: -5px;
    opacity: 0;
    transition-delay: 0s !important;
}
.tooltip.out2 {
    margin-top: 15px;
    opacity: 0;
    transition-delay: 0s !important;
}
.norm > [contenteditable="true"] br, .butt > [contenteditable="true"] br {
    display: none;
}
.templateicon {
    float: left;
    margin: 0;
    width: 45%;
}
.templatethumbicon {
    margin: 2% 1%;
    padding: 3%;
    width: 88%;
}
.templatethumbicon:hover {
    cursor: pointer;
}
.themeicon {
    height: 20px;
    padding: 5px;
}
.themeicon:hover {
    cursor: pointer;
}
.themeicon img {
    vertical-align: text-bottom;
}
.themeicon span {
    font-size: 16px;
    padding-left: 6px;
}
.themeicon:hover {
    background-color: black;
}
.mobilethemebutton {
    display: none;
}
.subbutton span {
    font-size: 12px;
}
.showdesktop {
    display: table-cell;
}
.showmobile {
    display: none;
}
.codebox {
    padding: 0 !important;
}
.descbox {
    padding: 10px !important;
}
.descbox h1 {
    color: #000;
    font-size: 1.8em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}
.desc pre {
    font-family: "Courier 10 Pitch",Courier,monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre-wrap;
}
.descbox code {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #bebab0;
    display: inline-block;
    font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
    font-size: 95%;
    line-height: 140%;
    margin: 0.5em 0;
    padding: 0 1em 1em;
    white-space: pre-wrap;
}
.alert.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    width: 150px;
}
.alert.warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.slide-down {
    border-left-width: 0;
    border-radius: 0;
    border-right-width: 0;
    border-top-width: 0;
    height: 40px;
    overflow: hidden;
    width: 100%;
    z-index: 3000;
}
.alert strong, .alert p {
    margin: 0;
    padding: 0;
}
.alert span {
    cursor: default;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 0;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 300px;
}
.buttomenu2 {
    margin: 0;
    position: absolute;
    top: 0;
    width: calc(100%);
}
.buttomenu2 .boxcontentselect {
    -moz-appearance: none;
    bottom: 0;
    margin: 0;
    outline: medium none;
    padding: 3px;
    text-indent: 1px;
    text-overflow: "";
    top: 0;
    width: 150px;
}
.buttomenu2 .wordlistselect {
    -moz-appearance: none;
    bottom: 0;
    margin: 0;
    outline: medium none;
    padding: 3px;
    text-indent: 1px;
    text-overflow: "";
    top: 0;
    width: 70px;
}
.ui-resizable-e {
    bottom: 0;
    cursor: ew-resize;
    height: 100%;
    position: absolute;
    right: 0;
    width: 10px;
}
.ui-resizable-s {
    bottom: 0;
    cursor: ns-resize;
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
}
#SeqEdit {
    margin-top: 10px;
    max-height: 500px;
}
#sortListBox {
    background-color: #cccccc;
    border: 0px solid #424242;
    display: inline-block;
    margin: 5px;
    padding: 5px 3px 0;
    text-align: center;
    width: 175px;
	max-height: 200px;
	overflow: auto;
}
#sortListBox span {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
}
#exampleListBox {
    background-color: #cccccc;
    border: 0px solid #424242;
    display: inline-block;
    float: right;
    margin: 5px 5px 10px;
    padding: 5px 3px 0;
    text-align: center;
    width: 175px;
	max-height: 200px;
    overflow: auto;
  
}

#exampleListBox Div {
    opacity: 0.6;
 
}
#exampleListBox span {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
}
#sortList div {
    background: none repeat scroll 0 0 #614875;
    border-color: #424242;
    border-style: solid;
    border-width: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin: 5px 2px;
    padding: 5px;
    text-align: left;
}
#exampleList div {
    background: none repeat scroll 0 0 #614875;
    border-color: #424242;
    border-style: solid;
    border-width: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin: 5px 2px;
    padding: 5px;
    text-align: left;
}
.empty {
    background: none repeat scroll 0 0 #614875;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}
.newSequence, .deleteSequence, .updateSequence {
    background-color: rgb(97, 72, 117);
    border: 0 none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    float: right;
    font-size: 14px;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 4px;
    transition: background-color 1s ease 0s;
}
.updateSequence {
    margin: 0 5px 5px 323px;
}
.newSequence:hover, .updateSequence:hover, .deleteSequence:hover {
    background-color: #7b5a96;
    border-radius: 4px;
}
#seqSelectBox {
    margin-bottom: 5px;
    padding: 5px;
}
#seqSelectBox select {
    max-width: 185px;
    width: 185px;
}
#status {
    color: green;
    float: right;
    margin-left: 323px;
    margin-right: 30px;
}
.loginBox {
    top: 25%;
}
