.descbox {
	/*font-family: arial;*/
	color: #333;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
	overflow-y: scroll;
	background-color: #fff;
	padding:10px;
}

.descbox pre {
    font-family: Hack, "Courier 10 Pitch", Courier, monospace;
    font-size: 12px;
    line-height: 14px;
    white-space: pre;
    white-space: pre-wrap;
}
.inline-div{
    display: inline-block;
}
.inline-txtarea{
    resize: none;
    border: 10px solid black;
    height: 125px;
}

#markdown img{
		box-shadow: 2px 2px 4px RGBA(0,0,0,0.7);
		border: 2px solid black;
        border-radius: 2px;
        max-width:100%;
}

.descbox code {
    font-family: Hack, MyWebFont,Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 10px;
    line-height: 12px;
    white-space: pre;
    white-space: pre-wrap;
    background: #ffffff;
    display: inline-block;
    padding: 1em;
    margin: 0.5em 0px;
    border: 1px solid #bebab0;
    box-shadow: 1px 1px 2px #666;
}

.descbox strong {
		font-weight: bold;
}

.descbox em {
		font-style: italic;
}

.descbox ul, .descbox ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

.descbox ul > li, .descbox ol > li  {
	font-style: normal;
	font-weight: normal;
}

.descbox blockquote {
	display: inline-block;
	background: #ffffff;
	padding: 10px 20px 10px 30px;
	margin-bottom: 10px;
	border-left: 10px solid #614875;
	border-right: 2px solid #614875;
	-moz-box-shadow: 0px 0px 5px #cccccc;
	-webkit-box-shadow: 0px 0px 5px #cccccc;
	box-shadow: 0px 0px 5px #cccccc;
}

.descbox .imgzoom {
	border-radius: 2px;
	margin: 2px 0px 2px 0px;
}

.descbox .smileyjs {
	margin-bottom: -2px;
	width: 20px;
}

.descbox .smileyphp {
	margin-top: 4px;
	margin-bottom: -1px;

	width: 20px;
}

/* "gifimage", "gifwrapper" and "playbutton" are styles for showing gif clips for tutorials etc. */

.gifimage{
		width: 150px !important;
		border: 3px solid teal;
}

.gifwrapper {
    position: relative;
		display: flex;
		align-items: center;
}

.playbutton {
	position: relative;
	left: -98px;
  border: 2px solid black;
  padding:2px;
  width: 32px !important;
  height: 32px  !important;
  border-radius: 32px 32px;
  pointer-events: none;
  background-color: rgba(255,255,255,0.5);
}

.gifimage-fullsize {
	position: fixed;
	top:55px;
	left:20%;
	width:60% !important;
	z-index: 10000;
}
.console {
		margin:10px;
		font-family:Courier;
		color: #CCCCCC;
		background: #000000;
		border: 3px double #CCCCCC;
		padding: 10px;
}

/* Styles for markdown-tables */
.markdown-table {
	color: #333;
	width: 100%;
	max-width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
  	border-spacing: 0;
  	line-height: 1.42857143;
}
.markdown-table thead tr {
	background: #f9f9f9;
}
.markdown-table tbody, .markdown-table thead {
	vertical-align: middle;
}

.markdown-table tbody tr:nth-child(even)  {
	background-color: #f9f9f9;
}
.markdown-table thead th {
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom-width: 3px;
	vertical-align: bottom;
	padding: 8px;
    font-weight: bold;
    text-align: center;
}

.markdown-table > tbody > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
	border: 1px solid #ddd;
}

#markdown h4, #markdown h5, #markdown h6 {
	margin: 0;
}

#markdown h3{
    font-size:16px;
    margin: 2px 0px 2px 0px;
    border-bottom: 2px solid #aaa;
}

#markdown hr {
    height:4px;  
    padding:0;
    margin:16px 0;
    color:#e1e4e8;
    border:0;
}
