@font-face{ 
    font-family: 'MyWebFont';
    src: url('ubuntu-mono-webfont.eot');
    src: url('ubuntu-mono-webfont.eot?iefix') format('eot'),
         url('ubuntu-mono-webfont.woff') format('woff'),
         url('ubuntu-mono-webfont.ttf') format('truetype'),
         url('ubuntu-mono-webfont.svg#webfont') format('svg');
}

<link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.010/css/hack-extended.min.css">

.descbox {
	font-family: arial;
	color: #000;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
}

.descbox h1 {
	color: #000;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	font-size: 1.43em;
	line-height: 1.4em;
	font-weight: bold;
}

.descbox h2 {
	color: #000;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	font-size: 1.29em;
	line-height: 1.5em; 
	font-weight: bold;
}

.descbox h3 {
	color: #000;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	font-size: 1.14em;
	line-height: 1.3em; 
	font-weight: bold;
}

.descbox h4 {
	color: #000;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: bold;
}

.descbox pre {
    font-family: Hack, "Courier 10 Pitch", Courier, monospace;
    font-size: 12px;
    line-height: 14px;
    white-space: pre;
    white-space: pre-wrap;
}

.descbox code {
    font-family: Hack, MyWebFont,Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 10px;
    line-height: 12px;
    white-space: pre;
    white-space: pre-wrap;
    background: #ffffff;	
    display: inline-block;
    padding: 1em;
    margin: 0.5em 0px;
    border: 1px solid #bebab0;	
    box-shadow: 1px 1px 2px #666;
}

.descbox strong {
		font-weight: bold;
}

.descbox em {
		font-style: italic;
}

.descbox ul {
		margin-left: 32px;
}

.descbox ol {
		margin-left: 36px;
}

img {
	border-radius: 2px;
}

/* "gifimage", "gifwrapper" and "playbutton" are styles for showing gif clips for tutorials etc. */

.gifimage{
		width: 150px;
		border: 3px solid teal;
}

.gifwrapper {
	float: left;
    position: relative;
}

.playbutton {
	position: absolute; 
	top: 35%;
	left: 42%;
    width: auto;
}