@media only screen and (max-width: 1100px){
    .showmobile{
        display: table-cell;
    }
    .showdesktop{
        display: none;
    }
    #navHeading {
        font-size: 1.5em;
    }
    #exampleSection{
        display: none;
    }
    .boxwrapper{
        border:none !important;
    }
    .deactivatedbox{
        height: 25px !important;
        border-bottom: 1px solid #8C8C8C !important;
    }
    .activebox{
        height: -moz-calc(100.0%) !important;
        height: -webkit-calc(100.0%) !important;
    }
    /* Template boxes behaviour for mobile version  START*/
    .buttomenu2{
        background: url("../new icons/tab_button.svg") no-repeat right #B5B5B5;
        color: #5D5D5D !important;
        height: 25px;
    }
    
    .deactivatedbox *{
        padding: 0px !important;
    }
    /* Change background image */
    .activebox .buttomenu2{
        background: url("../new icons/tab_button_down.svg") no-repeat right #5A5757;
        background-size: 20px 20px !important;
    }
    .deactivatedbox .buttomenu2{
        background: url("../new icons/tab_button.svg") no-repeat right #5A5757;
        background-size: 20px 20px !important;
    }
    /* Template boxes behaviour for mobile version  STOP*/

    #box1wrapper{
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        width: -moz-calc(100.0%);
        width: -webkit-calc(100.0%);
    }
    #box2wrapper {
        position: relative;
        top: 0px;
        width: -moz-calc(100.0%);
        width: -webkit-calc(100.0%);

    }
    #box3wrapper {
        position: relative;
        top: 0px;
        width: -moz-calc(100.0%);
        width: -webkit-calc(100.0%);

    }
    #box4wrapper {
        position: relative;
        top: 0px;
        width: -moz-calc(100.0%);
        width: -webkit-calc(100.0%);

    }

}

@media screen and (max-width : 540px){

   /* DuggaSys Sectioneed menu */
     .course-menu--settings{
        width:100%;
    }

    .course-menu--settings .course-dropdown{
        width:100%;
        height: 44px;
    }

    .course-menu--settings .submit-button{
        width:100%;
        height: 44px;
        margin:3px 0px 3px 0px;
    }

    .course-menu--options{
        width:100%;
    }
    
    .course-menu--options .submit-button {
        width:100%;
        height: 44px;
        margin:3px 0px 3px 0px;
    }

    input.new-item-button {
        width:100%;
        height: 40px;
        margin:3px 0px 3px 0px;
        float:none;

    }

     /* End DuggaSys Sectioneed menu*/

}


