@import url("hack-extended.min.css");

html, body, div, span, applet, object, 
iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;  
    padding: 0; 
    border: 0;  
    font-size: 100%;    
    font: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.listbar{
    margin:0px auto;
    background-color: #614875;
    color:#fff;
    display: block;
    padding-top:1px;
	height:31px;width:100%;padding:2px;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 0;
}
h1 {
    color: #fff;
    font-size: 1.8em;
    line-height: 1.4em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em; 
}
h3 {
    font-size: 1.3em;
    line-height: 1.3em; 
}
h4 {
    font-size: 1.2em;
    line-height: 1.5em;
}
body {
    background: #ddd;
}
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

/* --------------================################================-------------- *
 *                               Lists and Content                              *
 * --------------================################================-------------- */

.version {
    color:#EFF;
    text-shadow:1px 1px #000;
    text-align:center;
    padding: 10px;
    font-size: 10pt;
    font-family: Calibri,Sans-Serif;
}

.err{

    color:#FFE;
    background-color:#964C4D;
    /* border:2px solid #964C4D; */
    border-radius:10px;
    font-family: Calibri,Sans-Serif;
    display: block;
    box-shadow:0px 2px 4px #DCD;
    padding:8px;
    text-shadow:1px 1px #000;
}		

#content {
    position:absolute;
    background: #fff;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    padding: 15px 10px 5px 10px;
}

#accessedcontent {
    margin:0px auto;
    position:relative;
    padding: 10px 10px 10px 10px;
    background: #fff;
    min-height: 200px;
}

#newbutton {
    margin:0px auto;
    position:relative;
    padding: 50px 12px 8px 8px;
    background: #fff;
    min-height: 50px;
}

#wrappall {
    margin:0px auto;
    width:80%;
    border: 8px solid #ccc;
}

.lena{
    border-radius: 6px 0px 0px 6px;
    color:#FFF;
    background-color: #775886;
    background: linear-gradient(to bottom, #775886 , #573866); 
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    margin-right:2px;
}		

.sys{
    border-radius:6px;
    color:#775886;
    border: 2px solid #775886;
    background-color: #fff;
    padding-right:4px;
    margin-right:4px;		
    text-decoration: none;
}

#Courselist{
    margin:0px auto;
    background-color: #fff;
    color:#434343;
    display: block;
    padding-top:1px;
}

#Courselist a{
    text-decoration:none;
}

#Courselist a:hover{
    text-decoration:underline;
}

#Courselist .head {
    text-align: center;
    color:#775886;
    font-size: 18pt;
    font-family: Calibri,Sans-Serif;
    display: block;
    background-color: #FFF;
    padding-top:7px;
    min-height:30px;
    margin-top:40px;
    margin-bottom:4px;
    padding-bottom:4px;
    border-bottom: 2px dotted #775886;
}


#Courselist .bigg {
    text-align: center;
    color:#775886;
    font-size: 14pt;
    font-family: Calibri,Sans-Serif;
    display: block;
    background-color: #fff;
    padding-top:7px;
    min-height:30px;
    margin-right:8px;
    padding-right:8px;
}

#Sectionlist{
    margin:0px auto;
    background-color: #fff;
    color:#434343;
    display: block;
    padding-top:1px;
}

.item {
    font-family: Calibri,Sans-Serif;
    padding-top:7px;
    min-height:30px;
    font-size: 14pt;
}

#Sectionlist .section {
    color:#fff;
    background-color: #927b9e;
}

#Sectionlist .header {
    color:#fff;
    background-color: #775886;
    text-align: center;
}

#Sectionlist .moment {
    color:#ffffff;
    background-color: #927b9e;
}

#Sectionlist .example {
    color:#434343;
    font-size: 12pt;
    padding-top:5px;
    min-height:26px;
}

#Sectionlist .spacerLeft {
    height:32px;
    width:20px;
    margin-left:22px;
    border-left:2px solid black;
}

#Sectionlist .spacerEnd {
    height:16px;
    width:20px;
    margin-left:22px;
    margin-bottom: 14px;
    border-left:2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 6px;
    overflow: hidden;
}

#Sectionlist .quiz {
    color:#434343;
    font-size: 12pt;
    padding-top:5px;
    min-height:26px;
}

#Sectionlist .course {
    padding:6px;
    text-align: center;
    color: #fff;
    display: block;
    font-family: Calibri,Sans-Serif;
    font-size:18pt;
    background-color: #614875;
    clear:both;
}

.item a {
    text-decoration:none;
    color: #775886;
}

.item a:hover {
    text-decoration:underline;
}

#Sectionlist .norm{
    background-color:#fff;
    color: #000;
}

#Sectionlist .norm:hover {
    background-color:#c6cdb8;
    color: #000;
}


#Sectionlist .hi:hover {
    background-color:#c6cdb8;
    color: #000;
}

#Sectionlist .lo:hover {
    background-color:#c6cdb8;
    color: #000;
}

.hi { 
	    background-color:#dad8db; 
}

.lo {
			background-color:#eae8eb;
}

.WhiteLight{
		width:22px;
		height:22px;
		margin: 0px 10px;
		background: radial-gradient(white, grey, white);
		border-radius:11px;
		border:1px solid #000;
}


.YellowLight{
        width:22px;
        height:22px;
        margin: 0px 10px;
		background: radial-gradient(yellow 50%, grey, white 60%);
        border-radius:11px;
        border:1px solid #000;
}

.RedLight{
		width:22px;
		height:22px;
		margin: 0px 10px;
		background: radial-gradient(red 55%, grey, white 60%);
		border-radius:11px;
        border:1px solid #000;
}

.GreenLight{
		width:22px;
		height:22px;
		margin: 0px 10px;
		background: radial-gradient(green 55%, grey, white 60%);
		border-radius:11px;
		border:1px solid #000;
}

.hidden {
	opacity:0.5;
	border-radius:4px;
	margin-left:16px;
}

p {
    margin: .5em auto .5em auto;
}

/* ---- ---- ---- --- Files page --- ---- ---- ---- */

.fileed-row-wrapper{
	margin-top: 10px;
}

/* --------------================################================-------------- *
 *                                    Header                                    *
 * --------------================################================-------------- */

header {
    overflow: hidden;
    color: #fff;
    height: 50px;
    width: 100%;
    background: #614875;
    position: fixed;
    z-index: 5000;
    top: 0px;
    left: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);
}

header td {
    white-space: nowrap;
}

#scoreElement {
    z-index: 9000;
    width: 100px;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0%;
    left: 50%;
    margin-top: 7px;
    margin-left: -50px;
    border-style: solid;
    border-width: 1px;
}

.navButt {
    width:32px;
    vertical-align: middle;
}

.navButt img {
    margin-left: 10px;
    vertical-align: middle;
    height: 32px;
}

.navButt:hover {
    cursor: pointer;
}

.navHeading {
    font-size: 2.5em;
    vertical-align: middle;
    padding-left: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
    overflow: hidden;
}

.navName {
    font-size:0.8em;
    color: #FFFFFF;
    cursor:default;
    text-decoration:none;
    text-align:right;
    overflow:hidden;
    padding-right:4px;
}

.navName:hover {
    font-size:0.8em;
	text-shadow:1px 1px 4px #50A750;
    color: #FFFFFF;
    cursor:default;
	text-decoration:underline;
    text-align:right;
    overflow:hidden;
    padding-right:4px;
}

#userName {
    cursor:pointer;
}

.loggedout {
    background-color: #c75050;
}

.loggedout:hover {
    background-color: #50a750;
}

.loggedin {
    background-color: #50a750;
}

.loggedin:hover {
    background-color: #c75050;
}

#loginbutton{
    cursor:pointer;
    height:50px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
}

#div2
{
    width:100%;
    position: fixed;
    top: 50px;
    bottom: 0px;
    left:0px;
    background:#fff;
}


/* --------------================################================-------------- *
 *                                   Dialog Box                                 *
 * --------------================################================-------------- */

#resultpopover{
    position:fixed;
    left:50px;
    top:70px;
    right:50px;
    bottom:50px;
    z-index:9000;
    box-shadow:2px 2px 4px #000;
    padding:4px;
    background-color: #ccc;
    border: 2px solid #999;
}

.floatRightBox{
    width:220px;
    min-height:300px;
    float:left;
    margin-left:10px;
    overflow:auto;
    float:right;
    z-index:9000;
    box-shadow:2px 2px 4px #000;
    padding:4px;
    background-color: #ccc;
    border: 2px solid #999;
}



#overlay {
    position: fixed;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 8000;
}

.receiptBox {
    display:block;
    padding:4px;
    background-color: #ccc;
    border: 2px solid #999;
    width: 350px;
    min-height: 100px;
    z-index: 9000;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -178px;
    box-shadow:2px 2px 4px #000;
}
.receiptBox select {font-size:14px;float:right;margin-right:4px;}

.receiptBoxheader {
    height: 25px;
    background-color: #614875;
    vertical-align: bottom;
    padding-left: 10px;
/*  padding-top: 15px; */
}
.receiptBox h3 {
    font-size: 14px;
    margin-top: 10px;
    line-height: 0.5em;
    color: #fff;
    float: left;
    width: 50%;
}
.receiptBoxheader div {
    padding: 2px 20px 2px 20px;
    position: absolute;
    top: 4px;
    right: 5px;
    color: #fff;
    cursor: default;
    background-color: #c75050;
    font-family: arial;
    font-weight: bold;
    height:20px;
}
.receiptBoxheader div:hover {
    background-color: #ce3d3d;
}
.recepitBox form {
    padding: 10px;
}
.recepitBox .text {
    font-weight: bold;
    font-size: 0.8em;
}

.receiptBox .submit {
    width: 80px;
    height: 25px;
    color: #fff;
    background-color: #614875;
    border: 0px;
    border-radius: 4px;
    margin-left: 1px;
}
 
.loginBox {
    display:block;
    padding:4px;
    background-color: #ccc;
    border: 2px solid #999;
    width: 350px;
    min-height: 100px;
    z-index: 9000;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -178px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);
}

.loginBox textarea, #import{
    width:100%;
    height:200px;
    margin:auto;
    margin-top:7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:5px;
}

.loginBox textarea, #receipt {
    width:100%;
    height:60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.note {
    font-size: 0.95em;
}

/* --------------================################================-------------- *
 *                       		  Pop-up BOX        				   *
 * --------------================################================-------------- */

#playlink {
    width: 216px;
}

#editContent td {
	padding: 5px 5px 0px 5px;
}
	
#editContent select  {
	padding: 5px;
	float: none;
	width: 100%;
	height: 30px;
}

#editContent input[type="number"] {
	height: 30px;
	border-color: rgb(169, 169, 169);
}

#editContent input[type="text"] {
  height: 30px;
  border-color: rgb(169, 169, 169);
  width: 100%;
}

#editContent input.submit-button {
	margin:0;
}

#impwords, #impword {
    max-width: 184px;
    min-width: 184px;
    margin-left: 0px;
}

#before, #after {
    float: left;
    width: 226px;
}

#playlink {
    width: 216px;
}

.loginBox .inputwrapper {
    clear:both;
	width:100%;
	padding:3px 0 3px 0;
	height:30px;
	line-height:30px;
}

.loginBox .inputwrapper span{
    float:left;
}

.loginBox .inputwrapper input, .loginBox .inputwrapper select{
    float:right;
}

.loginBox .inputwrapper input[type="checkbox"]{
    margin-right:200px;
	height:24px;
}

.loginBox select {
    width: 216px;
    height: 30px;
    line-height: 18px;
    color: #6f6f6f;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 5px;
    font-size: 14px;
}

.loginBoxheader {
    height: 25px;
    background-color: #614875;
    vertical-align: bottom;
    padding-left: 10px;
    cursor:move;
/*  padding-top: 15px; */
}
.loginBoxheader h3 {
    font-size: 14px;
    margin-top: 10px;
    line-height: 0.5em;
    color: #fff;
    float: left;
    width: 50%;
}
.loginBoxheader div {
    padding: 2px 20px;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgb(255, 255, 255);
    cursor: default;
    background-color: rgb(199, 80, 80);
    font-family: arial;
    font-weight: bold;
    height: 21px;
}
.loginBoxheader div:hover {
    background-color: #ce3d3d;
}
.loginBox form {
    padding: 10px;
}
.loginBox .text {
    font-weight: bold;
    font-size: 0.8em;
}

.loginBox .submit {
    width: 80px;
    height: 25px;
    color: #fff;
    background-color: #614875;
    border: 0px;
    border-radius: 4px;
    margin-left: 1px;
}

.loginBox .cancel {
    width: 80px;
    height: 25px;
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
    border: 1px;
    border-radius: 4px;
    margin-left: 1px;
}

.loginBox .forgotPw {
    font-family: arial;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 10px;
}

.loginBox .form-control {
    margin: 3px 0px 3px 0px;
}

.loginBox .hide {
    display: none;
}

.loginBox td{
    margin-left:4px;
}

/* ---- ---- ---- --- HigescoreBox --- ---- ---- ---- */

#HighscoreTable{
	text-align: center;
}

#HighscoreTable th{
	font-size: 120%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.highscoreUser {
	background-color: rgba(99, 102,99, 0.4);
}

/* --------------================################================-------------- *
 *                                 Form Controls                                *
 * --------------================################================-------------- */
 
.form-control {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.textinput {
    display: block;
    width: 216px;
    height: 30px;
    line-height: 18px;
    color: #202020;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 5px;
    font-size: 14px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    border-radius: 0px;
    box-sizing: border-box;
}

input.option {
    float: left;
}

button.option {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 38px;
    height: 38px;
    padding: 6px 12px;
    margin: 2px 0px 2px -38px;
}

input.submit-button {
    background-color:#614875;
    border:0px;
    width:110px;
    height:30px;
    color:#fff;
    cursor:pointer;
    margin-top:6px;
    margin-bottom:2px;
    margin-left:4px;
    font-size:14px;
    transition:1s background-color;
    float:right;
}

input.submit-button:hover {
    background-color:#7B5A96;
    border-radius:4px;	
}

input.submit-button-red {
    background-color:#c75050;
    border:0px;
    width:100px;
    height:30px;
    color:#fff;
    cursor:pointer;
}

input.submit-button-red:hover {
    background-color:#DF4F4F;
    border-radius:4px;	
}

input.new-item-button {
    float:right;
    background-color:#927B9E;
    border:0px;
    width:100px;
    height:28px;
    color:#fff;
    cursor:pointer;
    margin-top:2px;
    margin-bottom:2px;
    font-size:14px;
    border-radius:4px;
    transition:0.5s background-color;
}

input.new-item-button:hover {
    background-color:#614875;
    border:1px solid #927B9E;
    border-radius:4px;  
}

.button-row {
    width:100%;
    height:35px;
    text-align: right;
}

.list {width:100%;padding:1px;border-left:2px solid #dbd0d8;border-bottom:2px solid #dbd0d8;margin-top:20px;}

.list td {border-right:2px solid #dbd0d8; line-height:28px;padding-left:8px;}
.list th {background:#614875; color:#fff;line-height:28px;}

.innertable {background:#fff;box-shadow:2px 3px 2px #a09098 inset;border-top: 2px solid #dbd0d8;border-bottom: 2px solid #dbd0d8;}
.innertable td {color:#000;line-height:28px;border:none;}

.list tr:hover { background-color: #dbd0d8; }

.list--nomargin {
    margin: 0!important;
}

.markinglist {width:100%;padding:1px;border-left:2px solid #dbd0d8;border-bottom:2px solid #dbd0d8;margin-top:20px;font-family: hack,"Lucida Console", Monaco, monospace; font-size: 12px;}

.markinglist td {border-right:2px solid #dbd0d8;;padding-left:8px;font-family: hack,"Lucida Console", Monaco, monospace; font-size: 10px; }
.markinglist th {background:#614875; color:#fff;font-style: italic;}

.markinginnertable {background:#fff;box-shadow:2px 3px 2px #a09098 inset;border-top: 2px solid #dbd0d8;border-bottom: 2px solid #dbd0d8;font-family: hack,"Lucida Console", Monaco, monospace; font-size: 12px;}
.markinginnertable td {color:#000;border:none; font-family: hack,"Lucida Console", Monaco, monospace; font-size: 10px; }

.markinglist tr:hover { background-color: #dbd0d8; }

.markinglist--nomargin {
    margin: 0!important;
}


.Trow{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    line-height: 10px;
}

@media print {
	.Trow {
	    page-break-inside : avoid
	}
	
	header {display:none;}
	
	body {margin:0px}
	
	#content {margin:0px; padding:0px; border:none;}
	
	#mirth {display:none;}
}
 
/* Clearfix styles */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

/* DuggaSys Header */
/*******************/

.head__backanchor {
	color: #ff0;
}
.head__backanchor:visited {
	color: #ff0;
}
.head__backanchor:hover {
	color: #fff;
}


.duggasys-head__backtext {
	display: block;
}
/* Navigation link styles */
.duggasys-head--nav a {
	color: #ffffff;
	text-decoration: none;
}
.duggasys-head--nav a:visited {
	color: #ffffff;
}
.duggasys-head--nav a:hover {
	color: red;
}

.duggasys-head--userinfo {
	float: right;
	margin: 10px 85px 10px 10px;
}
.duggasys-head__profileicon {
	height: 100%;
	padding: 5px;
}
.duggasys-head__profileicon:hover {
	height: 100%;
	padding: 5px;
}
.duggasys-head__username {

}

/* End DuggaSys Header */
/***********************/

/* DuggaSys Sectioneed*/
.course-menu--settings {
	float: left;
	margin-top: 6px;
}

.course-menu--options {
	float: right;
	margin-top: 6px;
}

/* select element */
.course-dropdown {
	height: 30px;
	margin-top: 6px;
}

.course-menu-wrapper {
    padding-bottom: 10px;
}

/* End DuggaSys Sectioneed*/
/**************************/


/* DuggaSys resulted*/
#namecolumn .namecolumnheader {
	width:200px;
	height:30px;
	background: #614875;
	line-height:30px;
	color:#FFFFFF;
	text-align:center;
}
#namecolumn {
	margin-top:10px;
	float:left;
}
#studentswrapper {
	overflow-y:hidden;
	overflow-x:scroll;
}
#namecolumn .namecolumnstudent{
	height:64px;
	width:200px;
	border-bottom:2px solid #614875;
	border-left:2px solid #614875;
	border-right:2px solid #614875;
	text-align:right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px;
}
#divtable {
	float:left;
	overflow:scroll;
	width: calc(100% - 200px);
}
#tableheader {
	background: #614875;
	color:#FFFFFF;
	margin-top:10px;
	float:left;
	width: calc(100% - 200px);
	overflow:hidden;
}
#tableheaderwrapper{
	min-width:4100px;
}
#tableheaderwrapper div{
	height:30px;
	line-height:30px;
	float:left;
	text-align:center;
}
.momentdiv {
	border-right:2px solid #927b9e;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.momentdiv div{
	padding:5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fumo {
	border-bottom:2px solid #614875;
	clear:both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* End DuggaSys resulted*/
/**************************/

/* --------------================################================-------------- *
 *                                    UMV                                   *
 * --------------================################================-------------- */
 
.UmvSearchInput{
	 margin-top:13px;
 }
 .UmvButton {
	cursor:pointer;
	background-color:#FFFFFF;
	border:none;	
	letter-spacing:0.1em;
	margin-top:13px;
	margin-left:10px;
	padding:4px;
	text-align:center;
	color:#614875;
	border-radius:0.5em;
	font-size:0.75em;
}
 .UmvButton:hover {
	 background-color:#F5F0F5;
}


/* Searchfield UMV */
.searchfieldTV{
	font-family: Calibri,sans-serif;
	width: 35%; 
	margin-left:25px;
	margin-top:-40px;
	position:absolute;	
}

/* Searchfield UMV input field*/
.searchfieldTV input{
	width: 70%;
	height: 25px;
	float:left;
	position:relative;
	font-size:0.9em;
	border:none;
	border-top-left-radius:0.5em;
	border-bottom-left-radius:0.5em;
	box-shadow: inset 2px 2px 5px #A9A;
}

/* Searchfield UMV input text field focus */
.searchfieldTV input[type=text]:focus{
	box-shadow: inset 2px 2px 5px #988a98;
}

.gradeInput {
    margin:0;
}

.badge {
    background-color: #FFF;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    padding:2px;
    border:1px solid black;
    border-radius: 5px;
    font-size: 9px;
    position:relative;
    top:-5px;
}
.submit-button {
    background-color:#614875;
    border:0px;
    width:110px;
    height:30px;
    color:#fff;
    cursor:pointer;
    margin-top:6px;
    margin-bottom:2px;
    margin-left:4px;
    font-size:14px;
    transition:1s background-color;
    float:right;
    line-height: 30px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 10px 0 rgba(0,0,0,0.1);
}

.submit-button:hover {
    background-color:#7B5A96;
    border-radius:4px;  
}