
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.listbar {
    background-color: #614875;
    color: #fff;
    display: block;
    height: 31px;
    margin: 0 auto;
    padding: 2px;
    width: 100%;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 0;
}
h1 {
    color: #fff;
    font-size: 1.8em;
    line-height: 1.4em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}
h3 {
    font-size: 1.3em;
    line-height: 1.3em;
}
h4 {
    font-size: 1.2em;
    line-height: 1.5em;
}
body {
    background: none repeat scroll 0 0 #ddd;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #999;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-style: none none dashed;
    border-width: 0 0 1px;
}
.version {
    color: #eff;
    font-family: Calibri,sans-serif;
    font-size: 10pt;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px #000;
}
.err {
    background-color: #964c4d;
    border-radius: 10px;
    box-shadow: 0 2px 4px #dcd;
    color: #ffe;
    display: block;
    font-family: Calibri,sans-serif;
    padding: 8px;
    text-shadow: 1px 1px #000;
}
#content {
    background: none repeat scroll 0 0 #fff;
    margin: 0 auto;
    min-height: 200px;
    padding: 50px 10px 10px;
    position: relative;
}
#newbutton {
    background: none repeat scroll 0 0 #fff;
    margin: 0 auto;
    min-height: 50px;
    padding: 50px 12px 8px 8px;
    position: relative;
}
#wrappall {
    border: 8px solid #ccc;
    margin: 0 auto;
    width: 80%;
}
.lena {
    background: linear-gradient(to bottom, #775886, #573866) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 6px 0 0 6px;
    color: #fff;
    margin-right: 2px;
    padding: 2px 6px;
}
.sys {
    background-color: #fff;
    border: 2px solid #775886;
    border-radius: 6px;
    color: #775886;
    margin-right: 4px;
    padding-right: 4px;
    text-decoration: none;
}
#Courselist {
    background-color: #fff;
    color: #434343;
    display: block;
    margin: 0 auto;
    padding-top: 1px;
}
#Courselist a {
    text-decoration: none;
}
#Courselist a:hover {
    text-decoration: underline;
}
#Courselist .head {
    background-color: #fff;
    border-bottom: 2px dotted #775886;
    color: #775886;
    display: block;
    font-family: Calibri,sans-serif;
    font-size: 18pt;
    margin-bottom: 4px;
    margin-top: 40px;
    min-height: 30px;
    padding-bottom: 4px;
    padding-top: 7px;
    text-align: center;
}
#Courselist .bigg {
    background-color: #fff;
    color: #775886;
    display: block;
    font-family: Calibri,sans-serif;
    font-size: 14pt;
    margin-right: 8px;
    min-height: 30px;
    padding-right: 8px;
    padding-top: 7px;
    text-align: center;
}
#Sectionlist {
    background-color: #fff;
    color: #434343;
    display: block;
    margin: 0 auto;
    padding-top: 1px;
}
.item {
    display: block;
    font-family: Calibri,sans-serif;
    font-size: 14pt;
    min-height: 30px;
    padding-top: 7px;
}
#Sectionlist .section {
    background-color: #927b9e;
    color: #fff;
}
#Sectionlist .header {
    background-color: #775886;
    color: #fff;
    text-align: center;
}
#Sectionlist .moment {
    background-color: #927b9e;
    color: #ffffff;
}
#Sectionlist .example {
    color: #434343;
    font-size: 12pt;
    min-height: 26px;
    padding-top: 5px;
}
#Sectionlist .quiz {
    color: #434343;
    font-size: 12pt;
    min-height: 26px;
    padding-top: 5px;
}
#Sectionlist .norm {
    background-color: #f0f0f0;
    color: #fff;
}
#Sectionlist .course {
    background-color: #614875;
    clear: both;
    color: #fff;
    display: block;
    font-family: Calibri,sans-serif;
    font-size: 18pt;
    padding: 6px;
    text-align: center;
}
.hi {
    background-color: #dad8db;
}
.lo {
    background-color: #eae8eb;
}
.item a {
    color: #775886;
    text-decoration: none;
}
.item a:hover {
    text-decoration: underline;
}
#Sectionlist .norm:hover, #Sectionlist .example:hover, #Sectionlist .test:hover, #Sectionlist .hidden:hover {
    background-color: #c6cdb8;
    color: #000;
}
.hidden {
    border-radius: 4px;
    margin-left: 16px;
    opacity: 0.5;
}
p {
    margin: 0.5em auto;
}
.fileed-row-wrapper {
    margin-top: 10px;
}
header {
    background: none repeat scroll 0 0 #614875;
    color: #fff;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
}
header td {
    white-space: nowrap;
}
#scoreElement {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    left: 50%;
    margin-left: -50px;
    margin-top: 7px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100px;
    z-index: 9000;
}
.navButt {
    vertical-align: middle;
    width: 32px;
}
.navButt img {
    height: 32px;
    margin-left: 10px;
    vertical-align: middle;
}
.navButt:hover {
    cursor: pointer;
}
.navHeading {
    -moz-user-select: none;
    cursor: default;
    font-size: 2.5em;
    overflow: hidden;
    padding-left: 15px;
    vertical-align: middle;
}
.navName {
    color: #ffffff;
    cursor: default;
    font-size: 0.8em;
    overflow: hidden;
    padding-right: 4px;
    text-align: right;
    text-decoration: none;
}
.navName:hover {
    color: #ffffff;
    cursor: default;
    font-size: 0.8em;
    overflow: hidden;
    padding-right: 4px;
    text-align: right;
    text-decoration: underline;
    text-shadow: 1px 1px 4px #50a750;
}
#userName {
    cursor: pointer;
}
.loggedout {
    background-color: #c75050;
}
.loggedout:hover {
    background-color: #50a750;
}
.loggedin {
    background-color: #50a750;
}
.loggedin:hover {
    background-color: #c75050;
}
#loginbutton {
    cursor: pointer;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
#div2 {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 50px;
    width: 100%;
}
#resultpopover {
    background-color: #ccc;
    border: 2px solid #999;
    bottom: 50px;
    box-shadow: 2px 2px 4px #000;
    left: 50px;
    padding: 4px;
    position: fixed;
    right: 50px;
    top: 70px;
    z-index: 9000;
}
.floatRightBox {
    background-color: #ccc;
    border: 2px solid #999;
    box-shadow: 2px 2px 4px #000;
    float: right;
    margin-left: 10px;
    min-height: 300px;
    overflow: auto;
    padding: 4px;
    width: 220px;
    z-index: 9000;
}
#overlay {
    background-color: #000;
    height: 100%;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8000;
}
.receiptBox {
    background-color: #ccc;
    border: 2px solid #999;
    box-shadow: 2px 2px 4px #000;
    display: block;
    left: 50%;
    margin-left: -178px;
    margin-top: -100px;
    min-height: 100px;
    padding: 4px;
    position: fixed;
    top: 40%;
    width: 350px;
    z-index: 9000;
}
.receiptBox select {
    float: right;
    font-size: 14px;
    margin-right: 4px;
}
.receiptBoxheader {
    background-color: #614875;
    height: 25px;
    padding-left: 10px;
    vertical-align: bottom;
}
.receiptBox h3 {
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 0.5em;
    margin-top: 10px;
    width: 50%;
}
.receiptBoxheader div {
    background-color: #c75050;
    color: #fff;
    cursor: default;
    font-family: arial;
    font-weight: bold;
    height: 20px;
    padding: 2px 20px;
    position: absolute;
    right: 5px;
    top: 4px;
}
.receiptBoxheader div:hover {
    background-color: #ce3d3d;
}
.recepitBox form {
    padding: 10px;
}
.recepitBox .text {
    font-size: 0.8em;
    font-weight: bold;
}
.receiptBox .submit {
    background-color: #614875;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    height: 25px;
    margin-left: 1px;
    width: 80px;
}
.loginBox {
    background-color: #ccc;
    border: 2px solid #999;
    box-shadow: 2px 2px 4px #000;
    display: block;
    left: 50%;
    margin-left: -178px;
    margin-top: -100px;
    min-height: 100px;
    padding: 4px;
    position: fixed;
    top: 40%;
    width: 350px;
    z-index: 9000;
}
.loginBox textarea, #import {
    box-sizing: border-box;
    height: 200px;
    margin: 7px auto auto;
    padding: 5px;
    width: 100%;
}
.loginBox textarea, #receipt {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
}
.note {
    font-size: 0.95em;
}
#playlink {
    width: 216px;
}
#editContent td {
    padding: 5px 5px 0;
}
#editContent select {
    float: none;
    height: 30px;
    padding: 5px;
    width: 100%;
}
#editContent input[type="number"] {
    border-color: rgb(169, 169, 169);
    height: 20px;
}
#editContent input[type="text"] {
    border-color: rgb(169, 169, 169);
    height: 20px;
    width: calc(100% - 10px);
}
#editContent input.submit-button {
    margin: 0;
}
#impwords {
    margin-left: 0;
    max-width: 191px;
    width: 191px;
}
#impword {
    max-width: 191px;
    width: 191px;
}
#before, #after {
    float: left;
    width: 226px;
}
#playlink {
    width: 216px;
}
.loginBox .inputwrapper {
    clear: both;
    height: 30px;
    line-height: 30px;
    padding: 3px 0;
    width: 100%;
}
.loginBox .inputwrapper span {
    float: left;
}
.loginBox .inputwrapper input, .loginBox .inputwrapper select {
    float: right;
}
.loginBox .inputwrapper input[type="checkbox"] {
    height: 24px;
    margin-right: 200px;
}
.loginBox select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #6f6f6f;
    font-size: 14px;
    height: 30px;
    line-height: 18px;
    padding: 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 216px;
}
.loginBoxheader {
    background-color: #614875;
    height: 25px;
    padding-left: 10px;
    vertical-align: bottom;
}
.loginBoxheader h3 {
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 0.5em;
    margin-top: 10px;
    width: 50%;
}
.loginBoxheader div {
    background-color: rgb(199, 80, 80);
    color: rgb(255, 255, 255);
    cursor: default;
    font-family: arial;
    font-weight: bold;
    height: 21px;
    padding: 2px 20px;
    position: absolute;
    right: 4px;
    top: 4px;
}
.loginBoxheader div:hover {
    background-color: #ce3d3d;
}
.loginBox form {
    padding: 10px;
}
.loginBox .text {
    font-size: 0.8em;
    font-weight: bold;
}
.loginBox .submit {
    background-color: #614875;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    height: 25px;
    margin-left: 1px;
    width: 80px;
}
.loginBox .cancel {
    background-color: #ebebeb;
    border: 1px none;
    border-radius: 4px;
    color: #333;
    height: 25px;
    margin-left: 1px;
    width: 80px;
}
.loginBox .forgotPw {
    cursor: pointer;
    font-family: arial;
    font-size: 10pt;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: underline;
}
.loginBox .form-control {
    margin: 3px 0;
}
.loginBox .hide {
    display: none;
}
.loginBox td {
    margin-left: 4px;
}
#HighscoreTable {
    text-align: center;
}
#HighscoreTable th {
    font-size: 120%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.highscoreUser {
    background-color: rgba(99, 102, 99, 0.4);
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 18px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.textinput {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-sizing: border-box;
    color: #202020;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    letter-spacing: normal;
    line-height: 18px;
    padding: 5px;
    text-align: start;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 216px;
    word-spacing: normal;
}
input.option {
    float: left;
}
button.option {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 38px;
    margin: 2px 0 2px -38px;
    padding: 6px 12px;
    width: 38px;
}
input.submit-button {
    background-color: #614875;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 14px;
    height: 30px;
    margin-top: 3px;
    margin-right: 27px;
    transition: background-color 1s ease 0s;
    width: 100px;
}
input.submit-button:hover {
    background-color: #7b5a96;
    border-radius: 4px;
}
input.submit-button-red {
    background-color: #c75050;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    height: 30px;
    width: 100px;
}
input.submit-button-red:hover {
    background-color: #df4f4f;
    border-radius: 4px;
}
input.new-item-button {
    background-color: #927b9e;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 14px;
    height: 28px;
    margin-bottom: 2px;
    margin-top: 2px;
    transition: background-color 0.5s ease 0s;
    width: 100px;
}
input.new-item-button:hover {
    background-color: #614875;
    border: 1px solid #927b9e;
    border-radius: 4px;
}
.button-row {
    height: 35px;
    text-align: right;
    width: 100%;
}
.list {
    border-bottom: 2px solid #dbd0d8;
    border-left: 2px solid #dbd0d8;
    margin-top: 20px;
    padding: 1px;
    width: 100%;
}
.list td {
    border-right: 2px solid #dbd0d8;
    line-height: 28px;
    padding-left: 8px;
}
.list th {
    background: none repeat scroll 0 0 #614875;
    color: #fff;
    line-height: 28px;
}
.innertable {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 2px solid #dbd0d8;
    border-top: 2px solid #dbd0d8;
    box-shadow: 2px 3px 2px #a09098 inset;
}
.innertable td {
    border: medium none;
    color: #000;
    line-height: 28px;
}
.list tr:hover {
    background-color: #dbd0d8;
}
.list--nomargin {
    margin: 0 !important;
}
.Trow {
    font-family: "Lucida Console",Monaco,monospace;
    font-size: 8pt;
}
@media print {
.Trow {
    page-break-inside: avoid;
}
header {
    display: none;
}
body {
    margin: 0;
}
#content {
    border: medium none;
    padding: 0;
}
#mirth {
    display: none;
}
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
}
.head__backanchor {
    color: #ff0;
}
.head__backanchor:visited {
    color: #ff0;
}
.head__backanchor:hover {
    color: #fff;
}
.duggasys-head__backtext {
    display: block;
}
.duggasys-head--nav a {
    color: #ffffff;
    text-decoration: none;
}
.duggasys-head--nav a:visited {
    color: #ffffff;
}
.duggasys-head--nav a:hover {
    color: red;
}
.duggasys-head--userinfo {
    float: right;
    margin: 10px 85px 10px 10px;
}
.duggasys-head__profileicon {
    height: 100%;
    padding: 5px;
}
.duggasys-head__profileicon:hover {
    height: 100%;
    padding: 5px;
}
.duggasys-head__username {
}
.course-menu--settings {
    float: left;
    margin-top: 6px;
}
.course-menu--options {
    float: right;
    margin-top: 6px;
}
.course-dropdown {
    height: 30px;
}
.newSequence, .deleteSequence, .updateSequence {
    background-color: rgb(97, 72, 117);
    border: 0 none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    float: right;
    font-size: 14px;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 4px;
    transition: background-color 1s ease 0s;
}
.updateSequence {
    margin-bottom: 5px;
    margin-left: 320px;
    margin-top: 5px;
    float: left;
}
.newSequence:hover, .updateSequence:hover, .deleteSequence:hover {
    background-color: #7b5a96;
    border-radius: 4px;
}
#editExample {
    position: absolute;
    width: 442px;
}
#namecolumn .namecolumnheader {
    background: none repeat scroll 0 0 #614875;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 200px;
}
#namecolumn {
    float: left;
    margin-top: 10px;
}
#studentswrapper {
    overflow-x: scroll;
    overflow-y: hidden;
}
#namecolumn .namecolumnstudent {
    border-bottom: 2px solid #614875;
    border-left: 2px solid #614875;
    border-right: 2px solid #614875;
    box-sizing: border-box;
    height: 64px;
    padding: 10px;
    text-align: right;
    width: 200px;
}
#divtable {
    float: left;
    overflow: scroll;
    width: calc(100% - 200px);
}
#tableheader {
    background: none repeat scroll 0 0 #614875;
    color: #ffffff;
    float: left;
    margin-top: 10px;
    overflow: hidden;
    width: calc(100% - 200px);
}
#tableheaderwrapper {
    min-width: 4100px;
}
#tableheaderwrapper div {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.momentdiv {
    border-right: 2px solid #927b9e;
    box-sizing: border-box;
    display: inline-block;
}
.momentdiv div {
    box-sizing: border-box;
    padding: 5px;
}
.fumo {
    border-bottom: 2px solid #614875;
    box-sizing: border-box;
    clear: both;
}
.UmvButton {
    background-color: #ffffff;
    border: medium none;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    color: #614875;
    cursor: pointer;
    letter-spacing: 0.1em;
    margin-left: 0;
    padding-top: 4px;
    text-align: center;
    width: 8%;
}
.searchfieldTV {
    font-family: Calibri,sans-serif;
    margin-left: 25px;
    margin-top: -40px;
    position: absolute;
    width: 35%;
}
.searchfieldTV input {
    border: medium none;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    box-shadow: 2px 2px 5px #a9a inset;
    float: left;
    font-size: 0.9em;
    height: 25px;
    position: relative;
    width: 70%;
}
.searchfieldTV input[type="text"]:focus {
    box-shadow: 2px 2px 5px #988a98 inset;
}
