/* This template makes three boxes, one to the upper left and one to the upper right.
   The third fills out the bottom of the window. */
#box1wrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: -moz-calc(50.0%);
	width: -webkit-calc(50.0%);
	width: calc(50.0%);
	height: -webkit-calc(35%);
	height: -moz-calc(35%);
	height: calc(35%);
	max-width: 90%;
	min-width: 10%;
	max-height: 90%;
	min-height: 10%;
}

#box2wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	width: -moz-calc(50.0%);
	width: -webkit-calc(50.0%);
	width: calc(50.0%);
	height: -webkit-calc(35%);
	height: -moz-calc(35%);
	height: calc(35%);
	max-width: 90%;
	min-width: 10%;
	max-height: 90%;
	min-height: 10%;
}

#box3wrapper {
   	position: absolute;
   	right: 0px;
   	bottom: 0px;
   	left: 0px;
   	width: -moz-calc(100.0%);
	width: -webkit-calc(100.0%);
	width: calc(100.0%);
	height: -webkit-calc(65%);
	height: -moz-calc(65%);
	height: calc(65%);
	max-height: 90%;
	min-height: 10%;
}
@media only screen and (max-width: 800px) {
    #box1wrapper{
     overflow: hidden;
    position: absolute;
    left: 0px;
    height: -moz-calc(35.0%);
    height: -webkit-calc(35.0%);
    height: calc(33.0%) !important;
    width: -moz-calc(100.0%)!important;
    width: -webkit-calc(100.0%)!important;
    width: calc(100.0%)!important;
    min-height: 10%;
	max-height: 33%;
    min-width: 100%;
	max-width: 100%;
}



    #box2wrapper {
     overflow: hidden;
    position: absolute;
    top:33%;
    bottom: 0px;
    left: 0px;
    height: -moz-calc(65.0%);
    height: -webkit-calc(65.0%);
    height: calc(33.0%) !important;
    width: -moz-calc(100.0%)!important;
    width: -webkit-calc(100.0%)!important;
    width: calc(100.0%)!important;
    font-family: Arial,Sans-Serif;
    min-height: 10%;
	max-height: 33%;
    min-width: 100%;
	max-width: 100%;
}
        #box3wrapper {
     overflow: hidden;
    position: absolute;
    top:66%;
    bottom: 33%;
    left: 0px;  
    height: -moz-calc(65.0%);
    height: -webkit-calc(65.0%);
    height: calc(33.0%) !important;
    width: -moz-calc(100.0%)!important;
    width: -webkit-calc(100.0%)!important;
    width: calc(100.0%)!important;
    font-family: Arial,Sans-Serif;
    min-height: 10%;
	max-height: 33%;
    min-width: 100%;
	max-width: 100%;
}





}


