/* This template makes two boxes, one to the left in the window and one to the right of the first one*/
#box1wrapper {
    overflow: hidden;
    position: relative;
    border-right-style: solid;
    border-right-width: 3px;
    border-color: #5A5757;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    grid-column: a/b;
    grid-row: a/k;
    min-width: 100%;
    min-height: 100%;
}
.box{
    margin-top: 30px !important;
}
