
#box1wrapper {
    position: absolute;
    border-right-style: solid;
    border-right-width: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #5A5757;
    top: 0px;
    left: 0px;
    height: -webkit-calc(100.0%);
    height: -moz-calc(100.0%);
    width: -webkit-calc(34.6%)!important;
    width: -moz-calc(34.6%)!important; 
}

#box2wrapper {
    position: absolute;
    border-left-style: solid;
    border-left-width: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #5A5757;
    top: 0px;
    right: 0px;
    height: -webkit-calc(40.0%);
    height: -moz-calc(40.0%);
    width: -webkit-calc(65.0%)!important;
    width: -moz-calc(65.0%)!important;
     overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2; 
}

#box3wrapper {
    position: absolute;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-style: solid;
    border-top-width: 3px;
    border-color: #5A5757;
	top: 40%;
	right: 0px;
    height: -webkit-calc(30.0%);
    height: -moz-calc(20.0%);
    width: -webkit-calc(65.0%);
    width: -moz-calc(65.0%); 
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2;
}

#box4wrapper {
    position: Absolute;
    border-left-style: solid;
    border-left-width: 3px;
    border-top-style: solid;
    border-top-width: 3px;
    border-color: #5A5757;
    right: 0px;
    bottom: 0px;
    height: -webkit-calc(29.0%);
    height: -moz-calc(29.0%);
    width: -webkit-calc(65.0%);
    width: -moz-calc(65.0%);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2; 
}

