/* This template makes two boxes, one to the left in the window and one to the right of the first one*/
#box1wrapper {
    position: absolute;
    border-right-style: solid;
    border-right-width: 3px;
    border-color: #5A5757;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: -moz-calc(25.0%);
    width: -webkit-calc(25.0%);
    width: calc(25.0%);
    height: 100% !important;
	min-width: 10%;
	max-width: 90%;
}


#box2wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: -moz-calc(75%);
    width: -webkit-calc(75%);
    width: calc(75.0%);
    right: 0px;
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2;
    height: 100% !important;
	min-width: 10%;
	max-width: 90%;
}

@media only screen 
and (max-device-width : 725px) {
            #div2{
        top: 0px;
    }

        .codeborder{
        position: none;
        
    }

    .resetbtn{
        display:none;
    }
    .morebtn{
        display: block;
    }
    .morebtn:hover .moreboxes-content {display: block;}
    #box1wrapper{
    position: absolute;
    left: 0px;
    height: -moz-calc(35.0%);
    height: -webkit-calc(35.0%);
    height: calc(35.0%);
    width: -moz-calc(100.0%)!important;
    width: -webkit-calc(100.0%)!important;
    width: calc(100.0%)!important;
    min-height: 10%;
	max-height: 50%;
    min-width: 100%;
	max-width: 100%;
}


    #box2wrapper {
    position: absolute;
    top:auto !important;
    bottom: 0px;
    left: 0px;
    height: -moz-calc(65.0%);
    height: -webkit-calc(65.0%);
    height: calc(65.0%);
    width: -moz-calc(100.0%)!important;
    width: -webkit-calc(100.0%)!important;
    width: calc(100.0%)!important;
    font-family: Arial,Sans-Serif;
    min-height: 10%;
	max-height: 50%;
    min-width: 100%;
	max-width: 100%;
}





}
