
#box1wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    grid-column: a;
    grid-row: a/k;
    min-width: 100%;
    min-height: 100%;
}

#box2wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    grid-column: b;
    grid-row: b/f;
    min-width: 100%;
    min-height: 100%;
}

#box3wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    grid-column: h;
    grid-row: h;
    min-width: 100%;
    min-height: 100%;
}

#box4wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    grid-column: j;
    grid-row: j;
    min-width: 100%;
    min-height: 100%;
}
#box5wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    grid-column: l;
    grid-row: l;
    min-width: 100%;
    min-height: 100%;
}

@media only screen and (max-width: 800px) {

    #box1wrapper{
     overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;    
    grid-column: a/b;
    grid-row: a/c;
    min-width: 100%;
    min-height: 100%;
}

    #box2wrapper {
     overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    font-family: Arial,Sans-Serif;
    grid-column: e/f;
    grid-row: e;
    min-width: 100%;
    min-height: 100%;
}
    #box3wrapper {
     overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    font-family: Arial,Sans-Serif;
    grid-column: g/h;
    grid-row: g;
    min-width: 100%;
    min-height: 100%;
}
    #box4wrapper {
     overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;       
    font-family: Arial,Sans-Serif;
    grid-column: i/j;
    grid-row: i;
    min-width: 100%;
    min-height: 100%;
}
    #box5wrapper {
     overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;       
    font-family: Arial,Sans-Serif;
    grid-column: k/l;
    grid-row: k;
    min-width: 100%;
    min-height: 100%;
}


}

