
#box1wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    height: -webkit-calc(100.0%);
    height: -moz-calc(100.0%);
    height: calc(100.0%) !important;
    width: -webkit-calc(33.3%);
    width: -moz-calc(33.3%);
    width: calc(33.3%);
	max-width: 90%;
	min-width: 10%;
}

#box2wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    height: -webkit-calc(25.0%);
    height: -moz-calc(25.0%);
    height: calc(25.0%);
    width: -webkit-calc(66.7%);
    width: -moz-calc(66.7%);
    width: calc(66.7%);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2;
    max-height: 70%;
    min-height: 10%;
	max-width: 90%;
	min-width: 10%;
}

#box3wrapper {
    position: absolute;
    top: 25%;
    right: 0px;
    height: -webkit-calc(25.0%);
    height: -moz-calc(25.0%);
    height: calc(25.0%);
    width: -webkit-calc(66.7%);
    width: -moz-calc(66.7%); 
    width: calc(66.7%);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2;
    max-height: 80%;
    min-height: 10%;
	max-width: 90%;
	min-width: 10%;
}

#box4wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 50%;
    height: -webkit-calc(25.0%);
    height: -moz-calc(25.0%);
    height: calc(25.0%);
    width: -webkit-calc(66.7%);
    width: -moz-calc(66.7%);
    width: calc(66.7%);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2;
    max-height: 80%;
    min-height: 10%;
	max-width: 90%;
	min-width: 10%;
}
#box5wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 75%;
    height: -webkit-calc(25.0%);
    height: -moz-calc(25.0%);
    height: calc(25.0%);
    width: -webkit-calc(66.7%);
    width: -moz-calc(66.7%);
    width: calc(66.7%);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2;
    max-height: 80%;
    min-height: 10%;
	max-width: 90%;
	min-width: 10%;
}
