
#box1wrapper{
	position: absolute;
	top: 0px;
	left: 0px;
    	width: -moz-calc(50.0%);
	width: -webkit-calc(50.0%);
    	height: -webkit-calc(35%);
    	height: -moz-calc(35%);
}

#box2wrapper {
	position: absolute;
    	top: 0px;
    	right: 0px;
    	width: -moz-calc(50.0%);
	width: -webkit-calc(50.0%);
    	height: -webkit-calc(35%);
    	height: -moz-calc(35%);
}

#box3wrapper {
   	position: absolute;
   	right: 0px;
    	bottom: 0px;
    	left: 0px;
    	width: -moz-calc(100.0%);
	width: -webkit-calc(100.0%);
    	height: -webkit-calc(65%);
    	height: -moz-calc(65%);
}
