
#box1wrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: -moz-calc(50.0%);
	width: -webkit-calc(50.0%);
	height: -webkit-calc(100%);
	height: -moz-calc(100%);
}

#box2wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	width: -moz-calc(50.0%);
	width: -webkit-calc(50.0%);
	height: -webkit-calc(50%);
	height: -moz-calc(50%);
}

#box3wrapper {
	position: absolute;
   	right: 0px;
   	bottom: 0px;
   	width: -moz-calc(50%);
   	width: -webkit-calc(50%);
   	height: -webkit-calc(50%);
   	height: -moz-calc(50%);
}
