/* This template makes two boxes, one to the left in the window and one to the right of the first one*/
@media screen and (min-width: 726px) {
    #box1wrapper {
        position: relative;
        grid-column: a;
        grid-row: a/k;
        width: 100%;
        height: 100%;
    }
    
    #box2wrapper {
        position: relative;
        grid-column: b;
        grid-row: b/l;
        width: 100%;
        height: 100%;

    }
}

@media only screen and (max-width: 800px), only screen and (orientation:portrait){
#box1wrapper{
    position: absolute;
    left: 0px;
    grid-column: a/b;
    grid-row: a/e;
    min-width: 100%;
    min-height: 100%;
}

#box2wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    font-family: Arial,Sans-Serif;
    grid-column: e/f;
    grid-row: g/k;
    min-width: 100%;
    min-height: 100%;
}
}
