/* This template makes four boxes, one to the left and three to the right of this one.
   One at the top right and one in the middle of the window and lastly one at the bottom right. */
#box1wrapper {
    position: relative;
	grid-column: a;
	grid-row: a/k;
    width: 100%;
    height: 100%;
}

#box2wrapper {
    position: relative;
    grid-column: b;
	grid-row: b/d;
    width: 100%;
    height: 100%;
}

#box3wrapper {
    position: relative;
    grid-column: f;
	grid-row: f/h;
    width: 100%;
    height: 100%;
}

#box4wrapper {
    position: relative;
    grid-column: j;
	grid-row: j/l;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 800px), only screen and (orientation:portrait) {
    #box1wrapper{
     overflow: hidden;
    position: absolute;
    left: 0px;
    top:0;    
	grid-column: a/b;
	grid-row: a/c;
    min-width: 100%;
    min-height: 100%;
}

    #box2wrapper {
     overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    font-family: Arial,Sans-Serif;
    grid-column: e/f;
	grid-row: e/g;
    min-width: 100%;
    min-height: 100%;
}

    #box3wrapper {
     overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    font-family: Arial,Sans-Serif;
    grid-column: i/j;
	grid-row: i;
    min-width: 100%;
    min-height: 100%;
}

    #box4wrapper {
     overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;       
    font-family: Arial,Sans-Serif;
    grid-column: k/l;
	grid-row: k;
    min-width: 100%;
    min-height: 100%;
}





}
