/* This template makes four boxes, one to the left and three to the right of this one.
   One at the top right and one in the middle of the window and lastly one at the bottom right. */
#box1wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    height: -webkit-calc(100.0%);
    height: -moz-calc(100.0%);
    height: calc(100.0%) !important;
    width: -webkit-calc(34.6%);
    width: -moz-calc(34.6%);
    width: calc(34.6%);
	max-width: 90%;
	min-width: 10%;
}

#box2wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    height: -webkit-calc(40.0%);
    height: -moz-calc(40.0%);
    height: calc(40.0%);
    width: -webkit-calc(66.0%);
    width: -moz-calc(66.0%);
    width: calc(66.0%);
    z-index: 2;
    max-height: 80%;
    min-height: 10%;
	max-width: 90%;
	min-width: 10%;
}

#box3wrapper {
    position: absolute;
    top: 40%;
    right: 0px;
    height: -webkit-calc(30.0%);
    height: -moz-calc(30.0%);
    height: calc(30.0%);
    width: -webkit-calc(66.0%);
    width: -moz-calc(66.0%); 
    width: calc(66.0%);
    z-index: 2;
    max-height: 80%;
    min-height: 10%;
	max-width: 90%;
	min-width: 10%;
}

#box4wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: -webkit-calc(30.0%);
    height: -moz-calc(30.0%);
    height: calc(30.0%);
    width: -webkit-calc(66.0%);
    width: -moz-calc(66.0%);
    width: calc(66.0%);
    z-index: 2;
    max-height: 80%;
    min-height: 10%;
	max-width: 90%;
	min-width: 10%;
}
@media only screen 
and (max-device-width : 725px) {
    #box1wrapper{
    position: absolute;
    left: 0px;
    top:0;    
    height: -moz-calc(35.0%);
    height: -webkit-calc(35.0%);
    height: calc(35.0%);
    width: -moz-calc(100.0%)!important;
    width: -webkit-calc(100.0%)!important;
    width: calc(100.0%)!important;
    min-height: 10%;
	max-height: 25%;
    min-width: 100%;
	max-width: 100%;
}



    #box2wrapper {
    position: absolute;
    top: 25%;
    bottom: 0px;
    left: 0px;
    height: -moz-calc(65.0%);
    height: -webkit-calc(65.0%);
    height: calc(65.0%);
    width: -moz-calc(100.0%)!important;
    width: -webkit-calc(100.0%)!important;
    width: calc(100.0%)!important;
    font-family: Arial,Sans-Serif;
    min-height: 10%;
	max-height: 25%;
    min-width: 100%;
	max-width: 100%;
}
    #box3wrapper {
    position: absolute;
    top:50% !important;
    bottom: 33%;
    left: 0px; 
    height: -moz-calc(65.0%);
    height: -webkit-calc(65.0%);
    height: calc(65.0%);
    width: -moz-calc(100.0%)!important;
    width: -webkit-calc(100.0%)!important;
    width: calc(100.0%)!important;
    font-family: Arial,Sans-Serif;
    min-height: 10%;
	max-height: 25%;
    min-width: 100%;
	max-width: 100%;
}
    #box4wrapper {
    position: absolute;
    top:75%;
    bottom: 33%;
    left: 0px;       
    height: -moz-calc(65.0%);
    height: -webkit-calc(65.0%);
    height: calc(65.0%);
    width: -moz-calc(100.0%)!important;
    width: -webkit-calc(100.0%)!important;
    width: calc(100.0%)!important;
    font-family: Arial,Sans-Serif;
    min-height: 10%;
	max-height: 25%;
    min-width: 100%;
	max-width: 100%;
}





}
