@font-face{ 
    font-family: 'MyWebFont';
    src: url('ubuntu-mono-webfont.eot');
    src: url('ubuntu-mono-webfont.eot?iefix') format('eot'),
         url('ubuntu-mono-webfont.woff') format('woff'),
         url('ubuntu-mono-webfont.ttf') format('truetype'),
         url('ubuntu-mono-webfont.svg#webfont') format('svg');
}

<link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.010/css/hack-extended.min.css">

.buttomenuStyle {
    background-color: #614875;
}

.mbuttoStyle {
    background-color: #614875;
}

.mbuttoStyleLight {
    background-color: #9868bd;
}

.mbuttoStyle:hover{
	background-color: #7D5CA0;
}

.menutextStyle {
   	color: white;
}

.hotdogdropStyle{
	color: white;
}
.hotdogdropStyle table td{
	color: white;
}

.dropdownStyle {
    color: white;
    /*background: #614875;*/
}

.dropdownbackStyle {
	background-color: #614875;
    color: white;
}

.codedropStyle {
    background-color: #614875;
    border-color: rgb(0,0,0) transparent;	
}

.docudropStyle {
    background-color: #614875; 
    background: rgb(0, 0, 0) transparent;
}

.themedropStyle {
	background-color: #614875;
}

.imgdropStyle{
	background-color: #614875;
}
.imgdropStyle img:hover{
	border-style:solid;
	border-width:1px;
	border-color: white;
	padding: 4px;
}

.dropdownitemStyle {
    background: #614875;
    color: #fff;
}

.dropdownitem:hover {
	background-color: #7D5CA0;
}

.codeborder{
	position: absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	margin: 0px !important;
	padding: 5px 0px 0px 0px !important;
	background-color: #614875;
	text-align: right;
	
	/* Width of .no and .impo */
	width: 32px !important;
	
}

.codeborder .no {
    color: #D8D8D8;
    padding-left: 4px;
    padding-right: 6px;
    width: 22px;
    float: left;
	background-color: #614875;
	font-family: Hack,MyWebFont,"Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.codeborder .impono {
    color: white;
    width: 22px;
    background-color: #9569BD;
    padding-left: 4px;
    padding-right: 6px;
	font-family: Hack,MyWebFont,"Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.normtextwrapper{
	 /* Width of codeborder */
  	margin-left: 32px;
  	padding: 5px 0px 0px 5px;
}

.normtext {
    color: #000;
    background-color: #F2F2F2;
    white-space:nowrap;
	font-family: Hack,MyWebFont,"Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.impo {
    color: #000;
    background-color: rgba(186, 96, 255, 0.09);
    white-space:nowrap;
    min-width: 660px;
	font-family: Hack,MyWebFont,"Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.normtext .no {
    color: white;
    background-color: #614875;
    padding-left: 4px;
    padding-right: 6px;
    width: 22px;
    float: left;
    text-align: right;
    font-size: 9px;
    line-height: 11px;
}

.normtext:hover {
    background-color: rgba(0,0,0,0.1);
}

.impo .no {
    color: white;
    background-color: #9569BD;
    font-size: 9px;
    line-height: 11px;
}

.comment {
    color: #50a750;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.normtext .oper {
    color: #000;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.impo .oper {
    color: #000;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.normtext .string {
    color: #03b;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.impo .string {
    color: #000;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.normtext .number {
    color: #000;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.impo .number {
    color: #000;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.normtext .hi {
    background-color: #9569BD;
    color: #000;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
}

.impo .hi {
   font-weight: bold;
   color: #000000;
   background-color: #9569BD;
    font-size: 9px;
    line-height: 11px;
}

.normtext .html {
	background-color: #9569BD;
	color: #000;
    font-size: 9px;
    line-height: 11px;
}

.impo .html {
	background-color: #9569BD;
	color: #000;
    font-size: 9px;
    line-height: 11px;
}

.keywordA {
    color: #e90000;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.keywordB {
    color: #0004ff;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.keywordC {
    color: rgba(6, 129, 19, 1);
    font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.keywordD {
    color: rgba(231, 0, 255, 1);
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.normtext .impword {
    color: #fff;
    background-color: #9971AF;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}

.impword2 {
    color: #fff;
    background-color: #9971AF;
}


.impo .impword {
    color: #fff;
    background-color: #614875;
	font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}


.descbox .impword {
   color: #fff;
    background-color: #9971AF;
    font-family: Hack,MyWebFont, "Andale Mono", AndaleMono, monospace;
    font-size: 9px;
    line-height: 11px;
}
 
.descbox .imphi {
	background-color: #fff;
    color: #000;
}

.normtext .imphi {
    background-color: #ffffff;
    color: #000;
    
}

.impo .imphi {
    background-color: #fff;
    color: #000;
}

.tooltip{
	color:white;
}

.errormsg{
	color: red;
}

.playlinkErrorMsgStyle{
	color: red;
}

.settingsTabMenuStyle li{
	background-color: #7D5CA0;
}
.settingsTabMenuSty le .activeSetMenuLink{
	border-bottom-color: #614875;
	background-color: #614875;
}

.templatethumbicon:hover{
    background-color: #7D5CA0;
}

.themeicon:hover {
	background-color: #7D5CA0;
}


.codebox{
    padding: 0px;
}
.descbox, .framebox{
    padding-top: 4px;
    padding-left: 4px;
    border-left-style: solid;
    border-left-width: 3px;
    border-color: #5A5757;
}

.box iframe {
    width:100%;
    height: 99%;
}

.box{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    outline: 0 none;
    background-color: #F2F2F2; 
}



/* BOXMENU STYLING START */
.buttomenu2Style{
	background-color: #5A5757;
}

.buttomenu2Style .wordlistselect{
   color: white;
   background: url("../new icons/expand_button.svg") no-repeat 50px #5C5A5A;
   background-size:15px 15px;
   border: 1px solid #ccc;
}

.buttomenu2Style .boxcontentselect{
    color: white;
   background: url("../new icons/expand_button.svg") no-repeat 120px #5C5A5A;
   background-size:15px 15px;
   border: 1px solid #ccc;
}

.buttomenu2Style .chooseContentSelect{
    color: white;
   background: url("../new icons/expand_button.svg") no-repeat 120px #5C5A5A;
   background-size:15px 15px;
   border: 1px solid #ccc;
}


.buttomenu2Style select:hover{
  background-color: #938C8C;
    cursor: pointer;
}
.butto2:hover{
    background-color: #938C8C;
    cursor: pointer;
}
.boxtitleEditable{
	color: white;
	cursor:text;
    	font-family: Arial, Sans-Serif;
    	font-size: 15px;
}
.boxtitle{
	font-family: Arial, Sans-Serif !important;
	cursor:default !important;
	color: white !important;
	  font-size: 15px;
}

.editcontentbtn {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    text-align: center;
}

.boxtitlewrap {
    font-size: 15px;
    height: 32px;
    vertical-align: middle;
    padding: 0px 5px;
}

/* BOXMENU STYLING STOP */
