.codeborder{
  position: sticky;
  position: -webkit-sticky;
  min-height: 100%;
	bottom: 0px;
  left:0px;
  margin: 0px !important;
	padding: 5px 0px 0px 0px !important;
	background-color: #614875;
  text-align: right;
  line-height: 15px;
	
	/* Width of .no and .impo */
	width: 32px !important;
}

.codeborder .no {
    color: #D8D8D8;
    padding-left: 4px;
    padding-right: 6px;
    width: 22px;
    float: left;
		background-color: #614875;
		font-family: Hack,'Ubuntu Mono',"Andale Mono", AndaleMono, monospace;
}

.codeborder .impono {
    color: white;
    width: 22px;
    background-color: #9569BD;
    padding-left: 4px;
    padding-right: 6px;
		font-family: Hack,'Ubuntu Mono',"Andale Mono", AndaleMono, monospace;
}

.normtextwrapper{
   /* Width of codeborder */
    position: absolute;
    top: 0px;
  	margin-left: 32px;
  	padding: 5px 0px 0px 5px;
}

.normtext {
  color: #000;
  background-color: #F2F2F2;
  white-space:nowrap;
  font-family: Hack,'Ubuntu Mono',"Andale Mono", AndaleMono, monospace;
  line-height: 15px;
}

.impo {
    color: #000;
    background-color: rgba(186, 96, 255, 0.09);
    white-space:nowrap;
    min-width: 660px;
	font-family: Hack,'Ubuntu Mono',"Andale Mono", AndaleMono, monospace;
}

.normtext .no {
    color: white;
    background-color: #614875;
    padding-left: 4px;
    padding-right: 6px;
    width: 22px;
    float: left;
    text-align: right;
}

.normtext:hover {
    background-color: rgba(0,0,0,0.1);
}

.impo .no {
    color: white;
    background-color: #9569BD;
}

.comment {
    color: #50a750;
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.normtext .oper {
    color: #000;
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.impo .oper {
    color: #000;
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.normtext .string {
    color: #03b;
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.impo .string {
    color: #000;
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.normtext .number {
    color: #000;
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.impo .number {
    color: #000;
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.normtext .hi {
    background-color: #9569BD;
    color: #000;
    font-weight: bold;
}

.impo .hi {
   font-weight: bold;
   color: #000000;
   background-color: #9569BD;
}

.normtext .html {
	background-color: #9569BD;
	color: #000;
}

.impo .html {
	background-color: #9569BD;
	color: #000;
}

.keywordA {
    color: #e90000;
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.keywordB {
    color: #0004ff;
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.keywordC {
    color: rgba(6, 129, 19, 1);
    font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.keywordD {
    color: rgba(231, 0, 255, 1);
		font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.normtext .impword {
  /*
  color: #fff;
  background-color: #9971AF;
  */
  background-color: #F2F2F2;
  color: #000;
  border-bottom: 2px solid #9971AF; 
}

.impword2 {
    /*
    color: #fff;
    background-color: #9971AF;
    */
    background-color: #F2F2F2;
    color: #000;
    border-bottom: 2px solid #9971AF; 
}


.impo .impword {
  /*
  color: #fff;
  background-color: #614875;
  */
  background-color: #F2F2F2;
  color: #000;
  border-bottom: 2px solid #9971AF; 
  
  font-family: Hack,'Ubuntu Mono', "Andale Mono", AndaleMono, monospace;
}

.descbox .impword {
  /*
  color: #fff;
  background-color: #9971AF;
  */
  background-color: #F2F2F2;
  color: #000;
  border-bottom: 2px solid #9971AF; 
}

.descbox code .impword {
  background-color: #FFFFFF;
  color: #000;
  border-bottom: 2px solid #9971AF; 
}
 
.descbox .imphi {
  /*  
  background-color: #fff;
  color: #000;
  */
  color: #fff !important;
  background-color: #614875 !important;
  border: none !important;
}

.normtext .imphi {
  /*  
  background-color: #fff;
  color: #000;
  */
  color: #fff;
  background-color: #614875;
  border: none;
}

.impo .imphi {
  /*  
  background-color: #fff;
  color: #000;
  */
  color: #fff;
  background-color: #614875;
  border: none;
}

.tooltip{
	color:white;
}

.errormsg{
	color: red;
}

.playlinkErrorMsgStyle{
	color: red;
}

.settingsTabMenuStyle li{
	background-color: #7D5CA0;
}
.settingsTabMenuSty le .activeSetMenuLink{
	border-bottom-color: #614875;
	background-color: #614875;
}

.templatethumbicon:hover{
    background-color: #7D5CA0;
}

.themeicon:hover {
	background-color: #7D5CA0;
}


.codebox{
    padding: 0px;
}
.descbox, .framebox{
    padding-top: 4px;
    padding-left: 4px;
    border-left-style: solid;
    border-left-width: 3px;
    border-color: #5A5757;
}

.box iframe {
    width:100%;
    height: 99%;
}

.box{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
/*    font-family: Arial,Sans-Serif;*/
    font-size: 14px;
    outline: 0 none;
    background-color: #F2F2F2; 
}



/* BOXMENU STYLING START */
.buttomenu2Style{
	background-color: #5A5757;
}

.buttomenu2Style .wordlistselect{
   color: white;
   background: url("../new icons/expand_button.svg") no-repeat 50px #5C5A5A;
   background-size:15px 15px;
   border: 1px solid #ccc;
}

.buttomenu2Style .boxcontentselect{
    color: white;
   background: url("../new icons/expand_button.svg") no-repeat 120px #5C5A5A;
   background-size:15px 15px;
   border: 1px solid #ccc;
}

.buttomenu2Style .chooseContentSelect{
    color: white;
   background: url("../new icons/expand_button.svg") no-repeat 120px #5C5A5A;
   background-size:15px 15px;
   border: 1px solid #ccc;
}


.buttomenu2Style select:hover{
  background-color: #938C8C;
    cursor: pointer;
}
.butto2:hover{
    background-color: #938C8C;
    cursor: pointer;
}
.boxtitleEditable{
	color: white;
	cursor:text;
    	font-family: Arial, Sans-Serif;
    	font-size: 15px;
}
.boxtitle{
	font-family: Arial, Sans-Serif !important;
	cursor:default !important;
	color: white !important;
	  font-size: 15px;
}

.editcontentbtn {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    text-align: center;
}

.boxtitlewrap {
    font-size: 15px;
    height: 32px;
    vertical-align: middle;
    padding: 0px 5px;
}

/* BOXMENU STYLING STOP */
