.docucontentStyle {
     background-color: #272822;
     color: white;
    
}

.codeboxStyle {
    background-color: #272822;
}

.temp3Style{
	background-color: #272822;
}

.temp4Style{
	background-color: #272822;
}

.docucontentStyle h1 {
    color: white;
}

.docucontentStyle span {
    color: white;
}

.buttomenuStyle {
    background-color: #614875;
}

.mbuttoStyle {
    background-color: #614875;
}

.mbuttoStyle:hover{
	background-color: #7D5CA0;
}

.menutextStyle {
   	color: white;
}

.hotdogdropStyle{
	color: white;
}
.hotdogdropStyle table td{
	color: white;
}

.dropdownStyle {
    color: white;
    /*background: #614875;*/
}

.dropdownbackStyle {
	background-color: #614875;
    color: #fff;
}

.codedropStyle {
    background-color: #614875;
    border-color: rgb(0,0,0) transparent;	
}

.docudropStyle {
    background-color: #614875; 
    background: rgb(0, 0, 0) transparent;
}

.themedropStyle {
	background-color: #614875;
}

.dropdownitemStyle {
    background: #614875;
    color: white;
}

.normtext {
    color: #fff;
    background-color: #272822;
}

.impo {
    color: #fff;
    background-color: #5d5d5d;
}

.normtext .no {
    border-right: 2px #444;
    color: white;
    padding-left: 3px; 
    background-color: #755096;
}

.impo .no {
    border-right: 2px #444;
    color: white;
    background-color: #9569BD;
}

.comment {
    color: #888;
}

.normtext .oper {
    color: white;
    font-weight: bold;
}

.impo .oper {
    color: #fff;
    font-weight: bold;
}

.normtext .string {
    color: #fff;
    font-weight: bold;
}

.impo .string {
    color: #fff;
    font-weight: bold;
}

.normtext .number {
    color: #fff;
    font-weight: bold;
}

.impo .number {
    color: #000;
    font-weight: bold;
}

.normtext .hi {
    background-color: #5d5d5d;
    color: #fff;
}

.impo .hi {
    background-color: #272822;
    color: #fed;
}

.impo .keywordA{
	color: rgba(255, 0, 0, 1);
}

.keywordA {
    color: rgba(255, 77, 77, 1);
}

.keywordB {
    color: rgba(49, 211, 255, 1);
}

.keywordC {
    color: #00d30d;
}

.keywordD {
    color: #eb7504;
}

.normtext .impword {
    color: #000;
    background-color: #fff;
}

.impo .impword {
    color: #000000;
    background-color: #fff;
}

.normtext .imphi {
    background-color: #5d5d5d;
    color: #fff;
    
}

.impo .imphi {
    background-color: #272822;
    color: #fed;
}

.tooltip{
	color:orange;
}

.errormsg{
	color: red;
}

.playlinkErrorMsgStyle{
	color: red;
}

.settingsTabMenuStyle li{
	background-color: #7D5CA0;
}
.settingsTabMenuStyle .activeSetMenuLink{
	border-bottom-color: #614875;
	background-color: #614875;
}

.templatethumbicon:hover{
    background-color: #7D5CA0;
}

.themeicon:hover {
	background-color: #7D5CA0;
}