#docucontent h1 {

    display: block;
    font-family: Arial,Sans-Serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

#docucontent span.codestyle{
    color: grey;
    font-family: Arial,Sans-Serif;
    font-style: italic;
}

#box1 h1 {

    display: block;
    font-family: Arial,Sans-Serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

#box1 span.codestyle{
    color: grey;
    font-family: Arial,Sans-Serif;
    font-style: italic;
}

/* Base-size for images in descriptionboxes */
#div2 img{
    width: 70%;

}


/* --- */


#buttomenu {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 50px;
    /*background-color: #614875;*/
    margin: 0px;
    border-color: rgb(0,0,0) transparent;
}

#picktemplate{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: white;
}
#picktemplate h1{
	text-align: center;
}
#picktemplate img{
	width: 250px;
	height: 150px;
}
/*  LOOKS LIKE NOT IN USE!!!!
.butto {
    text-align: center;
    font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    height: 44px;
    background-color: #614875;
}
*/



/* LOOKS LIKE NOT IN USE!!!!
.butto:hover{
	background-color: #7D5CA0;
    cursor: pointer;
}
*/

/* MENU BUTTONS */
.mbutto {
    text-align: center;
    font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    height: 44px;
}

.mbutto:hover{
    cursor: pointer;
}

/* Example title in menu */
.menutext {
    overflow: hidden;
    height: 46px;
    vertical-align: middle;
    /*color: white;*/
    width: 100%;
    border-radius: 12px;
    font-family: Verdana,Serif;
    font-size: 24px;
    font-weight: normal;
    padding: 4px;
}

/* Extra spaces */
.buttospacer {
    width: 20px;
}

/* LOOKS LIKE NOT IN USE!!!!!
.buttogray {
    border: 1px inset #888;
    text-align: center;
    border-radius: 6px;
    font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    background: linear-gradient(to bottom, #AAA 0%,#DDD 15%,#FFF 40%, #555 48%,#555 80%,#DDD 99%);
    height: 44px;
    color: white;
    background-color: #BBB;
}
*/


/*
.warning {
    position: absolute;
    top: 200px;
    width: 200px;
    border: 1px inset #fff;
    text-align: center;
    font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    background-color: #5D5D5D;
}*/

/* Hotdog menu */
#hotdogdrop{
	display: none;
	right: 0px;
	height: auto;
	width: auto;
	border-color: rgb(0,0,0) transparent;
	font-family: Arial,Serif;
	font-size: 14px;
	/*color: white;*/
}
#hotdogdrop table td img{
	 	font-family: Arial,Serif;
	font-size: 14px;
	color: white;
	float:right;
}

#hotdogdrop table td{
	 border-bottom: solid 1px #2A120A;
	 	font-family: Arial,Serif;
	font-size: 14px;
	/*color: white;*/
}

/* All dropdrowns (codeexample, images, general settings) */
.dropdown {
    display: none;
    position: fixed;
    top: 50px;
    z-index: 4000;

    font-size: 14px;
    font-family: Arial,Sans-serif;
}

.dropdownback {
    padding-left: 8px;
    background-color: #614875;
    border-color: rgb(0,0,0) transparent;
    color: white;
    font-family: Arial,Serif;
    font-size: 19px;
    font-weight: normal;
}

/* Codedrop with code files */
.codedrop {
	right: 0px;
    width: -moz-calc(20.0%);
	width: -webkit-calc(20.0%);  
    height: -webkit-calc(40.0%);
    height: -moz-calc(40.0%);
    padding-left:7px;
    overflow: auto;
    /*background-color: #614875;*/
    border-color: rgb(0,0,0) transparent;	
}

/* GENERAL SETTINGS (NEED TO CHANGE NAME!!) */
.docudrop {
  /*  left: 354px; */
 	right: 0px;
    width: -moz-calc(25.0%);
	width: -webkit-calc(25.0%);  
    height: -webkit-calc(65.0%);
    height: -moz-calc(65.0%);
   /* background-color: #614875; 
    background: rgb(0, 0, 0) transparent;*/
	padding-left:7px;
	border-color: rgb(0,0,0) transparent;
}

/* Different themes */
.themedrop {
	right: 0px;
    width: -moz-calc(20.0%);
	width: -webkit-calc(20.0%);  
    height: -webkit-calc(40.0%);
    height: -moz-calc(40.0%);
	/*background-color: #614875;*/
}	

/* Images for descriptions */
.imgdrop {
    /*  left: 354px; */
    right: 0px;
    width: -moz-calc(30.0%);
    width: -webkit-calc(30.0%);
    height: -webkit-calc(45.0%);
    height: -moz-calc(45.0%);
    background-color: #614875;
    background: rgb(0, 0, 0) transparent;
}

.imgdrop img{
    width: 25%;
}


.forwdrop {
    right: 20px;
    height: auto;
    width: 200px;
    cursor: default;
    border-color: rgb(0,0,0) transparent;
    background-color: #614875;
}

.backwdrop {
    right: 20px;
    height: auto;
    width: 200px;
    cursor: default;
    border-color: rgb(0,0,0) transparent;
    background-color: #614875;
}

.dropdownitem {
    display: block;
    font-size: 14px;
    font-family: Verdana,Arial,Sans-serif;
    cursor: default;
    padding-left: 5px;
	border-bottom: solid 1px #2A120A;
	color: white;
	background: #614875;
}
.dropdownitem:hover {
	background-color: #7D5CA0;
}

/* NOT IN USE !!!
.menuhi {
 	background-color: #7D5CA0;
}
*/
/* NOT IN USE!!!
.menuch {
    background: #5D5D5D;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    background-color: #614875;
}
*/

/*  NOT IN USE!!!
a {
    text-decoration: none;
    color: #000;
}
*/

/* REPLACED WITH normtext 
.codeview {
    display: block;
    font-size: 14px;
    font-family: Courier,Courier New,Monospace;
}
*/
.norm {
    color: #fff;
    background-color: #272822;
}


/*
.normtext {
    color: #fff;
    background-color: #272822;
}

.impo {
    color: #fff;
    background-color: #5d5d5d;
}

.norm .no {
    border-right: 2px #444;
    color: white;
    padding-left: 3px; 
    background-color: #614875;
}

.impo .no {
    border-right: 2px #444;
    color: white;
    background-color: #9569BD;
}

.comment {
    color: #888;
}

.norm .oper {
    color: white;
}

.impo .oper {
    color: #fff;
}

.norm .string {
    color: #fff;
}

.impo .string {
    color: #000;
}

.norm .number {
    color: #fff;
}

.impo .number {
    color: #fff;
    font-weight: bold;
}

.norm .hi {
    background-color: #5d5d5d;
    color: #fff;
}

.impo .hi {
    background-color: #272822;
    color: #fed;
}

.norm .keyword {
    color: #C5822C;
}

.impo .keyword {
    color: #C5822C;
}

.norm .impword {
    color: #000;
    background-color: #fff;
    font-weight: bold;
}

.impo .impword {
    color: #000000;
    background-color: #fff;
    font-weight: bold;
}

.norm .imphi {
    background-color: #5d5d5d;
    color: #fff;   
}

.impo .imphi {
    background-color: #272822;
    color: #fed;
}

*/

/*  NOT IN USE
.warning {
    color: #fff;
    position: absolute;
    top: 200px;
    width: 200px;
    border: 1px inset #888;
    text-align: center;
    border-radius: 6px;
    font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    background-color: #5D5D5D;
}
*/

/* NOT IN USE!!
.smallbutt {
    float: right;
}

.smallishbutt {
    float: right;
}

.smallbutt img {
    margin-left: 4px;
}

.smallishbutt img {
    margin-top: 8px;
    margin-left: 4px;
}
 
#buttomenus {
    width: 100%;
    height: 50px;
    background-color: #000;
    margin: 0px;
}

.buttos {
    border: 1px inset #888;
    text-align: center;
    border-radius: 6px;
    font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    background: linear-gradient(to bottom, #555 0%,#888 15%,#BBB 40%, #000 48%,#000 80%,#888 99%);
    height: 44px;
    color: white;
    background-color: #BBB;
}

.menutexts {
    overflow: hidden;
    height: 46px;
    vertical-align: middle;
    color: white;
    width: 100%;
    border-radius: 12px;
    font-family: Verdana,Serif;
    font-size: 24px;
    font-weight: normal;
    padding: 4px;
}

#loginbox {
    background: linear-gradient(to bottom, #CCC 0%,#888 35%,#AAA 90%, #CCC 99%);
    padding: 4px;
    position: relative;
    width: 400;
    height: 240;
    display: block;
    border: outset 2px #888;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #000;
    text-align: left;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
}

#loginheading {
    border: 2px solid #888;
    padding-top: 4px;
    text-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 4px #000 inset;
    color: #fff;
    display: block;
    background: #fed;
    text-align: center;
    border-radius: 6px;
    font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
    background: linear-gradient(to right, #555 0%,#888 85%,#AAA 90%);
    height: 24px;
    color: white;
    background-color: #BBB;
}

.logininput {
    width: 150px;
    border 1px solid #000;font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
}

.loginbutton {
    width: 120px;
    padding-bottom: 4px;
    height: 25px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    background: linear-gradient(to bottom, #555 0%,#888 15%,#BBB 40%, #000 48%,#000 80%,#888 99%);
    border-radius: 4px;
    box-shadow 2px 2px 2px #000;font-family: Verdana,Serif;
    font-size: 14px;
    font-weight: normal;
    box-shadow: 2px 2px 4px #000;
}

.logincenter {
    text-align: center;
}

.loginleft {
    margin-left: 16px;
}

.inv {
    font-family: Calibri,Sans-Serif;
    font-size: 24px;
    font-weight: normal;
    padding: 4px;
    box-shadow: 1px 1px 2px #666;
    position: fixed;
    bottom: 4px;
    left: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background: #000;
    color: #fff;
    margin-left: 8px;
    border-radius: 4px;
}


.genSettingsSection{
	display:none;
}

*/
/*
.errormsg{
	color: red;
}
*/
#playlinkErrorMsg{
	display: none;
}

/* Tab-menu in general settings */
#settingsTabMenu{	
	border-bottom: solid 2px;
	padding-left:0px;
	padding-bottom:0px;
}
#settingsTabMenu li{
	display: inline;
	cursor: default;
	margin: 5px;
	padding: 5px 5px 0px 5px;
	border-style:solid;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}



/*TOOLTIPS START*/

.tooltip, .arrow:after, .arrow2:after {
    background: black;
}

.tooltip {
    pointer-events: none;
    opacity: 0;
    display: inline-block;
    position: fixed;
    padding: 5px 10px;
    color: orange;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    font: 10px Arial, Sans-Serif;
    font-stretch: condensed;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10000;
    /*box-shadow: 0 0 3px black;*/
}
.arrow {
    width: 70px;
    height: 18px;
    overflow: hidden;
    position: absolute;
   bottom: -16px;
}

.arrow::after {
    content: "";
    position: absolute;
    top: -20px;
    width: 25px;
    height: 25px;
    /* 22.5 to place the arrow in the middle. arrowwidth/2 - arrow:afterwidth/2=22.5 */
    left:22.5;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
}

.arrow2 {
    width: 70px;
    height: 18px;
    overflow: hidden;
    position: absolute;
    top: -16px;
}
.arrow2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 25px;
    height: 25px;
    
    /* 22.5 to place the arrow in the middle. arrow2width/2 - arrow2:afterwidth/2=22.5 */
    left:22.5;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
}


.tooltip.active {
    opacity: 1;
    margin-top: 5px;
    transition-delay: 0.5s !important;
    -webkit-transition-delay: 1s !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
}

.tooltip.active2 {
    opacity: 1;
    margin-top: 5px;
    transition-delay: 0.5s !important;
    -webkit-transition-delay: 1s !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
}

.tooltip.out {
    opacity: 0;
    margin-top: -5px;
    transition-delay: 0s !important;
}

.tooltip.out2 {
    opacity: 0;
    margin-top: 15px;
    transition-delay: 0s !important;
}
/* TOOLTIPS STOP */




/*Prevent new lines to entered (which creates screen-errors) when editing names in lists*/
.norm > [contenteditable="true"] br,
.butt > [contenteditable="true"] br{
    display:none;
}

/* Icons for picking templates */
.templateicon{
    width: 45%;
    margin: 0px;
    float: left;
}
.templatethumbicon{
    width: 88%;
    margin: 2% 1% 2% 1%;
    padding: 5%;
}
.templatethumbicon:hover{
    cursor: pointer;
}

/* Icons for picking themes */
.themeicon {
	height:20px;
	padding:5px;

}

.themeicon:hover {
	cursor: pointer;
}

.themeicon img{
	vertical-align: text-bottom;
}

.themeicon span{
	padding-left: 6px;
	font-size:16px;
}
.themeicon:hover{
    background-color: black;
}

.mobilethemebutton{
    display: none;
}
.subbutton span{
    font-size: 12px;
}

.showdesktop{
    display: table-cell;
}
.showmobile{
    display: none;
}


@media only screen and (max-width: 700px){
    .showmobile{
        display: table-cell;
    }
    .showdesktop{
        display: none;
    }
    #exampleSection{
        display: none;
    }

}






.alert.success {
	background-color:#DFF0D8;
	border-color:#D6E9C6;
	color:#3C763D;
}
.alert.warning{
	background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.slide-down {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-left-width:0;
  border-right-width:0;
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-top-width:0;
  height:40px;
  overflow:hidden;
  width:100%;
  z-index:3000;
  
}
.alert strong, .alert p{
	margin:0px;
	padding: 0px;
}

.alert span {
	margin:0px;
	padding: 0px;
	position: absolute;
    right: 5px;
    top: 0px;
    font-weight: bold;
    cursor: default;
}

.alert {
  border:1px solid transparent;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  margin: 0px;
  padding:0px;
  width: 300px;
  position: relative;
}










/* BOXMENU STYLING START */
.buttomenu2{
	position: absolute;
    top:0px;
    width: -moz-calc(100%);
    width: -webkit-calc(100%);
    margin: 0;
}
.buttomenu2 table td img{
	height: 25px;
	width: 25px;
}
.buttomenu2 select{
	top: 0px;
   	bottom:0px;
   	width: 150px;
   	margin:0px;
   	padding: 3px;
   	-webkit-appearance: none;
   	-moz-appearance: none;
   	text-overflow: '';
   	text-indent: 1px;
   	outline: none;
}

/* BOXMENU STYLING STOP */