#box1wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
 	width: -moz-calc(25.0%);
	width: -webkit-calc(25.0%);
}


#box2wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
 	width: -moz-calc(75%);
	width: -webkit-calc(75%);
    right: 0px;
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

#box2 img{
    width: 50% !important;

}