
#box1wrapper{
    position: absolute;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #5A5757;
    left: 0px;
    right: 0px;
 	height: -moz-calc(35.0%);
	height: -webkit-calc(35.0%);
	width: -moz-calc(100.0%);
	width: -webkit-calc(100.0%);
}


#box2wrapper {
    position: absolute;
    border-top-style: solid;
    border-top-width: 3px;
    border-color: #5A5757;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: -moz-calc(65.0%);
	height: -webkit-calc(65.0%);
	width: -moz-calc(100.0%);
	width: -webkit-calc(100.0%);
    font-family: Arial,Sans-Serif;
}


@media only screen and (max-width: 700px){
    #box1wrapper{
    	position: relative;
      	top: 0px;
      	left: 0px;
      	right: 0px;
      	width: -moz-calc(100.0%) !important;
        width: -webkit-calc(100.0%) !important;
    }
    #box2wrapper {
    	position: relative;
    	top: 0px;
        width: -moz-calc(100.0%) !important;
        width: -webkit-calc(100.0%) !important;
    }
}
