#buttomenu2{
    z-index:2;
    position: absolute;
    background-color: #5D5D5D;
    height: 50px;
    width: -moz-calc(26%);
    width: -webkit-calc(26%);
}

#docucontent {
	padding-top: 4px;
    padding-left: 4px;
    position: absolute;
    top: 50px;
    left: 0px;
 	width: -moz-calc(25.0%);
	width: -webkit-calc(25.0%);
    height: -webkit-calc(70% - 54px);
    height: -moz-calc(70% - 54px);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    outline: 0 none;
}

#temp3{
    padding-left: 4px;
    padding-top: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
 	width: -moz-calc(25.0%);
	width: -webkit-calc(25.0%);
    height: -webkit-calc(30.0% - 4px);
    height: -moz-calc(30.0% - 4px);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    outline: 0 none;
}

#codebox {
    position: absolute;
    top: 0px;
    bottom: 0px;
 	width: -moz-calc(75.0% - 4px);
	width: -webkit-calc(75.0% - 4px);
    right: 0px;
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

#temp4{
	display: none;
}