#box1menu{
	z-index:2;
	position: absolute;
    background-color: #5D5D5D;
    height: 50px;
    width: -moz-calc(26%);
    width: -webkit-calc(26%);
}

#box1{
    padding-left: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #272822;
    position: absolute;
    top: 0px;
    left: 0px;
      width: -moz-calc(50.0%);
	  width: -webkit-calc(50.0%);
	  
      height: -webkit-calc(35.0%);
      height: -moz-calc(35.0%);
    /* background-color: #272822;*/
    overflow: scroll;
    /*color: white;*/
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    outline: 0 none;
}

#box2menu{
	position: absolute;
	z-index: 2;
	right:0px;
	top:0px;
}
#box2 {
    border-style: solid;
    border-width: 1px;
    position: absolute;
    float: left;
      width: -moz-calc(100.0%);
	  width: -webkit-calc(100.0%);
	  
      height: -webkit-calc(65.0%);
      height: -moz-calc(65.0%);
    left: 0px;
    right: 0px;
    bottom: 0px;
     /*background-color: #272822;*/
     font-family: Arial,Sans-Serif;
    font-size: 14px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

#box3menu{
	top: 400px;
	left:0px;
	z-index: 2;
	position:absolute;
}
#box3{
	padding-left: 4px;
    border-style: solid;
    border-width: 1px;
     border-color: black;
    position: absolute;
    top: 0px;
    right: 0px;
      width: -moz-calc(50.0%);
	  width: -webkit-calc(50.0%);
	  
      height: -webkit-calc(35.0%);
      height: -moz-calc(35.0%);
     /*background-color: #272822;*/
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    /*color: white;*/
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    outline: 0 none;
}
