#buttomenu2{
    z-index:2;
    position: absolute;
    background-color: #5D5D5D;
    height: 50px;
    width: -moz-calc(100%);
    width: -webkit-calc(100%);
}

#docucontent{
	padding-left: 4px;
    position: absolute;
    top: 50px;
    left: 0px;
    height: -webkit-calc(30% - 50px);
    height: -moz-calc(30% - 50px);
    width: -webkit-calc(100% - 4px);
    width: -moz-calc(100% - 4px);
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    outline: 0 none;
}

#codebox {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: -webkit-calc(70%);
    height: -moz-calc(70%);
    width: -webkit-calc(100%);
    width: -moz-calc(100%);
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    outline: 0 none;
}
#temp3{
	display: none;
}
#temp4{
	display: none;
}
