/*#docucontent {
    padding-left: 4px;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 296px;
    background-color: #ddd;
    overflow: scroll;
    color: black;
    font-family: Calibri,Sans-Serif;
    font-size: 16px;
    outline: 0 none;
}

#codebox {
    border-style: solid;
    border-width: 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 300px;
    right: 0px;
    background-color: #fff;
    overflow: scroll;
}*/

#buttomenu2{
	z-index:2;
	position: absolute;
    background-color: #5D5D5D;
    height: 50px;
    width: -moz-calc(24.0%);
    width: -webkit-calc(24.0%);
}
#docucontent {
    padding-left: 4px;
    position: absolute;
    top: 0px;
    padding-top:45px;
    left: 0px;
    /*width: 296px;*/
 	  width: -moz-calc(25.0%);
	  width: -webkit-calc(25.0%);
	  
      height: -webkit-calc(100.0%);
      height: -moz-calc(100.0%);
     /*background-color: #272822;*/
    overflow: scroll;
   /*color: white;*/
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    outline: 0 none;
}

#codebox {
    position: absolute;
    top: 0px;
    bottom: 0px;
    /*left: 300px;*/
 	  width: -moz-calc(75.0%);
	  width: -webkit-calc(75.0%);
    right: 0px;
   /* background-color: #272822;*/
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    overflow: scroll;
    z-index: 2;
}