#box1wrapper {
    position: absolute;
    border-right-style: solid;
    border-right-width: 3px;
    border-color: #5A5757;
    top: 0px;
    left: 0px;
    bottom: 0px;
 	width: -moz-calc(25.0%);
	width: -webkit-calc(25.0%);
}


#box2wrapper {
    position: absolute;
    position: absolute;
    border-left-style: solid;
    border-left-width: 3px;
    border-color: #5A5757;
    top: 0px;
    bottom: 0px;
 	width: -moz-calc(75%);
	width: -webkit-calc(75%);
    right: 0px;
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2;
}

@media only screen and (max-width: 1100px){
    #box1wrapper{
    	position: relative;
      	top: 0px;
      	left: 0px;
      	right: 0px;
      	width: -moz-calc(100.0%) !important;
        width: -webkit-calc(100.0%) !important;
    }
  
  	#box2wrapper {
    	position: relative;
    	top: 0px;
        width: -moz-calc(100.0%) !important;
        width: -webkit-calc(100.0%) !important;
    }

}