<div id="container" style="">
    <canvas id='myCanvas' width="625" height="625" style='background-color:#FFFFFF; border:2px solid black;margin:0 auto;'></canvas>
    <div class='floatRightBox' style="min-width:300px;">
	    <div class='loginBoxheader'>
	        <h3>Uppgiften</h3>
	    </div>
	    <p id="duggaQuery"></p>
	</div>
</div>

<div id='duggaInfoBox' class="loginBox" style="display:none">
  <div>
        <div class='loginBoxheader'>
            <h3 style="width: 75%;">Dugga - Boxmodellen</h3>
            <div class='cursorPointer' onclick="hideDuggaInfoPopup()">x</div>
        </div>
          <div class="table-wrap">
            <table>
                <tr>
                    <td>
                        <p id="duggaInstructions" style="margin-left: 4px;"></p>
                        <p style="margin-left: 4px;">Lycka till!</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type='button' class='submit-button' style="float: right;" onclick="hideDuggaInfoPopup();" value='Stäng'>
                    </td>
                </tr>
            </table>
          </div>
    </div>
</div>

<div id="duggaStats" class="loginBox" style="display:none;position:absolute;top:0;right:0;">
    <div class='loginBoxheader'>
        <h3>Dugga Stats</h3>
        <div class='cursorPointer' onclick="hideDuggaStatsPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr><th></th><th>Highscore</th><th>Total</th></tr>
            <tr><td>Clicks</td><td id="duggaClicks"></td><td id="duggaTotalClicks"></td></tr>
            <tr><td>Time</td><td id="duggaTime"></td><td id="duggaTotalTime"></td></tr>
            <tr><td>Submissions</td><td></td><td id="duggaTotalSubmissions"></td></tr>
        </table>
    </div>
</div>
<div id="feedbackBox" class="loginBox" style="display:none;position:absolute;right:0;">
    <div class='loginBoxheader'>
        <h3>Feedback Log</h3>
        <div class='cursorPointer' onclick="hideFeedbackPopup()">x</div>
    </div>
    <div class="table-wrap" id="feedbackTable">
        <table>
            <tr><th>Date</th><th>Feedback</th></tr>
        </table>
    </div>
</div>
