<div id="container" class="curveContainer" style="display:flex; justify-content:flex-start;">
    <div id='curveInfoBox'>
        <div class='loginBoxheader'>
            <h3>Kurv-duggan</h3>
        </div>
        <p style="margin-left: 4px;">Kurv-duggan går ut på att fylla i det gråa streck som är ritat med hjälp av linjer och kurvor.</p> 
        <p style="margin-left: 4px;">Till ert förfogande finns 3 typer av grafiska element: <i>linje</i>, <i>kvadratisk kurva</i> och <i>kubisk kurva</i>.</p>
        <p style="margin-left: 4px;">Rita från röd prick till blå prick. Röda kryss indikerar slut/början på en linje/kurva. Det finns en lösning där linjen ritas exakt så som den grå linjen.</p>
        <p style="margin-left: 4px;">Lycka till och glöm inte att spara duggan! En gul lampa betyder att duggan är inlämnad.</p>
    </div>
    <canvas id='a' style='background-color:#FFFFFF; border:2px solid black; cursor:none; display:block;'></canvas>
    <div id="infobox" style="padding:4px;">
        <div id="quizInstructions"></div>
        <div class='loginBoxheader'>
            <h3>Ritverktyg</h3>
        </div>

        <div style="display:flex">
            <input type="button" class="submit-button" value="Linje" onclick="newOp('L 10 20','Linje');">
            <input type="button" class="submit-button" value="Kvadrat. kurva" onclick="newOp('Q 20 30 40 20','Kvadratisk kurva');">                    
            <input type="button" class="submit-button" value="Kubisk kurva" onclick="newOp('C 50 10 20 50 30 50','Kubisk kurva');">                    
        </div>

        <select style="width:100%; margin-left: 4px;" size="10" id="operations" name="operations"></select>
        <div style="display:flex">
          <input type="button" class="submit-button" value="FLYTTA UPP" onclick="moveupbutton();">                
          <input type="button" class="submit-button" value="FLYTTA NER" onclick="movedownbutton();">                
          <input type="button" class="submit-button" value="TA BORT" onclick="deletebutton();">
        </div>
    </div>
</div>


<div id="debug" style="display:none; font-size: 8px; position: fixed; bottom: 20px; left: 90%;">
    <p>cx:</p>
    <p>cy:</p>
</div>
<div id="debugCanvas" style="display:none;font-size: 8px; position: fixed; bottom: 60px; left: 90%;"></div>
<div id="debugActiveObj" style="display:none;font-size: 8px; position: fixed; bottom: 80px; left: 90%;"></div>

<div id="duggaStats" class="loginBox" style="display:none;position:absolute;top:0;right:0;">
    <div class='loginBoxheader'>
        <h3>Dugga Stats</h3>
        <div class='cursorPointer' onclick="hideDuggaStatsPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr><th></th><th>Highscore</th><th>Total</th></tr>
            <tr><td>Clicks</td><td id="duggaClicks"></td><td id="duggaTotalClicks"></td></tr>
            <tr><td>Time</td><td id="duggaTime"></td><td id="duggaTotalTime"></td></tr>
            <tr><td>Submissions</td><td></td><td id="duggaTotalSubmissions"></td></tr>
        </table>
    </div>
</div>
<div id="feedbackBox" class="loginBox" style="display:none;position:absolute;top:0;right:0;">
    <div class='loginBoxheader'>
        <h3>Feedback Log</h3>
        <div class='cursorPointer' onclick="hideReceiptPopup()">x</div>
    </div>
    <div class="table-wrap" id="feedbackTable">
        <table>
            <tr><th>Date</th><th>Feedback</th></tr>
        </table>
    </div>
</div>
