<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body onbeforeunload="return beforeUnloadingPage()">
    <div id="content">
        <div class='feedback-container' style="display: none;">
            <div class='feedback-button' onclick='toggleFeedback()'>
                <h3>Feedback</h3>
            </div>
            <div class="feedback-content">
                <div id="feedbackTable" style="margin-top: -3px;"></div>
            </div>
        </div>
        <div class='instructions-container'>
            <div class='instructions-button' onclick='toggleInstructions(this)'>
                <h3>General instructions</h3>
            </div>
            <div class="instructions-content">
                <p style="margin-left: 4px;">Diagram-duggan går ut på att producera det diagrammet som beskrivs i beskrivningen.</p>
                <p style="margin-left: 4px;">Lägg till element med hjälp av att byta till respective läge och klicka på canvasen.</p>
                <!-- <p style="margin-left: 4px;"><strong>Uppgiftsbeskrivning:</strong></p>
                <p style="margin-left: 4px;" id="assigment-instructions"></p> -->
            </div>
        </div>

        <div class="assignmnet" style="position: absolute; top: 26.5%; margin-left: 3px; width: 420px; height: 800px; background-color: gray;  overflow-y: scroll;">
            <h1 style="margin: auto auto; text-align: center;">Diagram-duggan</h1>
            <div class="assignment_discrb" style=" width: 390px; height: 40px; margin-left: 2%; color: white; margin-top: 3%;">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                    non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                    autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae co numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                    quaerat voluptatem. veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae numquam
                    eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum
                    iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae co numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                    nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
                    ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae co numquam eius
                    modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                </p>
            </div>

        </div>
        <div id="container" style="display:flex; justify-content:space-around; margin-left: 422px;">

            <iframe onclick="canSaveController()" id="diagram-iframe" width="100%" height="800px" src="./diagram.php" title="Diagram"></iframe>

        </div>
        <div id="nextVariantBtn"></div>
    </div>
</body>

</html>