<div id="content">
    <div class='feedback-container' style="display: none;">
        <div class='feedback-button' onclick='toggleFeedback()'><h3>Feedback</h3></div>
        <div class="feedback-content">
            <div id="feedbackTable" style="margin-top: -3px;"></div>
        </div>
    </div>
    <div class='instructions-container'>
        <div class='instructions-button' onclick='toggleInstructions(this)'><h3>Instructions</h3></div>
        <div class="instructions-content">
            <p style="margin-left: 4px;">Diagram-duggan går ut på att producera det diagrammet som beskrivs i beskrivningen.</p>
            <p style="margin-left: 4px;">Lägg till element med hjälp av att byta till respective läge och klicka på canvasen.</p>
            <p style="margin-left: 4px;"><strong>Uppgiftsbeskrivning:</strong></p>
            <p style="margin-left: 4px;">Per-olof tar hand om gravar på flera olika kyrkogårdar, för att han ska kunna hålla koll på vilken kund så behöver
                han införskaffa en databas som håller koll på samtliga detaljer. Gravskötsel firman "Per-olof Gravunderhållning aktiebolag" hanterar många
                gravar på flera olika kyrkogårdar. Gravarna identifieras med hjälp av ett id men har även en plats på kyrkogården och text på gravstenen.
            </p>
            <p style="margin-left: 4px;">För att underlätta för arbetarna så sparas även namnet på den som ligger begraven på platsen.
                För att kunna faktuera arbetet på en grav så finns det även information om vem som äger graven och är kund till aktiebolaget.
            </p>
            <p style="margin-left: 4px;">Kunden har en e-postadress dit fakturan skickas samt faktureringsinformation såsom namn, kundnummer och adress samt
                ett personnummer. För att ha unika kunder så används kundnummret som identiferare. En kyrkogård har ett antal begravda personer samt ett namn,
                även en adress finns lagrat för att lättate kunna hitta till platsen på GPSen.</p>
            <p style="margin-left: 4px">Per-olof är mycket rädd för spöken som finns på dem olika kyrogårdarna så om han träffar på ett spöke så
                loggar han detta, informationen som han sparar är hur läsktigt spöket var, vad han kallar spöket samt vilken tid som han träffade på spöket.
                Beroende på hur många spöken och hur läskiga dem är så rankas kyrkogårdens hemsökningsfaktor.
            </p>
        </div>
    </div>

    <div id="container" style="display:flex; justify-content:space-around;">

        <iframe onclick="canSaveController()" id="diagram-iframe" width="80%" height="800px" src="./diagram.php" title="Diagram"></iframe>

    </div>
    <div id="nextVariantBtn"></div>
</div>