<div id="container">
	<div class='instructions-container'>
	<div class='instructions-button' onclick='toggleInstructions(this)'><h3>Kriterie</h3></div>	
		<div class="instructions-content" style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; " id="snus">
			<p>This is a template dugga that allows uploading of material. PDF, ZIP and RAR is allowed. PDF-files will be previewed.</p>
		</div>
	</div>
  <div style="display:flex;">
    	<div class='instructions-container' style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; flex:3;">
      		<div class='instructions-button' onclick='toggleInstructions(this)'><h3 id="report-header">Report</h3></div>	
      		<div class="" style="min-height:800px;" id="linkedreport"></div>	
    	</div>
      <div class='instructions-container' style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; flex:1">
      		<div class='instructions-button' onclick='toggleInstructions(this)'><h3 id="feedback-header">Feedback</h3></div>	
      		<div class="" id="tomten">      			
        			<div id="feedbackBoxy" class="loginBox" style="display:none;">
        	    <div class='loginBoxheader'>
        	        <h3>Feedback Log</h3>
        	        <div class='cursorPointer' onclick="hideReceiptPopup()">x</div>
        	    </div>
        	    <div class="table-wrap" id="feedbackTable">
        	        <table>
        	            <tr><th>Date</th><th>Feedback</th></tr>
        	        </table>
        	    </div>
        			</div>	
      		</div>	
  	   </div>
   </div>
</div>
<div id="duggaStats" class="loginBox" style="display:none;position:absolute;top:0;right:0;">
    <div class='loginBoxheader'>
        <h3>Dugga Stats</h3>
        <div class='cursorPointer' onclick="hideDuggaStatsPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr><th></th><th>Highscore</th><th>Total</th></tr>
            <tr><td>Clicks</td><td id="duggaClicks"></td><td id="duggaTotalClicks"></td></tr>
            <tr><td>Time</td><td id="duggaTime"></td><td id="duggaTotalTime"></td></tr>
            <tr><td>Submissions</td><td></td><td id="duggaTotalSubmissions"></td></tr>
        </table>
    </div>
</div>
