<div id="feedbackBox" class='feedback-container' style="display: none;">
	<div class='feedback-button' onclick='toggleFeedback()'><h3>Feedback</h3></div>	
		<div class="feedback-content">	
				<div id="feedbackTable" style="margin-top: -3px;"></div>	
		</div>
</div>
<div id="container">
	<div class='instructions-container'>
	<div class='instructions-button' onclick='toggleInstructions(this)'><h3>Instructions</h3></div>	
		<div class="instructions-content" style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; " id="snus">
			<p id='duggaInstructions'></p>
            <p style="margin-left: 4px;">Lycka till!</p>
		</div>
	</div>
</div>
</div>
<div id="container">
    <div id="htmlCssTable" style="width:100%; border-collapse:separate; border-spacing: 10px;">
         
            <div id="target-col" class="dugga-col" >
                <div>
                    <div><h2 class='formBoxHeader' >Webbplatsutseende som skall skapas</h2><p style="margin:10px;"><strong>Extrakrav: </strong><span id="target-text"></span></p></div>
                    <div id="target-window" ><img id="target-window-img" src="" /></div>
                </div>
            </div> 
            <div id="input-col" class="dugga-col">
                <div style="width:100%; height:100%; position:relative;">
                    <div><h2 class='formBoxHeader'>Skriv/klistra in kod</h2></div>
                    <div id="input-col-content"><textarea id="content-window" onkeyup="processpreview(); canSaveController();"></textarea></div>
                    <div id="input-col-URL"><label>Adress (URL) till din publicerad version:</label><br>
                        <input id="url-input" type="text" name="url" placeholder="http://wwwlab.iit.his.se/<ditt login>/<sökvägen till din dugga>" onkeyup="canSaveController();">
                        <a id="url-button" style="display:hidden" target="_blank" href="#">Visa externt</a>
                        <span  id="url-button"onclick="refreshdUrl()">Uppdatera URL</span></div>
                </div>
            </div> 
            <div id="preview-col" class="dugga-col">
                <div>
                    <div id="code-preview-label"><h2 class='formBoxHeader'>Förhandsgranskning av inklistrad programkod</h2></div>
                    <div  id="code-preview-window-wrapper"><iframe id="code-preview-window"></iframe></div>
                    <div id="url-preview-label"><h2 class='formBoxHeader'>Förhandsgranskning av publicerad kod</h2><p>Skall se identisk ut med ovan ovanstående.</p></div>
                    <div id="url-preview-window-wrapper"><div id="url-preview-window"></div></div>
                </div>
            </div> 
            <div id="validation-col" class="dugga-col">
                <div>
                    <div id="validation-label"><h2 class='formBoxHeader'>Validering</h2></div>
                    <div id="validation-content">
                        <div id="url-validation-window"></div>
                </div>
            </div> 
        
    </div>
</div>

<!-- <div id='duggaInfoBox' class="loginBoxContainer" style="display:none"> -->
    <div style="display:none">
  <div class="formBox"  style="max-width:350px;">
    <div class='formBoxHeader'>
        <h3>Dugga - HTML/CSS</h3>
        <div class='cursorPointer' onclick="hideDuggaInfoPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
             
                <div> 
                    <p id="duggaInstructions" style="margin-left: 4px;"></p>
                    <p style="margin-left: 4px;">Lycka till!</p>
                </div> 
             
             
                <div> 
                    <input type='button' class='submit-button' style="float: right;" onclick="hideDuggaInfoPopup();" value='Stäng'>
                </div> 
             
        </table>
    </div>
</div>
</div>

<div id="duggaStats" class="loginBoxContainer" style="display:none;position:absolute;top:0;right:0;">
  <div class="formBox">
    <div class='formBoxHeader'>
        <h3>Dugga Stats</h3>
        <div class='cursorPointer' onclick="hideDuggaStatsPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr><th></th><th>Highscore</th><th>Total</th></tr>
            <tr><td>Clicks</td><td id="duggaClicks"></td><td id="duggaTotalClicks"></td></tr>
            <tr><td>Time</td><td id="duggaTime"></td><td id="duggaTotalTime"></td></tr>
            <tr><td>Submissions</td><td></td><td id="duggaTotalSubmissions"></td></tr>
        </table>
    </div>
  </div>
</div>
