<div id="container">
    <table id="htmlCssTable" style="width:100%; border-collapse:separate; border-spacing: 10px;">
        <tr>
            <td id="target-col" class="dugga-col" style="max-width:400px;min-width:350px;vertical-align:top; background-color:#FFF;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);overflow:scroll;">
                <div style="">
                    <div style=""><h2 class='loginBoxheader' style="padding:5px; padding-bottom:10px; margin-top:0; color:#FFF;overflow:hidden; text-align:center;">Webbplatsutseende som skall skapas</h2><p style="margin:10px;"><strong>Extrakrav: </strong><span id="target-text"></span></p></div>
                    <div id="target-window" style="min-width:200px;min-height:400px;max-width:600px;overflow:scroll;"><img style="margin:5px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 5px 0 rgba(0,0,0,0.1);" id="target-window-img" src="" /></div>
                </div>
            </td>
            <td id="input-col" class="dugga-col" style="min-width:400px;vertical-align:top; background-color:#FFF;vertical-align:top; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);overflow:hidden;">
                <div style="width:100%; height:100%; position:relative;">
                    <div style=""><h2 class='loginBoxheader' style="padding:5px; padding-bottom:10px; margin-top:0; color:#FFF;overflow:hidden; text-align:center;">Skriv/klistra in kod</h2></div>
                    <div style="position:absolute;top:45px;left:15px;right:15px;bottom:100px;"><textarea id="content-window" onkeyup="processpreview();" style="resize: none;display:block;width:100%;height:100%;box-sizing:border-box; "></textarea></div>
                    <div style="position:absolute; bottom:1px; left:1px; right:1px; min-height:75px; margin: 15px;"><label>Adress (URL) till din publicerad version:</label><br><input style="border:1px solid black;width:100%;box-sizing:border-box;" id="url-input" type="text" name="url" placeholder="http://wwwlab.iit.his.se/<ditt login>/<sökvägen till din dugga>"><a id="url-button" class="submit-button" style="display:hidden" target="_blank" href="#">Visa externt</a><span class="submit-button" onclick="refreshdUrl()">Uppdatera URL</span></div>
                </div>
            </td>
            <td id="preview-col" class="dugga-col" style="width:400px;vertical-align:top; background-color:#FFF;vertical-align:top; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);overflow:hidden;">
                <div style="">
                    <div id="code-preview-label" style=""><h2 class='loginBoxheader' style="padding:5px; padding-bottom:10px; margin-top:0; margin-bottom:10px; color:#FFF;overflow:hidden; text-align:center;">Förhandsgranskning av inklistrad programkod</h2></div>
                    <div  id="code-preview-window-wrapper" style="width:400px;height:265px;"><iframe id="code-preview-window" style="transform:scale(0.5); transform-origin:0 0; box-sizing:border-box; border:2px solid #614875;overflow:hidden;margin:1px; width:796px; min-height:530px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 5px 0 rgba(0,0,0,0.1);"></iframe></div>
                    <div id="url-preview-label" style=""><h2 class='loginBoxheader' style="padding:5px; padding-bottom:10px; margin-top:0; color:#FFF;overflow:hidden; text-align:center;">Förhandsgranskning av publicerad kod</h2><p style="margin:10px;">Skall se identisk ut med ovan ovanstående.</p></div>
                    <div style="width:400px;height:265px;"><div id="url-preview-window" style="transform:scale(1); transform-origin:0 0; box-sizing:border-box;overflow:hidden; width:400px; min-height:520px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 5px 0 rgba(0,0,0,0.1);"></div></div>
                </div>
            </td>
            <td id="validation-col" class="dugga-col" style="width:400px;vertical-align:top;display:none; background-color:#FFF;vertical-align:top;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5),0 2px 10px 0 rgba(0,0,0,0.1);overflow:hidden;">
                <div style="">
                    <div id="validation-label" style=""><h2 class='loginBoxheader' style="padding:5px; padding-bottom:10px; margin-top:0; color:#FFF;overflow:hidden; text-align:center;">Validering</h2></div>
                    <div id="validation-content" style="width:400px;height:265px;">
                        <div id="url-validation-window" style=""></div>
                </div>
            </td>
       </tr>
   </table>
</div>

<div id='duggaInfoBox' class="loginBoxContainer" style="display:none">
  <div class="loginBox"  style="max-width:350px;">
    <div class='loginBoxheader'>
        <h3>Dugga - HTML/CSS</h3>
        <div class='cursorPointer' onclick="hideDuggaInfoPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr>
                <td>
                    <p id="duggaInstructions" style="margin-left: 4px;"></p>
                    <p style="margin-left: 4px;">Lycka till!</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type='button' class='submit-button' style="float: right;" onclick="hideDuggaInfoPopup();" value='Stäng'>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>

<div id="duggaStats" class="loginBoxContainer" style="display:none;position:absolute;top:0;right:0;">
  <div class="loginBox">
    <div class='loginBoxheader'>
        <h3>Dugga Stats</h3>
        <div class='cursorPointer' onclick="hideDuggaStatsPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr><th></th><th>Highscore</th><th>Total</th></tr>
            <tr><td>Clicks</td><td id="duggaClicks"></td><td id="duggaTotalClicks"></td></tr>
            <tr><td>Time</td><td id="duggaTime"></td><td id="duggaTotalTime"></td></tr>
            <tr><td>Submissions</td><td></td><td id="duggaTotalSubmissions"></td></tr>
        </table>
    </div>
  </div>
</div>
<div id="feedbackBox" class="loginBoxContainer">
  <div class="loginBox">
    <div class='loginBoxheader'>
        <h3>Feedback Log</h3>
        <div class='cursorPointer' onclick="hideFeedbackPopup()">x</div>
    </div>
    <div class="table-wrap" id="feedbackTable">
        <table>
            <tr><th>Date</th><th>Feedback</th></tr>
        </table>
    </div>
  </div>
</div>
