<div class='instructions-container'>
<div class='instructions-button' onclick='toggleInstructions()'><h3>Instructions</h3></div>	
	<div class="instructions-content">
		<p>This quiz aims to test your knowledge on the subject of this course. Each question has a set of alternatives, you choose one of the alternatives to answer a question.</p>
		<p>The quiz is submitted when you press save. You can resubmit the quiz as many times you want until deadline. Good luck!</p>
	</div>
</div>
<table class='fouter' width="100%" style='margin-bottom:20px;' >
</table>
<div id="output" class="quiz-wrapper"></div>
