<div id="container">
	<div class='instructions-container'>
	<div class='instructions-button' onclick='toggleInstructions(this)'><h3>Instructions</h3></div>	
        <div class="instructions-content" style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; " id="snus">
            <h3 id="groupAssignmentHeader"></h3>
			<section>

                <h1>Introduktion Webbprogrammering</h1>
                <div>
                    Uppgiften utförs enskilt. En rapport skall utformas som innehåller de viktigaste delarna av programkoden
                    inklusive screenshots på webbappkationen i en webbläsare, med tillhörande diskussion kring motiveringar,
                    designval och eventuella alternativa lösningar. Rapporten skall tydgt redovisa vad som är byggt från grunden
                    med Javascript och vad som är byggt med toolkits. Sist i rapporten skall det finnas en diskussion kring din
                    webbappkation som reflekterar kring exempelvis svårigheter, lärdomar och delar av din lösning som du är
                    speciellt nöjd med.
                </div>
                <div>
            
                    Dokumentmallens kapitendelning och reglerna för innehållet som beskrivs i mallen skall följas i hela
                    rapporten.
                    Misslyckas man med att följa mallen riskerar man underkänt betyg.
                </div>
            
                <div>
            
                    I kursen Webbprogrammering skall du skapa ett bokningssystem. Bokningssystemet du skapar skall vara en
                    webbappkation som är en Single Page Appcation (SPA). Bokningssystemet är uppdelat i två inlämningsuppgifter:
                    Inlämningsuppgifter Scripting 2,0 hp och Inlämningsuppgifter inbäddat innehåll 2,0 hp.
                </div>
            
                <div>
                    Varje student väljer själv ut en påhittad verksamhet som behöver ett bokningssystem. Typen av verksamhet måste
                    inte vara unik. För att undvika risk för plagiat så ber vi er välja en verksamhet (domän) som är ok de
                    verksamheter
                    som andra studenter du ofta arbetar tillsammans med har valt.
                </div>
            
                <div>
                    Hos verksamheten du väljer har man höga ambitioner, och vill därför använda modern webbtekniken för att skapa en
                    kreativ och framtidsinriktad webbappkation. Webbappkationen exekveras nästan helt på kenten med HTML/CSS
                    och Javascript och på serversidan måste du använda följande Boknings-API. Boknings-API får inte modifieras.
                </div>
            
                <div>
                    Webbappkationen får inte innehålla:
                    <ul>
                        <li>CSS Ramverk (exv bootstrap)</li>
                        <li>Javascript Ramverk (exv Angular eller React)</li>
                        <li>Templates (exv färdig template för bokningssite)</li>           
                    </ul>
            
                    Man får ej skriva egen PHP utom den ändring (konfiguration) av vårt Boknings-API där lösenord och användarnamn
                    som är nödvändig för att Boknings-API skall fungera anges.
                </div>
            
                <h1>Delkursen Inlämningsuppgifter Scripting 2,0 hp</h1>
            
                <div>
            
                    För betyget G skall följande delar av appkationen implementeras. appkationens flöde br tydgt om man
                    arbetar
                    i den givna ordningen men det är tillåtet att arbeta i valfri ordning. I rapporten skall det presenteras i den
                    uppsatta kronologiska ordningen.
                </div>
            
                <div>
                    <h2> Steg 1: Sidnavigering / Single Page appcation</h2>
            
                    Din webbappkation skall vara skriven i ett enda html-dokument. Det skall finnas ett antal huvudsidor (screens)
                    med formulär. På samma fysiska vy kan flera sådana screens finnas. Exempelvis kan kundregistrering vara en
                    dropdown
                    i inloggnings-screen eller en helt egen screen. Nvigeringen skall implementeras på ett sätt som liknar någon
                    eller
                    flera av de metoder som kodexemplet “SPA Examples” använder för att växla mellan olika screens.
                </div>
                <div>
                    Följande screens behöver implementeras:<br>
                    <input type="checkbox" id="test4" class="unchecked" onclick="striketxt('test4','tes4')">
                        <label for="test4" id="tes4">Det skall finnas en screen för kundregistrering där kunden registrerar informationen om sitt konto,
                            exempelvis
                            förnamn, efternamn och adress. På Denna sida skall validering senare implementeras.</label><br>
                    <input type="checkbox" id="test5" class="unchecked" onclick="striketxt('test5','tes5')">
                        <label for="test5" id="tes5">Det skall finnas en screen för inloggning/välkomst som är unik för användaren liknande de som finns
                            exempelvis
                            på exempelvis Amazon.com etc. Användaren skall endast behöva ange sitt kontonamn för att kunna logga in
                            på systemet
                            (det skall inte finnas någon komplett inloggning där lösenord måste anges).</label><br>
                    <input type="checkbox" id="test6" class="unchecked" onclick="striketxt('test6','tes6')">
                        <label for="test6" id="tes6">Det skall finnas en screen för sökningar på verksamhetens resurs-data och/eller tillgänglighet för en
                            resurs.
                            Att
                            skriva html som visar en mockup på hur ett framtida sökresultat från Boknings-API skall
                            representeras/visualiseras
                            är lämpligt här.</label><br>
        
                    <input type="checkbox" id="test7" class="unchecked" onclick="striketxt('test7','tes7')">
                        <label for="test7" id="tes7">Det skall finnas en bokningssida där användaren utöver ett traditionellt formulär kan kunna klicka på en
                            grafisk
                            representation av resurs eller grafisk representation av positionerna i någon (tillgänglig) resurs för
                            att kunna
                            göra bokningar. Den grafiska representationen av resurser är inte del av Inlämningsuppgifter Scripting
                            2,0 hp.</label><br>
        
                    <input type="checkbox" id="test8" class="unchecked" onclick="striketxt('test8','tes8')">
                        <label for="test8" id="tes8">Det skall finnas en screen för bokningshistorik som listar kundens genomförda bokningar. Att skriva
                            html som
                            visar
                            en mockup på hur bokningsdata för en användare skall representeras/visualiseras är lämpligt här.</label><br>
                </div>
                <div>
                    <h2> Steg 2: Historik</h2>
                    <input type="checkbox" id="test9" class="unchecked" onclick="striketxt('test9','tes9')">
                    <label for="test9" id="tes9"> Eftersom vi kommer att navigera till olika sidor (screens) utan att göra sidnavigering till nya
                        html-dokument så
                        kommer vi vara tvugna att manuellt uppdatera historiken i webbläsaren. Om en användare t ex har besökt
                        sök-sidan
                        och
                        sedan navigerar till bokningshistoriken så skall ett tryck på webbläsarens “tillbaka”-knapp förflytta
                        användaren
                        tillbaka till sök-sidan (inte till webbsidan som vi besökte innan vi navigerade till bokningssystemet)</label><br>
                    <input type="checkbox" id="test10" class="unchecked" onclick="striketxt('test10','tes10')">
                        <label for="test10" id="tes10">Ett annat exempel på historik-hantering skulle kunna vara sökningar. Om vi har gjort flera sökningar så
                            skulle
                            “tillbaka”-knappen ta oss till baka till respektive sökning</label><br>
                    <input type="checkbox" id="test11" class="unchecked" onclick="striketxt('test11','tes11')">
                    <label for="test11" id="tes11">Vi gör denna manuella uppdatering av webbläsar-historiken med hjälp av History API</label><br>
        
                </div>
            </section>
		</div>
	</div>

	<div class='instructions-container'>
		<div class='instructions-button' onclick='toggleInstructions(this)'><h3>Submission</h3></div>	
		<div class="instructions-content" style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; " id="tomten"></div>	
	</div>
</div>
<div id="duggaStats" class="formBox" style="display:none;position:absolute;top:0;right:0;">
    <div class='formBoxHeader'>
        <h3>Dugga Stats</h3>
        <div class='cursorPointer' onclick="hideDuggaStatsPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr><th></th><th>Highscore</th><th>Total</th></tr>
            <tr><td>Clicks</td><td id="duggaClicks"></td><td id="duggaTotalClicks"></td></tr>
            <tr><td>Time</td><td id="duggaTime"></td><td id="duggaTotalTime"></td></tr>
            <tr><td>Submissions</td><td></td><td id="duggaTotalSubmissions"></td></tr>
        </table>
    </div>
</div>

