<div class='feedback-container' style="display: none;">
	<div class='feedback-button' onclick='toggleFeedback()'><h3>Feedback</h3></div>	
		<div class="feedback-content">	
				<div id="feedbackTable" style="margin-top: -3px;"></div>	
		</div>
</div>
<div class='instructions-container'>
<div id="duggaStats" class="loginBox" style="display:none;position:absolute;top:0;right:0;">
    <div class='loginBoxheader'>
        <h3>Dugga Stats</h3>
        <div class='cursorPointer' onclick="hideDuggaStatsPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr><th></th><th>Highscore</th><th>Total</th></tr>
            <tr><td>Clicks</td><td id="duggaClicks"></td><td id="duggaTotalClicks"></td></tr>
            <tr><td>Time</td><td id="duggaTime"></td><td id="duggaTotalTime"></td></tr>
            <tr><td>Submissions</td><td></td><td id="duggaTotalSubmissions"></td></tr>
        </table>
    </div>
</div>
<div class='instructions-button' onclick='toggleInstructions()'><h3>Instructions</h3></div>	
	<div class="instructions-content"><div id="helptxt"></div>
</div>
</div>
<div style="display:flex;  justify-content:center;">
<canvas id="myCanvas" height="400px" width="400px" style="display:none;border:1px solid green;"></canvas>
<svg id="foo" viewBox="0 0 400 400" height="400px" width="400px" style="border:1px solid black;">
</div>
