<div id="container">
	<div class='instructions-container'>
	<div class='instructions-button' onclick='toggleInstructions()'><h3>Instructions</h3></div>	
		<div class="instructions-content" style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; " >
			Här lämnar du in en samling av uppgifterna 1-7. Efter inlämning tilldelas du en individuell XML-fil som används i huvuduppgiften.
			Inlämningsuppgiften ligger till grund för examination i kursen och löses individuellt. Detta innebär att det är väldigt viktigt att materialet som skickas in till läraren är ditt eget och är enkelt att identifiera som ditt eget. Att kopiera text, bilder eller kod är inte accepterat. Däremot är det tillåtet att använda källanvisningar för att visa vart information kommer ifrån. Huvudsaken är att uppgifterna är utförda individuellt efter egen förmåga. 
			Grupparbete där källkod och skriftlig rapport skapas tillsammans är inte tillåtet. Lösningar för inte delas vidare med andra.

		<p>This handlin allows uploading of material. PDF, ZIP and RAR is allowed. PDF-files will be previewed.</p>
		</div>
	</div>

	<div class='instructions-container'>
		<div class='instructions-button' onclick='toggleInstructions()'><h3>Upload PDF</h3></div>	
		<div class="instructions-content" style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; ">

			<!-- pdf Preview -->
			<div id="Inl1DocumentPrev" style="background:#f8f8ff;border-radius:8px;box-shadow: 2px 2px 4px #888 inset;padding:4px;">&lt;PDF Preview&gt;</div>
			<table>
				<tr>
					<td id = "Inl1Document">

					</td>
					<td>
							<span id="Inl1DocumentFile" style="margin:4px;" >No file uploaded</span>
					</td>
					<td>
							<span id="Inl1DocumentDate" style="margin:4px;" ></span>
					</td>
				</tr>
			</table>
			<!-- End pdf Preview -->
	
		</div>	
	</div>
</div>
<div id="duggaStats" class="loginBox" style="display:none;position:absolute;top:0;right:0;">
    <div class='loginBoxheader'>
        <h3>Dugga Stats</h3>
        <div onclick="hideReceiptPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr><th></th><th>Highscore</th><th>Total</th></tr>
            <tr><td>Clicks</td><td id="duggaClicks"></td><td id="duggaTotalClicks"></td></tr>
            <tr><td>Time</td><td id="duggaTime"></td><td id="duggaTotalTime"></td></tr>
            <tr><td>Submissions</td><td></td><td id="duggaTotalSubmissions"></td></tr>
        </table>
    </div>
</div>