/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    min-width: 550px;
}

#header h1 {
    color: white;
    margin-left: 10px;
}

#inputWrapper {
    width: 100%;
    margin: auto;
    background-color: rgb(250,250,250);
    min-width: 550px;
}

.inputHeading h2 {
    color: white;
}

.inputHeading {
    background-color: rgb(146, 124, 157);
    width: 100%;
    height: 75px;
    margin: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inputContent {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    height: 400px;
    background-color: rgb(240,240,240);
}

#inputFooter {
    background-color: rgb(146, 124, 157);
    width: 100%;
    height: 50px;
    margin: 0;
    position: relative;
    bottom: 0;
}


#header {
    background-color: rgb(97,73,116);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#showModalBtn {
    background-color: rgb(253,203,96);
    position: absolute;
    right: 0px;
    top: 20px;
    color: black;
    padding: 5px 10px 5px 5px;
}

#showModalBtn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.arrow {
    position: relative;
    bottom: 200px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.arrow:hover {
    opacity: 0.7;
    cursor: pointer;
}

#leftArrow {
    left: 10px;
    float: left;
}

#rightArrow {
    right: 10px;
    float: right;
}

#checkboxContainer {
    width: 105px;
    margin: auto;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    height: 100px;
    margin-top: 50px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
}

.button2:hover {
    cursor: pointer;
    opacity: 0.7;
}

#doThisWrapper {
    width: 75%;
    background-color: rgb(250,250,250);
    margin: auto;
    text-align: center;
}

.codeBox {
    text-align: left;
    word-wrap: break-word;
    background-color: #cccccc;
    min-width: 300px;
    max-width: 80%;
    margin: auto;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
}

#installationProgressWrap {
    display: block;
}

#showHideInstallation {
    color: white;
    margin-top: 10px;
}

#showHideInstallation:hover {
    cursor: pointer;
    text-decoration: underline;
}