#studentView{
	z-index:0;
}

/*Student Main info wrap*/
#studentTitle {
	text-align:left;
	margin: 0 auto;
	margin-top:-20px;
	margin-bottom:0px;
	width: 90%;
	color:#614875;
	font-family:Calibri,sans-serif;
}

/*Student name size h2*/
#studentTitle h2 {
	font-size:1.0em;
	margin-bottom:8px;
}

/*Student name makes the first letter uppercase*/
#studentTitle h2:first-letter {
	text-transform:uppercase !important;
}

/*Student class size h3*/
#studentTitle h3 {
	font-size:1.2em;
}

/*Main progress bar wrapp*/
.mainProgressBarcontainer {
	position: relative; 
	width:90%;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:45px;
}

/*Main progressbar*/
.totalProgressBar{
	height:40px;
	width:100%;
	margin:0 auto;
	display: block;
	background-color:#F5F5F5;
	border-radius:0.5em;
	border:1px solid #A9A9A9;
}

/*Supplement to the progressbar2.css*/
/*Main progress bar green area styling*/
.progress-bar-success {
	height:40px;
	border-top-left-radius:0.5em;
	border-bottom-left-radius:0.5em;
}


/*Main Progress Indicator*/
#progressIndicator {
	width:70px;
	height:42px;
	background-image:url(../img/indicator.png);
	background-repeat:no-repeat;
	float:right;
	font-size:0.8em;
	text-align:center;
	color:#FFF;
	padding:20px 0 0 0;
	margin:38px -35px 0 0;
}

/*Big Course Wrap*/
#YearContainer {
	position: relative;
	width: 90%;
	margin: 0 auto;
	min-height:inherit;
}
	
/*Year 1 progress wrap*/
#year1Progress {
	float: left;	
	height:20px;
	width:20%;
	margin:-30px 0 0 70px;
	box-shadow:none;
}
/*Year 2 progress wrap*/
#year2Progress {
	height:20px;
	width:20%;
	margin: -30px auto;
	box-shadow:none;
}
/*Year 3 progress wrap*/
#year3Progress {
	float:right;
	height:20px;
	width:20%;
	margin:-30px 70px 0 0;
	box-shadow:none;
}

/*Year 1 score*/
#year1Score {
	float:left;
	margin: -20px 0 0 182px;
	position:relative;
	font-size:0.8em;
}

/*Year 2 score*/
#year2Score {
	margin:0 auto;
	margin: -20px 0 0 0;
	font-size:0.8em;
}

/*Year 3 score*/
#year3Score {
	float:right;
	margin: -27px 72px 0 0;
	font-size:0.8em;
}

/*Overall Year Wrap*/
.Year {
	font-size:0.8em;
	width: 32%;
}

/*Year1 wrap*/
#Year1 {
	float:left;
}

/*Year2 wrap*/
#Year2 {
	margin:0 auto;
}

/*Year3 wrap*/
#Year3 {
	float:right;
}

/*Year Heading*/
.year_header{
	padding: 10px 5px;
	text-align:center;
	background-color:#614875;
	color:#FFF;
	border-top-left-radius:0.5em;
	border-top-right-radius:0.5em;
}

/*Even Course wrap*/
.course {
	height:50%;
	background-color:#dad8db;
	color:#614875;
	cursor:default;
}

/*Odd course wrap*/
.course:nth-child(2n){
	background-color:#e5e5e5;
}


/*Course Inner Wrap*/
.course_wrapper{
	padding: 5px 10px 5px 10px;
}

/*Course Name transformation*/
.course_name p {
	text-transform:lowercase !important;
	font-size:1.3em;
}

/*Course Name p first letter uppercase*/
.course_name p:first-letter {
	text-transform:uppercase !important;
}

/*Course Progress Wrap*/
.course_progressbar {
	float:right;
	height:20px;
	width:50%;
	margin:0 0 0 0;
}

/*Hover function on progress bar*/
.course_progressbar:hover p {
	visibility:visible;
	cursor:default;
}

/*Supplement to the progressbar2.css*/
/*Course progress bar yellow area styling*/
.progress-bar-warning {
	height:20px;
	border-top-left-radius:0.5em;
	border-bottom-left-radius:0.5em;
}

/*Course progress bar points styling*/
.points {
	margin-top: -38px;
    margin-right: 10px;
	color:#614875;
	float:right;
	visibility:hidden;
}

/*Course alert*/
.course_alert {
	cursor:pointer;
	float:right;
	margin: -76px 2px 0 1px;
	width:30px;
	height:30px;
}

/*Course Link*/
.course_link {
	line-height:25px;
	color:#309;
}
.course_link a:hover{
	color:#F00;
	
}
.course_link a:active{
	content="";
	color:#614875;
}

/*Course Responsible*/
.course_responsible {
	line-height:25px;
	
}

/*Course mail icon*/
#mail-icon {
	margin: 0 0 0 5px;	
}

/*Course mail icon hover*/
#mail-icon :hover {
}

/*Course type icon*/
.course_type {
	cursor:pointer;
	float:right;
	margin: -1px 0 0 0;
}

/*Year Background Body*/
.yearBody{
	padding: 5px;
}

.clearfix:after { 
   content: "."; 
   display: block; 
   height: 0; 
   clear: both;
}

/*Year Title*/
.panel-title {
 	margin: 0;
	font-size:1.4em;
	color:#fff;
}

