/* Main wrapper */
#contentUMV {
	min-height: calc(100% - 150px);
	position:absolute;
	left: 10%;
	right: 10%;
	margin:0px auto;
	margin-top:50px;
	padding: 50px 0px 50px 0px;
	background: #fff;
	border: 8px solid #CCC;
	border-top:none;
	border-bottom:none;
}

/* Dropdown menu UMV  */
.rightDropdownMenu {
	float:right;
	position:fixed;
	text-align:center;
	top:50px;
	right:12%;
	box-shadow: -1px 5px 5px #A9A;
	z-index:5001;
}

/* Dropdown menu UMV a  */
.rightDropdownMenu a{
	color:#fff;
	font-family: Calibri,sans-serif;
	font-size:0.9em;
	text-decoration: none;
	display:inline;
}

/* Dropdown menu UMV a li  */
.rightDropdownMenu ul li{
	width:120px;
	height: 25px;
	padding:8px 0 5px;
	float:left;
	display:inline;
	border-right: 1px solid #857090;
}

/* Dropdown menu UMV a li hover  */
.rightDropdownMenu ul li:hover{
	color: #fff; 
	background-color:#614875; 
	cursor:pointer;
	padding-bottom:5px;
}

/* Dropdown menu UMV a li hover on ul  */
.rightDropdownMenu ul li:hover > ul { 
	opacity: 1; 
	visibility: visible; 
	margin: 0; 
}

/* Dropdown menu UMV ul ul li hover on a after  */ 
.rightDropdownMenu ul ul li > a:after { 
	content: ''; 
	position: absolute; 
	right: 20px; 
	top: 0px; 
	border-left: 6px solid transparent; 
	border-right: 6px solid transparent; 
	border-top: 6px solid #614875; 
}

/* Dropdown menu UMV ul ul li child */ 
.rightDropdownMenu ul ul li:last-child{ 
	border-bottom-left-radius:0.5em;
	border-bottom-right-radius:0.5em;
}

/* Dropdown menu UMV ul  li ul */ 
.rightDropdownMenu ul li ul { 
	clear:both;
	top: 10px;
	display: block; 
	visibility: hidden;
	position: relative;
	font-size:0.82em;
}

/* Dropdown menu UMV ul ul li*/ 
.rightDropdownMenu ul ul li { 
	width:120px;
	height: 18px;
	padding:8px 0 5px;
	border-top:1px solid #857090;
	box-shadow: -1px 5px 5px #A9A;
}

/* Dropdown menu UMV active*/ 
.active{
	background-color:#614875;
}

/* Dropdown menu UMV non Active*/ 
.noActive{
	background-color:#927B9E;
}
/*END dropdown menu*/


/* Program title style */		
.programName{
	width:500px;
	margin:0 auto;
}

/* Program title style h2 */
.programName h2{
	text-align:center;
	margin-top:15px;
	font-family: Calibri,sans-serif;
	font-size: 1.5em;
	color:#614875;
}

/* Radiobutton filter */
#radio_buttonToolbar{
	height:30px;
	font-size:0.7em;
	color:#767676;
	padding-bottom:5px;
}

/* Radiobutton filter label*/
#radio_buttonToolbar label{
	margin-right:15px;
	cursor:pointer;
}

/* Radiobutton filter span*/
#radio_buttonToolbar span{
	position: relative;
	bottom: 2px;
}

/* Radiobutton filter radio input*/
#radio_buttonToolbar input[type=radio] {
	display:none;
}

/* Radiobutton filter radio input checked*/
#radio_buttonToolbar input[type="radio"]:checked + label {
	color:#614875;
}

/* Radiobutton filter radio input label hover*/
#radio_buttonToolbar input[type="radio"] + label:hover {
	color:#614875;
}

/* Radiobutton filter radio input label before*/
#radio_buttonToolbar input[type=radio] + label:before {
	content: "";  
	display: inline-block;  
	width: 15px;  
	height: 14px;  
	margin-right: 6px;
	background-color:transparent; 
	cursor:pointer;
	background-image:url(../img/radiobutton.svg);
	background-repeat:no-repeat;
}

/* Radiobutton filter radio input checked label before*/
#radio_buttonToolbar input[type=radio]:checked + label:before {
	background-image:url(../img/radiobuttonchecked.svg);
	background-repeat:no-repeat;
}
/*END radiobutton filter*/


/* Wrapper for studentlist and filter function */
.totalInfo{
	width: 95%;
	margin:0 auto;
}

/* View style for students of a specific course/program */
.studentInfoWrapper{
	clear:both;
	width: 100%; 
}

#studentslist{
	clear:both;
}

/* List of students*/
#studentslist div{
	display:inline;
	float:left;
}

/* Students page*/
.student_pages{
	width:100%;
}

/* Student row*/
.studentInfo{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 100%; 
	font-size:0.7em;
}

/* Student wrap of name, pnr, usrname, mail*/
.student{
	cursor:pointer;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 35%; 
	background-color:#614875;
	color:#fff;
	padding:5px;
}

/* Every odd student */
.odd{ 
	background-color:#fff;
	color:#614875;
}

/* Student name */
.student_name{
	width: 38%; 
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/* Student name p*/
.student_name p{
	padding-left:5%;
	padding-right:5%;
}

/* Student name ssn*/
.student_ssn{
	width: 32%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/* Student ssn p*/
.student_ssn p{
	padding-left:5%;
	padding-right:5%;
}

/* Student username*/
.student_username{
	width: 22%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/* Student username p*/
.student_username p{
	padding-left:5%;
	padding-right:5%;
}

/* Student email*/
.student_email{
	width: 5%;
	padding-left:1%;
	padding-right:5%;
	margin:7px 5px 0 0;
	float:right;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/* Student email active*/
.student_email a:active{
	content: "";  
}


/* Smal progressbars in teacherview */
.students_results{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	display:inline;
	float:left;
	margin-left:1%;
	margin-top:3px;
	width:64%;
	border:1px solid #A9A9A9;
	padding:3px 5px 5px 5px;
}

/* Container progressbar in teacherview*/
.progress_course_total{
	margin-right:1%;
	border:1px solid #A9A9A9;
	width:5%;
	height:10%;
	border-radius:0.3em;
	margin-top:2px;
}

/* Container progressbar in teacherview*/
.progress_course{
	height:1.5em;
}

/* Progressbar course p*/
.progress_course p{
	visibility:hidden;
	margin-left:2px;
	margin-top:3px;
	font-size:0.8em;
	position:absolute;
}

/* Progressbar course hover p*/
.progress_course_total:hover p{
	visibility:visible;
	cursor:default;
}

/* Course Name Hover */
.courseNameindicator {
	background-color:#614875;
	color:#FFF;
	padding:0 5px 0 5px;
	border-radius:0.5em;
	margin:-30px 0 0 0;
	z-index:1000;
	position:absolute;
}

/* Site list nav at bottom of page */
.changePages{
	width:190px;
	height:25px;
	font-size:0.8em;
	color:#614875;
	margin:0 auto;
	padding-top:30px;
	clear:both;
}

/* Site list nav at bottom of page p */
.changePages p{
	float:left;
	cursor:default;
}

/* Site list nav at bottom of page div*/
.changePages div{
	margin-left:10px;
	padding:3px 8px;
	border:3px solid #614875	;
	display:inline;
	float:left;
	border-radius:0.5em;
}

/* Site list nav at bottom of page dv hover*/
.changePages div:hover{
	cursor:pointer;
	color:#fff;
	background-color:#614875;
}

/* Site list nav at bottom of page div active*/
.changePages div:active{
	content:"";
}

/* Site list nav at bottom of page Page active*/
.active_Page{
	cursor:pointer;
	color:#fff;
	background-color:#614875;
}
.notActive_Page{
	cursor:pointer;
	color:#614875;
	background-color:#fff;
}

/* Next page icon */
#nextPage{
	display:inline;
	border:none;
	position:relative;
	height:25px;
	width: 20px;
	font-size:1.2em;
	margin-left:5px;
}

/* Next page icon hover*/
#nextPage:hover{
	cursor:pointer;
	background-color:#fff;
	color:#614875;
}
/* END list nav */

.my-pull-left {
	float: left;
}

.my-pull-right {
	float: right;
}

.clearfix{
	clear: both;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

/* Style fix for no_page error msg */
/* Style fix for h2 */
#no_page h2 {
	text-transform:lowercase !important;
	font-size:1em;
	font-style: italic;
}
/* Style fix for h2 first letter */
#no_page h2:first-letter {
	text-transform:uppercase !important;
}

/* Container for graph teacherview */
#graphContainer {
	overflow-x: auto;
	margin-bottom: 20px;
}

/* Graph teacherview */
#graph {
	display: block;
	margin: 30px auto;
	overflow-x: auto;
}
