
/* Main wrapper */
#contentUMV {
	min-height: calc(100% - 150px);
	position:absolute;
	left: 10%;
	right: 10%;
	margin:0px auto;
	margin-top:50px;
	padding: 50px 0px 50px 0px;
	background: #fff;
	border: 8px solid #CCC;
	border-top:none;
	border-bottom:none;
}

/* Dropdown menu UMV  */
.rightDropdownMenu {
	float:right;
	margin-right:100px;
	position:fixed;
	text-align:center;
	top:50px;
	right:4%;
	box-shadow: -1px 5px 5px #A9A;
	z-index:5001;
}
.rightDropdownMenu a{
	color:#fff;
	font-family: Calibri,sans-serif;
	font-size:0.9em;
	text-decoration: none;
	display:inline;
}
.rightDropdownMenu ul li{
	width:120px;
	height: 25px;
	padding:8px 0 5px;
	float:left;
	display:inline;
	border-right: 1px solid #857090;
}
.rightDropdownMenu ul li:hover{
	color: #fff; 
	background-color:#614875; 
	cursor:pointer;
	padding-bottom:5px;
}
.rightDropdownMenu ul li:hover > ul { 
	opacity: 1; 
	visibility: visible; 
	margin: 0; 
} 
.rightDropdownMenu ul ul li > a:after { 
	content: ''; 
	position: absolute; 
	right: 20px; 
	top: 0px; 
	border-left: 6px solid transparent; 
	border-right: 6px solid transparent; 
	border-top: 6px solid #614875; 
}
.rightDropdownMenu ul ul li:last-child{ 
	border-bottom-left-radius:0.5em;
	border-bottom-right-radius:0.5em;
}
.rightDropdownMenu ul li ul { 
	clear:both;
	top: 10px;
	display: block; 
	visibility: hidden;
	position: relative;
	font-size:0.82em;
}
.rightDropdownMenu ul ul li { 
	width:120px;
	height: 18px;
	padding:8px 0 5px;
	border-top:1px solid #857090;
	box-shadow: -1px 5px 5px #A9A;
}
.active{
	background-color:#614875;
}
.noActive{
	background-color:#927B9E;
}
/*END dropdown menu*/


/* Searchfield UMV */
.searchfieldTV{
	font-family: Calibri,sans-serif;
	width: 35%; 
	margin-left:25px;
	margin-top:-40px;
	position:absolute;	
}
.searchfieldTV input{
	width: 70%;
	height: 25px;
	float:left;
	position:relative;
	font-size:0.9em;
	border:none;
	border-top-left-radius:0.5em;
	border-bottom-left-radius:0.5em;
	box-shadow: inset 2px 2px 5px #A9A;
}
.searchfieldTV input[type=text]:focus{
	box-shadow: inset 2px 2px 5px #988a98;
}
.searchfieldTV .button{
	border:none;
	height:23px;
	letter-spacing:0.1em;
	margin-left:0px;
	width:20%;
	padding-top:4px;
	font-size:0.9em;
	background-color:#614875;
	text-align:center;
	color:#fff;
	border-top-right-radius:0.5em;
	border-bottom-right-radius:0.5em;
}
.searchfieldTV .button:hover{
	cursor:pointer;
	background-color:#927B9E;
}


/* Program title style */		
.programName{
	width:500px;
	margin:0 auto;
}

.programName h2{
	text-align:center;
	margin-top:15px;
	font-family: Calibri,sans-serif;
	font-size: 1.5em;
	color:#614875;
}

/* Radiobutton filter */
#radio_buttonToolbar{
	height:30px;
	font-size:0.7em;
	color:#767676;
	padding-bottom:5px;
}
#radio_buttonToolbar label{
	margin-right:15px;
	cursor:pointer;
}
#radio_buttonToolbar span{
	position: relative;
	bottom: 2px;
}
#radio_buttonToolbar input[type=radio] {
	display:none;
}
#radio_buttonToolbar input[type="radio"]:checked + label {
	color:#614875;
}
#radio_buttonToolbar input[type="radio"] + label:hover {
	color:#614875;
}
#radio_buttonToolbar input[type=radio] + label:before {
	content: "";  
	display: inline-block;  
	width: 15px;  
	height: 14px;  
	margin-right: 6px;
	background-color:transparent; 
	cursor:pointer;
	background-image:url(../img/radiobutton.svg);
	background-repeat:no-repeat;
}
#radio_buttonToolbar input[type=radio]:checked + label:before {
	background-image:url(../img/radiobuttonchecked.svg);
	background-repeat:no-repeat;
}
/*END radiobutton filter*/


/* Wrapper for studentlist and filter function */
.totalInfo{
	width: 95%;
	margin:0 auto;
}

/* View style for students of a specific course/program */
.studentInfoWrapper{
	clear:both;
	width: 100%; 
}

#studentslist{
	clear:both;
}
#studentslist div{
	display:inline;
	float:left;
}

.studentInfo{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 100%; 
	font-size:0.7em;
}

.student{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 35%; 
	background-color:#614875;
	color:#fff;
	
	padding:5px 10px;
}

.odd{ 
	background-color:#fff;
	color:#614875;
}

.student_name{
	width: 30%; 
	margin-right:8px;
}

.student_ssn{
	margin-right:8px;
}

.student_username{
	margin-right:8px;
}

/* Smal progressbars in teacherview */
.students_results{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	display:inline;
	float:left;
	margin-left:1%;
	margin-top:3px;
	width:64%;
	border:1px solid #A9A9A9;
	padding:5px;
}

.progress_course_total{
	margin-right:1%;
	border:1px solid #A9A9A9;
	width:5%;
	height:10%;
	border-radius:0.3em;
}

.progress_course{
	height:1.5em;
}

.progress_course p{
	visibility:hidden;
	margin-left:2px;
	margin-top:3px;
	font-size:0.8em;
	position:absolute;
}

.progress_course_total:hover p{
	visibility:visible;
	cursor:default;
}

/* Site list nav at bottom of page */
.changePages{
	width:190px;
	height:25px;
	font-size:0.8em;
	color:#614875;
	margin:0 auto;
	padding-top:30px;
	clear:both;
}

.changePages p{
	float:left;
}

.changePages div{
	margin-left:10px;
	padding:3px 8px;
	border:3px solid #614875	;
	display:inline;
	float:left;
	border-radius:0.5em;
}

.changePages div:hover{
	cursor:pointer;
	color:#fff;
	background-color:#614875;
}

/* Next page icon */
#nextPage{
	display:inline;
	border:none;
	position:relative;
	height:25px;
	width: 20px;
	font-size:1.2em;
	margin-left:5px;
}

#nextPage:hover{
	cursor:pointer;
	background-color:#fff;
	color:#614875;
}
/* END list nav */

.my-pull-left {
	float: left;
}

.my-pull-right {
	float: right;
}

.clearfix{
	clear: both;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

/* Style fix for no_page error msg */
#no_page h2 {
	text-transform:lowercase !important;
	font-size:1em;
	font-style: italic;
}

#no_page h2:first-letter {
	text-transform:uppercase !important;
}

#graph {
	display: block;
	margin: 30px auto;
}
