/*Student Main info wrap*/
#studentTitle {
	width:70%;
	height:20px;
	margin: 40px auto;
	text-align:center;
}

/*Main progress bar wrapp*/
.mainProgressBarcontainer {
	position: relative;
	width:80%;
	margin: 0 auto;
}

/*Main progressbar*/
.totalProgressBar{
	height:40px;
	width:100%;
	margin:0 auto;
	display: block;
	background-color:#F00;
	border-radius:5px;

}


/*Main Progress Indicator wrap*/
#mainProgressIndicator{
	height:40px;
	margin:12px 0 0 0;
	display: block;
	border:none;
	background-color:#FFF;
	
}

/*Main Progress Indicator*/
#progressIndicator {
	width:51px;
	height:40px;
	background-image:url(progress.png);
	background-repeat:no-repeat;
	float:left;
	font-size:0.8em;
	text-align:center;
	line-height:40px;
	color:#FFF;
	margin: 0 0 0 57%;
}
	
/*Year 1 progress wrap*/
#year1Progress {
	float: left;	
	height:20px;
	width:20%;
	margin:-30px 0 0 70px;
	box-shadow:none;
	
}


/*Year 3 progress wrap*/
#year3Progress {
	float:right;
	height:20px;
	width:20%;
	margin:-30px 70px 0 0;
	box-shadow:none;
	
}

/*Year 2 progress wrap*/
#year2Progress {
	height:20px;
	width:20%;
	margin: -30px auto;
	box-shadow:none;
	
}

#year1Score {
	float:left;
	margin: -20px 0 0 182px;
	position:relative;
	font-size:0.8em;
}

#year3Score {
	float:right;
	margin: -27px 72px 0 0;
	font-size:0.8em;
}

#year2Score {
	margin:0 auto;
	margin: -20px 0 0 0;
	font-size:0.8em;
}


/*Big Course Wrap*/
#YearContainer {
	position: relative;
	width: 100%;
	margin: 0 auto;
}


/*Big Year Wrap*/
.Year {
	font-size:0.8em;
	float: left;
	width: 30%;
	margin: 1%;
	border-radius:5px;
	border: 3px solid #624877;

}

/*Year Heading*/
.year_header{
	padding: 2px 5px;
	text-align:center;
	background-color:#614875;
	color:#FFF;
}

/*Even Course wrap*/
.course {
	height:50%;
	background-color:#dad8db;
	margin:1px 0 0 0;
}

.course:nth-child(2n){
	background-color:#0F0;
}


/*Course Inner Wrap*/
.course_wrapper{
	padding: 5px 10px 5px 10px;
}

/*Course Name*/
#course_name {
	line-height:25px;
}

/*Course Name*/
.course_name p {
	text-transform:lowercase !important;
	font-size:1.3em;
	font-weight:bold;
}

/*Course Name*/
.course_name p:first-letter {
	text-transform:uppercase !important;
}

/*Course Progress Wrap*/
.course_progressbar {
	float:right;
	height:15px;
	width:50%;
	margin:-28px 0 0 0;
}

.course_alert {
	cursor:pointer;
	float:right;
	margin: -1px 2px 0 0;
}

/*Course Link*/
#course_link {
	line-height:25px;
	
}

/*Course Responsible*/
#course_responsible {
	line-height:25px;
	
}

#mail-icon {
	margin: 0 0 0 5px;	
}

#mail-icon :hover {
	
	}

#course_type {
	cursor:pointer;
	float:right;
	margin: -1px 0 0 0;
}


/*Year Background Body*/
.yearBody{
	padding: 5px;
}

.clearfix:after { 
   content: "."; 
   display: block; 
   height: 0; 
   clear: both;
}

/*Year Title*/
.panel-title {
 	margin: 0;
	font-size:1.4em;
	color:#fff;
}

