
/* The big wrapper */
#contentUMV {
    margin:0px auto;
    position:relative;
	margin-top:50px;
    padding: 50px 0px 8px 0px;
    background: #fff;
    min-height: 200px;
	padding-bottom:200px;
	width:80%;
	border: 8px solid #CCC;
	border-top:none;
}

/* Dropdownmenu at the top of the page to the right */
.rightDropdownMenu {
	float:right;
	margin-right:25px;
	position:absolute;
	text-align:center;
	top:0px;
	right:0px;
	box-shadow: -1px 5px 5px #A9A;
	z-index:5001;
}
	.rightDropdownMenu a{
		color:#fff;
		font-family: Calibri,sans-serif;
		font-size:0.9em;
		text-decoration: none;
		display:inline;
	}
	.rightDropdownMenu ul li{
		width:120px;
		height: 25px;
		padding:8px 0 5px;
		background-color:#927B9E;
		float:left;
		display:inline;
		border-right: 1px solid #857090;
	}
	.rightDropdownMenu ul li:hover{
		color: #fff; 
		background-color:#614875; 
		cursor:pointer;
		padding-bottom:5px;
	}
	.rightDropdownMenu ul li:hover > ul { 
		opacity: 1; 
		visibility: visible; 
		margin: 0; 
	} 
	.rightDropdownMenu ul ul li > a:after { 
		content: ''; 
		position: absolute; 
		right: 20px; 
		top: 0px; 
		border-left: 6px solid transparent; 
		border-right: 6px solid transparent; 
		border-top: 6px solid #614875; 
	}
	.rightDropdownMenu ul ul li:last-child{ 
		border-bottom-left-radius:0.5em;
		border-bottom-right-radius:0.5em;
	}
	.rightDropdownMenu ul li ul { 
		clear:both;
		top: 10px;
		display: block; 
		visibility: hidden;
		position: relative;
		font-size:0.82em;
	}
	.rightDropdownMenu ul ul li { 
		width:120px;
		height: 18px;
		padding:8px 0 5px;
		border-top:1px solid #857090;
		box-shadow: -1px 5px 5px #A9A;
	}

/* Searchfield */
.searchfieldTV{
	font-family: Calibri,sans-serif;
	width: 35%; 
	margin-left:25px;
	margin-top:-40px;
	position:absolute;
	
}
	.searchfieldTV input{
		width: 70%;
		height: 25px;
		float:left;
		position:relative;
		font-size:0.9em;
		border:none;
		border-top-left-radius:0.5em;
		border-bottom-left-radius:0.5em;
		box-shadow: inset 2px 2px 5px #A9A;
	}
	.searchfieldTV input[type=text]:focus{
		box-shadow: inset 2px 2px 5px #988a98;
	}
	.searchfieldTV .button{
		border:none;
		height:23px;
		letter-spacing:0.1em;
		margin-left:0px;
		width:20%;
		padding-top:4px;
		font-size:0.9em;
		background-color:#614875;
		text-align:center;
		color:#fff;
		border-top-right-radius:0.5em;
		border-bottom-right-radius:0.5em;
	}
		.searchfieldTV .button:hover{
			cursor:pointer;
			background-color:#927B9E;
		}

/* Title of program */		
.programName{
	width:500px;
	margin:0 auto;
}
	.programName h2{
		text-align:center;
		margin-top:15px;
		font-family: Calibri,sans-serif;
		font-size: 1.5em;
		color:#614875;
	}
	
#radio_buttonToolbar{
	height:30px;
	font-size:0.7em;
	color:#767676;
	padding-bottom:5px;
}
	#radio_buttonToolbar label{
		margin-right:15px;
		cursor:pointer;
	}
	#radio_buttonToolbar input[type=radio] {
    	display:none;
	}
	#radio_buttonToolbar input[type="radio"]:checked + label {
    	color:#614875;
	}
	#radio_buttonToolbar input[type="radio"] + label:hover {
    	color:#614875;
	}
	#radio_buttonToolbar input[type=radio] + label:before {
		content: "";  
		display: inline-block;  
		width: 12px;  
		height: 12px;  
		vertical-align:middle;
		margin-right: 8px;  
		background-color: #fff;  
		border-radius: 8px;  
		border:#A9A9A9 2px solid;
		cursor:pointer;
	}
	#radio_buttonToolbar input[type=radio]:checked + label:before {
		content: "\2022"; /* Bullet */
		color:#614875;
		background-color:#bea8ca;
		font-size:3em;
		text-align:center;
		line-height:11px;
		border:#614875 2px solid;
		cursor:pointer;
	}

	
/* View over the students how are going that program/course */
.totalInfo{
	width: 95%;
	margin:0 auto;
}
.studentInfoWrapper{
	clear:both;
	width: 100%; 
}
#studentslist{
	clear:both;
}
	#studentslist div{
		display:inline;
		float:left;
	}

.studentInfo{
	width: 100%; 
	font-size:0.7em;
}
.student{
	width: 35%; 
	background-color:#614875;
	color:#fff;
	
	padding:5px 10px;
}
.odd{ 
	background-color:#fff;
	color:#614875;
}

.student_name{
	width: 30%; 
	margin-right:8px;
}
.student_ssn{
	margin-right:8px;
}
.student_username{
	margin-right:8px;
}

.students_results{
	display:inline;
	float:left;
	margin-left:10px;
	margin-top:3px;
	width:60%;
	border:1px solid #A9A9A9;
	padding:5px;
}
.progress_course_total{
	margin-right:1%;
	border:1px solid #A9A9A9;
	width:5%;
	height:10%;
	border-radius:0.3em;
}
.progress_course{
	height:1.5em;
}

		
/* Change pages */
.changePages{
	width:190px;
	height:25px;
	font-size:0.8em;
	color:#614875;
	margin:0 auto;
	padding-top:30px;
	clear:both;
}
	.changePages p{
		float:left;
	}
	.changePages div{
		margin-left:10px;
		padding:3px 8px;
		border:3px solid #614875	;
		display:inline;
		float:left;
		border-radius:0.5em;
	}
		.changePages div:hover{
			cursor:pointer;
			color:#fff;
			background-color:#614875;
		}
#nextPage{
	display:inline;
	border:none;
	position:relative;
	height:25px;
	width: 20px;
	font-size:1.2em;
	margin-left:5px;
}
	#nextPage:hover{
		cursor:pointer;
		background-color:#fff;
		color:#614875;
	}
	
.my-pull-left {
	float: left;
}

.my-pull-right {
	float: right;
}
footer p {
	font-style: italic;
	font-size: 1em;
	margin: 0.2em;
}

.clearfix{
	clear: both;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

