.my-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em; 
	background-color: #def;
	z-index: 10;
}

.my-container-fluid {
	position: relative;
	top: 50px;
	left: 0;
	width: 100%;
	height:20%;
	background-color: #ce0;
}

.my-input-group {
	
	float: right;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 10%;
	width: 100%;
	background-color: rgba(200,220,255,0.5);
}
.my-pull-right {
	float: right;
}
footer p {
	font-style: italic;
	font-size: 1em;
	margin: 0.2em;
}

.my-col-xs-4 {
	float: left;
	width: 30%;
	margin: 1%;
	
}

.forkunskap {
	font-style: italic;
	font-size: smaller;
}
small > a {
	color: white;
}
small > a:hover {
	color:white;
}
.kursnamn {
	margin: 2px;
}

.kurskod {
	display: inline-block;
	line-height: 20px;
	margin-left: 4px;
}
    	
/* my changes to BS */
.panel-heading{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 2px 5px;
	background-color: #def;
}
.panel {
    background-color: #fff;
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    border: 1px solid #bce8f1;
}
.panel-body{
	padding: 5px;
}

.panel-info {
    
}

.panel-title {
 	margin: 0;
}

.list-group {
    margin-bottom: 2px;
    padding-left: 0;
}

.list-group-item {
    border: 1px solid #ddd;
    display: block;
    margin-bottom: 2px;
    padding: 10px 15px;
    position: relative;
}

.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    margin-top: 8px;
}

.stoplight{

	display: inline-block;
	height:14px;
	width:20px;
	padding-top: 0px;
	padding-bottom: 0px;	
}

.stoplight-outer {
	border: 1px ridge #080;
	border-radius: 6px;
	height: 16px;
	width:16px;
	padding: 1px;
	/*margin-top: 2px;*/
}

.stoplight-inner-red {
	border: 2px solid #a00;
	border-radius: 4px;
	height: 12px;
	width:12px;	
	background-color: #d00;
}

.stoplight-inner-green {
	border: 2px solid #218821;
	border-radius: 4px;
	height: 12px;
	width:12px;	
	background-color: #7d7;
}

.stoplight-inner-orange {
	border: 2px solid #a00;
	border-radius: 4px;
	height: 12px;
	width:12px;	
	background-color: #d00;
}
