/* Import fonts Noto Sans and Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Variable Declaration */
:root {
    --primary-color: #8F58A3;
    --primary-color-hover: #773090;
    --primary-color-active: #692582;
    --primary-color-disabled: #bd87d1;
    --secondary-color: #8F58A366;
    --accent-color: #D9D9D9;
    --page-background: #FCFCFC;
    --warning-text: #F05555;
    --success-text: #5FCE71;
    --text-light: #FEFCFF;
    --text-dark: #1E1E1E;
    --header-font: "Montserrat", sans-serif;
    --body-font: "Noto Sans", sans-serif;
    --h1-fontsize: 54px;
    --h1-fontsize-small: 38px;
    --h2-fontsize: 36px;
    --h2-fontsize-small: 26px;
    --text-large: 16px;
    --text-medium: 14px;
    --text-small: 12px;
    --text-xs: 10px;
    --default-transition: .3s ease;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#page2, #page3, #page4, #page5, #page6, #installationPage { display: none; }

.page {
    display: none;
    flex-direction: column;
    height: calc(100vh - 4rem);
    width: calc(100% - 4rem);
    margin: 2rem;
    border: 1px solid var(--primary-color);
    background-color: var(--page-background);
    position: relative;
}

/*  Create a padding for all content
    inside the installer window */
.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem 3rem;
    overflow-y: auto;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*  Creates the purple background behind .header-1  */
.banner {
    background-color: var(--primary-color);
}

.header-1 {
    font-family: var(--header-font);
    color: var(--text-light);
    font-size: var(--h1-fontsize);
    margin: 0;
    padding: 1rem;
}

.breadcrumbs {
    font-family: var(--header-font);
    font-size: var(--text-large);
    display: flex;
    align-items: baseline;
    list-style: none;
    padding-left: .15rem;
    margin-bottom: .5rem;
}

.breadcrumb-selected {
    color: var(--primary-color);
    font-weight: bold;
}

.arrow_icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: var(--text-large);
}

.header-2 {
    font-family: var(--header-font);
    color: var(--primary-color);
    font-size: var(--h2-fontsize);
    margin-top: 0;
    margin-bottom: 1.25rem;
}

/*  Container that sets padding for the main content of the
    installer window, including the .body-text and .input-grid  */
.inner-wrapper {
    display: grid;
    padding: 1.5rem 2rem;
}

.body-text {
    font-family: var(--body-font);
    margin: 0;
    margin-left: 2rem;
}

/* Group of all input fields + labels*/
.input-grid {
    display: grid;
    grid-template-columns: 17rem 17rem;
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}

/* Same as .input-grid, but specific for the sub-grid used for language support checkboxes found at page 5 */
.input-sub-grid {
    display: grid;
    margin-left: 2rem;
    grid-template-columns: 8rem 8rem;
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0.25rem;
}

.input-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

/*  Lets the last cell of the .input-grid span 2 columns */
.grid-element-span {
    display: grid;
    width: max-content;
    grid-area: 4 / 1 / 5 / 3;
    grid-column-gap: 2rem; /* Keeps current horizontal gap */
    grid-row-gap: 0.75rem; /* Increases vertical gap between grid items */
}

/*  Sets label above corresponding input field  */
.input-field {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
}

/*  Declaration of Font-family this way is
    not optimal, but increase readability   */
.input-field label {
    font-family: var(--body-font);
    font-size: var(--text-medium);
}

.input-field input {
    font-family: var(--body-font);
}

input[type=text], input[type=password] {
    inset: none;
    border-radius: 0;
    border: 1px solid var(--text-dark);
    padding: 0.25rem;
    width: 12rem;
    outline: none;
    transition: var(--default-transition);
}

input[type=text]:focus, input[type=password]:focus {
    border-color: var(--primary-color);
}

.checkboxWithWarning {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
}

.checkboxWithWarning .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
}

.checkboxWithWarning .warning {
    padding-left: 0.25rem;
}

.tip {
    font-family: var(--body-font);
    font-size: var(--text-small);
    font-style: italic;
    color: var(--text-dark);
    margin-top: .25rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* Pushes the button container to the bottom */
}

.checkbox, .radiobutton {
    display: flex;
    width: max-content;
    height: max-content;
    align-items: flex-start;
    font-size: var(--text-medium);
    cursor: pointer;
}

.checkbox label, .radiobutton label {
    padding-left: 0.5rem;
    font-family: var(--body-font);
    user-select: none;
    cursor: pointer;
}

input[type=checkbox], input[type=radio] {
    margin: 0.25rem;
    margin-right: 0;
    accent-color: var(--primary-color);
    cursor: pointer;
}

.warning {
    font-family: var(--body-font);
    font-size: var(--text-xs);
    color: var(--warning-text);
    font-style: italic;
    padding-left: 2.2rem;
    margin: 0;
    margin-top: -0.85rem;
}

.success {
    font-family: var(--body-font);
    font-size: var(--text-small);
    color: var(--success-text);
    font-style: italic;
    padding-left: 0.25rem;
    margin-top: 0.25rem;
}

.defaultButton {
    font-family: var(--body-font);
    background-color: var(--primary-color);
    color: var(--text-light);
    border: 1px solid var(--primary-color);
    width: 9.5rem;
    height: 2.85rem;
    padding: .75rem;
    font-size: var(--text-large);
}

.pageButton {
    margin: 10px 0px;
}

.backButton {
    font-family: var(--body-font);
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 9.3rem;
    height: 2.85rem;
    padding: .75rem;
    font-size: var(--text-large);
}

.progressButton {
    font-family: var(--body-font);
    background-color: var(--primary-color);
    color: var(--text-light);
    border: 1px solid var(--primary-color);
    width: 9.3rem;
    height: 2.85rem;
    padding: .75rem;
    margin-left: auto; /* Correctly positions the single button used at page 1 & 6, without impacting position for rest of pages. Keep this */
    font-size: var(--text-large);
}

.disabledDownloadButton {
    font-family: var(--body-font);
    background-color: var(--primary-color-disabled);
    color: var(--text-light);
    border: 1px solid var(--primary-color);
    text-decoration:none;
    width: auto;
    height: 2.85rem;
    padding: .75rem;
    margin-right: auto; /* Correctly positions the single button used at page 1 & 6, without impacting position for rest of pages. Keep this */
    font-size: var(--text-large);
}

.downloadButton {
    font-family: var(--body-font);
    background-color: var(--primary-color);
    color: var(--text-light);
    border: 1px solid var(--primary-color);
    text-decoration:none;
    width: auto;
    height: 2.85rem;
    padding: .75rem;
    margin-right: auto; /* Correctly positions the single button used at page 1 & 6, without impacting position for rest of pages. Keep this */
    font-size: var(--text-large);
}

.defaultButton:hover, .progressButton:hover, .downloadButton:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
    box-shadow: 1px 1px 1px var(--text-dark);
}

.defaultButton:active, .progressButton:active, .downloadButton:active {
    background-color: var(--primary-color-active);
    box-shadow: 2px 2px 2px var(--text-dark);
}

.backButton:hover {
    cursor: pointer;
    box-shadow: -1px 1px 1px var(--text-dark);
}

.backButton:active {
    box-shadow: -2px 2px 2px var(--text-dark);
}

.trace .stacktrace {
    display: none; /* Hide the stacktrace initially */
    white-space: pre-wrap; /* Preserve whitespace and formatting */
    margin-left: 1rem; /* Align the stacktrace text to the right */
}

.stacktrace p {
    margin: 0.2rem 0;
}

.toggleTrace {
    margin-bottom: 0.75rem; /* Adds a small margin to the bottom of the show more link */
    color: var(--primary-color);
}

.toggleTrace:hover {
    cursor: pointer;
    color: var(--primary-color-hover);
}

.trace .toggleTrace {
    text-decoration: none;
    display: inline-block; /* Ensures margin-bottom is applied */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: relative;
    background-color: var(--page-background);
    margin: 15% auto;
    padding: 1.25rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 90%;
    border-radius: 0.75rem;
}

.close-btn {
    color: var(--primary-color);
    float: right;
    font-size: 1.75px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--primary-color-hover);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    font-family: var(--header-font);
    font-size: var(--h2-fontsize);
    color: var(--primary-color);
}

.modal-body,
.modal-footer {
    font-family: var(--body-font);
    font-size: var(--text-large);
    padding: 0.75rem;
}

details {
    margin-top: 10px;
}

details,
summary {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--text-light);
    border: 1px solid var(--text-dark);
}

.summary-content {
    padding: 10px;
    background-color: var(--page-background);
    border: 1px solid var(--text-dark);
    margin-top: 5px;
    color: var(--text-dark);
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-footer button {
    margin: 0.5rem;
}

.help-icon {
    color: var(--primary-color);
    transition: var(--default-transition);
    text-decoration: none;
    font-size: inherit;
}

.help-icon:hover {
    color: var(--primary-color-hover);
    text-decoration: underline;
}

/*  This code is nested CSS. It's a relatively new CSS
    functionality. If you are unfamiliar with it, more information
    and some examples can be found here --> https://drafts.csswg.org/css-nesting-1/ */
    .progressBar {
        color: var(--text-dark);
        font-family: var(--body-font);
        font-style: italic;
        font-size: 14px;
        max-width: 80%; 
    
        .progressBarLabels {
            display: flex;
            justify-content: space-between;
            margin-bottom: .25rem;
        }
    
        .progressBarBorder {
            display: flex;
            justify-content: space-between;
            background-color: var(--accent-color);
            height: .75rem;
        }
    
        .progressBarIndicator {
            font-style: italic;
            background-color: var(--secondary-color);
            width: 0%;
        }
    }

/*  Media query for changing element disposition to support
    smaller screens like tablets and smaller browser windows */
@media (max-width: 478px) {
    .breadcrumbs {
        font-size: var(--text-small);
    }
}

@media (min-width: 478px) and (max-width: 768px) {
    .breadcrumbs {
        font-size: var(--text-medium);
    }
}
    
@media (max-width: 768px) {
    .input-grid {
        font-family: var(--body-font);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .header-1 {
        font-family: var(--header-font);
        color: var(--text-light);
        font-size: var(--h1-fontsize-small);
        margin: 0;
        padding: 1rem;
    }

    .header-2 {
        font-family: var(--header-font);
        color: var(--primary-color);
        font-size: var(--h2-fontsize-small);
        margin-top: 0;
        margin-bottom: 1.25rem;
    }
}

@media (max-width: 800px) {
    .progressBar {
        max-width: 100%;
    }
}

@media (min-width: 1400px) {
    .progressBar {
        max-width: 60%;
    }
}