h3		{
		clear:both;
		}

.box	{
		width:50px;
		height:40px;
		float:left;
		margin:10px;
		font-weight:bold;
		text-align:center;
		padding-top:10px;
		} 
                                    
.blue	{
		background-color:#66f;
		}
                                                                                                                
.red	{
		background-color:#f66;
		}  
                                                                                                               
#list	{
		border:1px solid #bfbfbf;
		width:70px;
		margin:10px;
		overflow:auto;
		}    
