body {background-color:#614875;}
table {
	border-collapse: seperate;
	border-spacing: 2px;
}
.conso {
	border: 2px inset;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
}		  

.caret {
	pointer-events:none;
	position:absolute;
	left:2;
	top:2;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	margin:0px;
	padding:0px;

}

.caretblink {
	animation: blink 1s steps(5, start) infinite;
}

.caretnoblink {
	visibility:visible;					
}

.carethidden{
	visibility:hidden;
}
.barbutton {
	margin:3px;
	border-spacing:10px;
	height:38px;
	width:38px;
	vertical-align:center;
	text-align:center; 
}
.barbutton:hover{
	background-color: #7D5CA0;
	cursor: pointer;
}
#bardesign{
	height:px;
	background-color:#614875;
}
#wrapper{
	background-color: #272822;
}
.barcontainer{
	background-size: 64px 100%;
	background-color: #FFFFFF;
	padding:1px;
	border:solid 2px #000;
	white-space: nowrap;
}

.bar{
	height: px;
	width:0%;
	background-image: url('images/loadingbar.gif'); 
	background-repeat: repeat-x;
	background-size: 64px 100%;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}

span {
	display: inline-block;
}
