body{
	background-color:#614875;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.canvasStyle{
	width: 100%;
	background:rgba(255,255,255,1);
}
.wrapper{
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}
@font-face{
	font-family:'Raleway Thin';
	src: url('Raleway Thin.ttf');
}
.header{
	font-family:'Raleway Thin';
	font-size:2em;
	color:#FFFFFF;
}
.cords{
	font-family: verdana, sans-serif;
	font-size: 0.66em;
	color:#FFFFFF;
}

.cordFont{
	font-size:0.70;
	font-family:verdana, sans-serif;
	color:#FFFFFF;
}

#thumbnails {
	padding-left: 15px;
	background-color: #fff;
	margin-top: 10px;
	box-shadow: 1px 1px 1px #000;
	border-radius: 1px;
}
.thumbnail {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
	display: inline;
	/*width: 160px;*/
	max-width: 160px;
	max-height: 90px;
	opacity: 0.65;
}
.thumbnail:hover {
	opacity: 1;
	cursor: move;
}


#library-name-dialog {
	width: 250px;
	font-family:'Raleway Thin';
	padding: 10px;
	z-index: 2;
	position: absolute;
	left:0;
	right:0;
	top: 25%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	box-shadow: 3px 3px 3px #000;
}

#loading-dialog {
	display: none;
	background-color: #fff;
	font-family:'Raleway Thin';
	box-shadow: 3px 3px 3px #000;
	padding: 10px;
	width: 200px;
	z-index: 5000;
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	top: 25%;
	border-radius: 5px;
	border: 1px solid #000;
}

#export-feedback {
	display: none;
	width: 300px;
	font-family:'Raleway Thin';
	padding: 10px;
	z-index: 2;
	position: absolute;
	left:0;
	right:0;
	top: 25%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	box-shadow: 3px 3px 3px #000;
	border: 1px solid black;
}

/* control buttons */

#controls {
	margin-top: 20px;
}

.controlbutton {
	font-size: 14px;
	margin-top: 15px;
	margin-right: 20px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px #000;
	border-radius: 1px;
	
}
#information{
	height: 30px;
	width: 500px;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px #000;
	border-radius: 1px;
}
.controlbutton:hover {
	cursor: pointer;
	background-color: #fed;
}

/* thumbnail menu */
.thumbMenu {
	z-index: 2;
	display: none;
	position: absolute;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 10px 10px 10px #3d3d3d;
	border: 1px solid #000;
}
.thumbMenuOpt {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	background-color: #fff;
	padding: 10px;
}
.thumbMenuOpt:Link {
	color: #000;
	text-decoration: none;
}
.thumbMenuOpt:visited {
	color: #000;
	text-decoration: none;
}
.thumbMenuOpt:hover {
	background-color: #3d3d3d;
	color: #fff;
}
.tli {
	display: inline-block;
}

#instructionwindow{
    overflow: auto;
 	overflow-y: hidden;
	position: relative;
	width: 50%;
	max-width: 1000px;
	max-height: 700px;
	background-color: white;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1050;
	display: none;
	margin-top: 3%;
}

#instructionopacity{
	background-color: rgba(0,0,0,0.4);
	cursor: default;
	width: 100%;
	height: 100%;
	-webkit-background-size:cover;
  	background-size:cover;
 	z-index: 1040;
 	position: fixed;
 	display: none;
 	margin-top: -12px;
}

.closebutton {
	position: absolute;
	top: 0;
	right: 0;
	width:25px;
	height: 25px;
	background-color: red;
	background-image: url("img/quit.png");
	margin-top:5px;
	margin-right:5px;
}
.closebutton:hover{
	cursor:pointer;
	background-image: url("img/quithover.png");
}
