body{
	background-color:#614875;
}
.canvasStyle{
	background:rgba(0,0,0,0.2);
}

.canvasStyle2{
	overflow-y:hidden;
}
.wrapper{
	margin-left:auto;
	margin-right:auto;
	width:1490px;
	height:auto;
}
@font-face{
	font-family:'Raleway Thin';
	src: url('Raleway Thin.ttf');
}
.header{
	font-family:'Raleway Thin';
	font-size:52px;
	color:#FFFFFF;
}
.cords{
	margin-left:auto;
	margin-right:auto;
	color:#FFFFFF;
}
.cordFont{
	font-size:18px;
	font-family:arial;
	color:#FFFFFF;
}
.uploadImages{
	margin-left:5px;
	float:right;
	width:200px;
	height:720px;
	background:rgba(0,0,0,0.2);
	overflow-x:hidden;
	overflow-y:scroll;
}

.imguploader{
	margin-top: 5px;
	background:rgba(0,0,0,0.2);
	height:50px;
	width: 1470px;
	padding-top: 20px;
	padding-left: 20px;
}

