body {
  font-family: Arial;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px dashed black;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

th,
td {
  border: 1px solid #cccccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e2e2e2e2;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: lightgray;
}

form {
  margin: 20px 0;
}

.line {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.error_message {
  color: red;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
}

input {
  border: 1px solid black;
  border-radius: 18px;
  height: 25px;
  padding: 5px;
}

button,
.a-button {
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover,
.a-button:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  display: inline-block;
}