@charset "utf-8";
/* CSS Document */
body {
	margin: 0 0;
}

/*<<----------------------------------------------------Start*/
/*This is for the login only */
#login-box{
	position: absolute;
	top: 100px;
	width:350px;
	height:215px;
	z-index:5;
	background-color:#ccc;
	margin:0px auto;
	margin-top:40px;
	display:none;
	border:2px solid #999;
}
#login-box-content{
	width:330px;
	margin-left:10px;	
}
#bg {
	z-index: 4;
}
.box-header {
	height:25px;
	background-color:#614875;
	vertical-align:bottom;
	padding-top:15px;
	padding-left:10px;
}
.box-header-cbutton {
	height:20px;
	width:40px;
	float:right;
	margin-right:4px;
	margin-top:-15px;
	background-color:#c75050;
	text-align:center;
	color:white;
	font-family:arial;
	font-size:10pt;
	font-weight:bold;
	cursor:default;
}
.box-header-cbutton:hover{
	background-color:#ce3d3d;
}
input.input-login{
	width:150px;
	height:25px;
	border-radius:4px;
	border:0px;
}

input.submit-button{
	width:80px;
	height:25px;
	color:#fff;
	background-color:#614875;
	border:0px;
	border-radius:4px;
}
input#login-checkbox{
	width:15px;
	height:15px;
}
input#login-checkbox{
	background-color:#999;
}
input.submit-button:hover{
	background-color:#392a45;
}
span.login-text{
	font-family:arial;
	font-size:10pt;
	font-weight:bold;
}
span#login-fg-pw{
	font-family:arial;
	font-size:10pt;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
}
span#login-fg-pw:hover{
	color:#999;
}
span.login-header-text{
	color:white;
	font-family:arial;
	font-weight:bold;
	font-size:14pt;
}
/*<<----------------------------------------------------End*/

/*<<----------------------------------------------------Start*/
/*CSS for forgot passw box*/
#forgot-passw-box{
	position: absolute;
	top: 100px;
	width:350px;
	height:215px;
	z-index:5;
	background-color:#ccc;
	margin:0px auto;
	margin-top:40px;
	display:none;
	border:2px solid #999;
}
#forgot-pw-content{
	width:330px;
	margin-left:10px;	
}
#answer-box {
	position: absolute;
	top: 100px;
	width:350px;
	height:240px;
	z-index:5;
	background-color:#ccc;
	margin:0px auto;
	margin-top:40px;
	display:none;
	border:2px solid #999;
}


#answer-box-content{
	width:330px;
	margin-left:10px;	
}
#newpassword-box {
	position: absolute;
	top: 100px;
	width:350px;
	height:300px;
	z-index:5;
	background-color:#ccc;
	margin:0px auto;
	margin-top:40px;
	display:none;
	border:2px solid #999;
}

#newpassword-box-content{
	width:330px;
	margin-left:10px;
}
