html, body, div, span, applet, object, 
iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;  
    padding: 0; 
    border: 0;  
    font-size: 100%;    
    font: inherit;  
    vertical-align: baseline;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 0;
}
h1 {
    color: #fff;
    font-size: 1.8em;
    line-height: 1.4em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em; 
}
h3 {
    font-size: 1.3em;
    line-height: 1.3em; 
}
h4 {
    font-size: 1.2em;
    line-height: 1.5em;
}
body {
    background: #ddd;
}
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
a#courses{
	color:black;
	font-size:14pt;
	font-family:arial;	
}
a#courses:hover{
	color:#666;
}
a#section-list {
	color:#434343;
	text-decoration:none;
}
header {
    overflow: hidden;
    color: #fff;
    height: 50px;
    width: 100%;
    background: #614875;
    position: fixed;
    z-index: 5000;
    top: 0px;
    left: 0px;
	/*
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.40);
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.40);
	*/
}
    nav#navigate {
        padding: 12px;
        float: left;
    }
        nav#navigate img {
            cursor: pointer;
        }
    div#title {
        padding: 5px;
        float: left;
    }
        div#title img {
            cursor: default;
        }
    nav#user {
        font-size: 0.8em;
        float: right;
    }
        nav#user #userName {
            font-size: 0.8em;
            float: left;
			color:#fff;
			font-size:10pt;
			margin-top:20px;
			padding:8px;
			cursor:pointer;
			text-decoration:underline;
        }
		nav#user #userName:hover {
			color:#ccc;
		}
        nav#user img {
            padding: 12px;
            float: right;
            cursor: pointer;
        }
#userSettings {
	display:none;
	width:150px;
	position:fixed;
	z-index:9999;
	right:0;
	top:50px;
	border: 4px solid #ccc;
	border-top:0px;
}
#userSettings ul {
	width:100%;
	list-style-type:none;
}
#userSettings ul li {
	text-align:center;
	color:#4D4D4D;
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
	padding:8px;
}
#userSettings ul li:hover{
	background-color:#c6b8cd;
}

#userSettings li:nth-child(even) {background: #e3e3e3}
#userSettings li:nth-child(odd) {background: #f0f0f0}

.load {
    background:url('images/loader.gif') no-repeat left 0;
    width: 50px;
    height: 50px;
    margin:0px auto;
    margin-top: 5px;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}
#content {
    margin:0px auto;
    position:relative;
    padding: 50px 12px 8px 8px;
    background: #fff;
    width:80%;
    min-height: 200px;
    border: 8px solid #ccc;
}
.top {
    
}
.middle {
    position:absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
.bottom {
    position:absolute;
    bottom: 10px;.
    width: 100%;
    text-align: center;
}
.center {
    vertical-align: middle;
    margin: 0px auto;
    width: 100%;
}
.alert {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px;
}
    .alert .btn {
        width: 100px !important;
        margin: 0px 10px 10px 10px;
    }
    .alert p {
        padding: 2px 10px 10px 10px;
    }
    .alert strong {
        font-size: 1.1em;
        font-weight: bold;
        padding: 10px 10px 10px 10px;
    }
    .alert span {
        position: absolute;
        right: 5px;
        top: 8px;
        font-weight: bold;
        cursor: default;
    }
    .alert span:hover {
        color: #fff;
    }
    .slide-down {
        position: absolute;
        width: 100%;
        padding: 15px 0px 5px 0px;
        overflow: hidden;
        margin: -8px;
        border-radius: 0px;
        z-index: 3000;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    .alert.success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }
    .alert.info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }
    .alert.danger {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }
    .alert.warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b;
    }
button {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
    button.default {
        color: #fff;
        background-color: #614875;
        margin: 0px;
    }
        button.default:hover {
            background-color: #73558b;
        }
    button.submit {
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }
        button.submit:hover {
            background-color: #3276b1;
            border-color: #285e8e;
        }
.form-group {
    margin-bottom: 15px;
}
#create input.form-control {
    width: 100%;
    height: 34px;
    margin: 2px 0px 2px 0px;
}

.disabledInput {
    background-color: #DDDDDD !important;
}

#create textarea.form-control {
    margin: 2px 0px 2px 0px;
}

#create select.form-control {
    height: 34px;
}
#create textarea.form-control {
    width: 100%;
}
.form-control {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input.option {
    float: left;
}
button.option {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 38px;
    height: 38px;
    padding: 6px 12px;
    margin: 2px 0px 2px -38px;
}

table.list {
    color: #333;
    width: 100%;
    font-size:  0.9em;
}
table.list th {
    padding: 8px;
    font-weight: bold;
    border-bottom: 5px solid #ddd;
    text-align: left;
}
table.list tr {
    line-height: 1.428571429;
    border-top: 1px solid #ddd;
    background: #fff;
}
table.list tr:first-child {
    border-top: 0px;
}
table.list td {
    padding: 8px;
}
table.list tr.green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
table.list tr.red {
    background-color: #f2dede;
    border-color: #eed3d7;
}

/* courselistmenu START */

#Sectionlist{
	margin:0px auto;
    background-color: #fff;
    color:#434343;
    display: block;
	padding-top:1px;
}
#Sectionlist .butt {
    padding-left: 8px;
	padding:6px;
    display: block;
	color:#fff;
    font-size: 14pt;
    font-family: Calibri,Sans-Serif;
    background-color: #927b9e;
}

#Sectionlist .bigg {
	padding:6px;
    text-align: center;
	color:#fff;
	font-size: 14pt;
    font-family: Calibri,Sans-Serif;
    display: block;
    background-color: #775886;
}

#Sectionlist .norm {
	padding:6px;
	padding-left:15px;
    display: block;
    background-color: #f0f0f0;
	color:#434343;
	font-family:arial;
	font-size:10pt;
}

#Sectionlist .test {
	padding:6px;
	padding-left:15px;
    display: block;
    background-color: #e3e3e3;
	color:#434343;
	font-family:arial;
	font-size:10pt;
}

#Sectionlist .hidden {
	padding:6px;
	padding-left:15px;
    display: block;
    background-color: #d0cfd0;
		color:#434343;
	font-family:arial;
	font-size:10pt;
}

#Sectionlist .example {
	padding:6px;
	padding-left:15px;
    display: block;
    background-color: #dad8db;
		color:#434343;
	font-family:arial;
	font-size:10pt;
}

#Sectionlist .course {
	padding:6px;
    text-align: center;
    color: #fff;
    display: block;
    font-family: Calibri,Sans-Serif;
	font-size:18pt;
    background-color: #614875;
	margin-top:40px;
}

#Sectionlist .norm:hover, #Sectionlist .example:hover, #Sectionlist .test:hover, #Sectionlist .hidden:hover{
	background-color:#c6b8cd;
    color: #000;
}

.sectionlist-change-div {
	font-family: Arial;
	font-size:10pt;
	display:none;
	background-color:#fff;
	color:#000;
	margin-top: 5px;
	padding:10px;
}

#add-course-button-div {
	float:right;
	padding-bottom:5px;
}
.course-table {
    width:100%;
	padding:0px;
	margin:0px;
}
.course-table th {
    background-color:#614875;
	color:white;
	font-size:16pt;
	padding:8px;
}

.course-table tr.settings-tr {
	background-color:#fff;
	display:none;
	height:40px;
	float:left;
	width:100%;
}
.course-table td.settings-td {
	font-size:12pt;
	float:left;
}
.course-table td.settings-td-buttons {
	float:right;
}

.course-table td.settings-td:hover, .course-table td.settings-td-buttons:hover {
	background-color:#fff;
}

.course-table td{
    color:#434343;
	font-size:14pt;
	font-family:arial;
	text-align:center;
	cursor:pointer;
	padding:5px;
}
.course-table td:hover {
	background-color:#c6b8cd;
}

/*	This could be used in the future *//*
.course-table tr:nth-child(even) {background-color: #e3e3e3; }
.course-table tr:nth-child(odd) {background-color: #f0f0f0; }
*/
img#table-img-coggwheel {
	float:right;
	width:15px;
	height:15px;
	margin-top:4px;
	cursor: pointer;
}
/* courselistmenu END */

input.submit-button {
	background-color:#614875;
	border:0px;
	width:100px;
	height:30px;
	color:#fff;
	cursor:pointer;
}
input.submit-button:hover {
	background-color:#7B5A96;
}
input.submit-button-red {
	background-color:#c75050;
	border:0px;
	width:100px;
	height:30px;
	color:#fff;
	cursor:pointer;
}
input.submit-button-red:hover {
	background-color:#DF4F4F;
}

/* ANIMATIONS START */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* ANIMATIONS END */
#student-box{
    width:auto;
    margin:0 auto;
    height:auto;
    background-color:#ccc;
    border:1px solid #000;
    margin-left:450px;
    margin-right:450px;
    margin-top:60px;
}

#student-header{
    height:40px;
    background-color:#614875;
    text-align:center;
    color: #FFF;
    font-family:arial;
    font-size:20pt;
    font-weight:bold;
    border:1px solid #000;
}

.black_overlay{
    visibility: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    visibility: hidden;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: auto;
    padding: 16px;
    border: 16px solid #614875;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

table.list {
    color: #333;
    width: 100%;
    font-size:  0.9em;
}
table.list th {
    padding: 8px;
    font-weight: bold;
    border-bottom: 5px solid #ddd;
    text-align: left;
}
table.list tr {
    line-height: 1.428571429;
    border-top: 1px solid #ddd;
    background: #fff;
}
table.list tr:first-child {
    border-top: 0px;
}
table.list td {
    padding: 8px;
}
table.list tr.green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
table.list tr.red {
    background-color: #f2dede;
    border-color: #eed3d7;
}

.no_results {
	padding:6px;
    text-align: center;
	color:#fff;
	font-size: 14pt;
    font-family: Calibri,Sans-Serif;
    display: block;
    background-color: #775886;
}

.page {
	display:inline-block;
	color: #717171;
	cursor: pointer;
	background: #e9e9e9;
	text-decoration: none;
	padding: 5px 7px;
	margin-right: 6px;
	margin-top: 15px;
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .7), 0px 1px 3px rgba(0,0,0, .1);
	text-shadow: 1px 1px 0px rgba(255,255,255, 0.7);
}

.page:hover, .page.selected:hover {
	background: #8C8C8C;
}

.page.selected {
	display:inline-block;
	color: #717171;
	cursor: pointer;
	background: #D1D1D1;
	text-decoration: none;
	padding: 5px 7px;
	margin-right: 6px;
	margin-top: 15px;
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .7), 0px 1px 3px rgba(0,0,0, .1);
	text-shadow: 1px 1px 0px rgba(255,255,255, 0.7);
}
