html, body, div, span, applet, object, 
iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;  
    padding: 0; 
    border: 0;  
    font-size: 100%;    
    font: inherit;  
    vertical-align: baseline;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 0;
}
h1 {
    color: #fff;
    font-size: 1.8em;
    line-height: 1.4em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em; 
}
h3 {
    font-size: 1.3em;
    line-height: 1.3em; 
}
h4 {
    font-size: 1.2em;
    line-height: 1.5em;
}
body {
    background: #ddd;
}
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
a#courses{
	color:black;
	font-size:14pt;
	font-family:arial;	
}
a#courses:hover{
	color:#666;
}
a#section-list {
	color:#434343;
	font-family:arial;
	font-size:10pt;
	text-decoration:none;
}
header {
    overflow: hidden;
    color: #fff;
    height: 50px;
    width: 100%;
    background: #614875;
    position: fixed;
    z-index: 5000;
    top: 0px;
    left: 0px;
	/*
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.40);
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.40);
	*/
}
    nav#navigate {
        padding: 12px;
        float: left;
    }
        nav#navigate img {
            cursor: pointer;
        }
    div#title {
        padding: 5px;
        float: left;
    }
        div#title img {
            cursor: default;
        }
    nav#user {
        font-size: 0.8em;
        float: right;
    }
        nav#user #userName {
            font-size: 0.8em;
            padding: 5px;
            float: left;
        }
        nav#user img {
            padding: 12px;
            float: right;
            cursor: pointer;
        }
.load {
    background:url('images/loader.gif') no-repeat left 0;
    width: 50px;
    height: 50px;
    margin:0px auto;
    margin-top: 5px;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}
#content {
    margin:0px auto;
    position:relative;
    padding: 50px 12px 8px 8px;
    background: #fff;
    width:80%;
    min-height: 200px;
    border: 8px solid #ccc;
}
.top {
    
}
.middle {
    position:absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
.bottom {
    position:absolute;
    bottom: 10px;.
    width: 100%;
    text-align: center;
}
.center {
    vertical-align: middle;
    margin: 0px auto;
    width: 100%;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}  
    .alert-success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }
    .alert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }
    .alert-danger {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }
    .alert-warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b;
    }
button {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
    button.default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        margin: 0px;
    }
        button.default:hover {
            background-color: #ebebeb;
            border-color: #adadad;
        }
    button.submit {
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }
        button.submit:hover {
            background-color: #3276b1;
            border-color: #285e8e;
        }
.form-group {
    margin-bottom: 15px;
}
#create input.form-control {
    width: 100%;
    height: 34px;
    margin: 2px 0px 2px 0px;
}

#create select.form-control {
    height: 34px;
}
#create textarea.form-control {
    width: 100%;
}
.form-control {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    height: 25px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input.option {
    float: left;
}
button.option {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 38px;
    height: 38px;
    padding: 6px 12px;
    margin: 2px 0px 2px -38px;
}

table.list {
    color: #333;
    width: 100%;
    font-size:  0.9em;
}
table.list th {
    padding: 8px;
    font-weight: bold;
    border-bottom: 5px solid #ddd;
    text-align: left;
}
table.list tr {
    line-height: 1.428571429;
    border-top: 1px solid #ddd;
    background: #fff;
}
table.list tr:first-child {
    border-top: 0px;
}
table.list td {
    padding: 8px;
}
table.list tr.green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
table.list tr.red {
    background-color: #f2dede;
    border-color: #eed3d7;
}

/* courselistmenu START */

#Sectionlist{
	margin:0px auto;
	padding: 5px;
    background-color: #fff;
    color:#434343;
    display: block;
}
#Sectionlist .butt {
    padding-left: 8px;
	padding:6px;
    display: block;
	color:#fff;
    font-size: 14pt;
    font-family: Calibri,Sans-Serif;
    background-color: #927b9e;
}


#Sectionlist .norm {
	padding:6px;
	padding-left:15px;
    display: block;
    background-color: #f0f0f0;
}

#Sectionlist .test {
	padding:6px;
	padding-left:15px;
    display: block;
    background-color: #e3e3e3;
}

#Sectionlist .hidden {
	padding:6px;
	padding-left:15px;
	opacity: 0.5;
    display: block;
    background-color: #d0cfd0;
}

#Sectionlist .example {
	padding:6px;
	padding-left:15px;
    display: block;
    background-color: #dad8db;
}
#Sectionlist .bigg {
    font-size: 16pt;
	padding:4px;
	color:#fff;
    text-align: center;
    font-family: Cambria, Georgia, serif;
    display: block;
    background-color: #775886;
}

#Sectionlist .course {
	padding:6px;
    text-align: center;
    color: #fff;
    display: block;
    font-family: Calibri,Sans-Serif;
	font-size:18pt;
    background-color: #614875;
	margin-top:40px;
}

#Sectionlist .norm:hover, #Sectionlist .example:hover, #Sectionlist .test:hover, #Sectionlist .hidden:hover{
	background-color:#c6b8cd;
    color: #000;
}



#add-course-button-div {
	float:right;
	padding-bottom:5px;
}
.course-table {
    width:100%;
	padding:0px;
	margin:0px;
}
.course-table th {
    background-color:#614875;
	color:white;
	font-size:16pt;
	padding:8px;
}

.course-table tr.settings-tr {
	background-color:#fff;
	display:none;
	height:40px;
	float:left;
}

.course-table td.settings-td:hover {
	background-color:#fff;
}

.course-table td.settings-td {
	font-size:12pt;
}


.course-table td{
    color:#434343;
	font-size:14pt;
	font-family:arial;
	text-align:center;
	cursor:pointer;
	padding:5px;
}
.course-table td:hover {
	background-color:#c6b8cd;
}
/*	This could be used in the future *//*
.course-table tr:nth-child(even) {background-color: #e3e3e3; }
.course-table tr:nth-child(odd) {background-color: #f0f0f0; }
*/
img#table-img-coggwheel {
	float:right;
	width:15px;
	height:15px;
	margin-top:4px;
}
/* courselistmenu END */

input.submit-button {
	background-color:#614875;
	border:0px;
	width:100px;
	height:30px;
	color:#fff;
	cursor:pointer;
}
input.submit-button:hover {
	background-color:#7B5A96;
}

/* DRAG AND DROP MESSAGE */
#dragupdate {
	padding:10px;
	background-color:#614875;
	display:none;
	z-index:5;
	position:absolute;
	font-family:arial;
	font-size:10pt;
	font-weight:bold;
	color:#FFFFFF;
	width:40%;
	margin:inherit;
}


/* ANIMATIONS START */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* ANIMATIONS END */
