	
body {background-color:#614875;}

table {
	border-collapse: seperate;
	border-spacing: 2px;
}
			
span { display: inline-block; }
			
.barbutton {
	margin:3px;
	border-spacing:10px;
	height:38px;
	width:38px;
	vertical-align:center;
	text-align:center; 	
}
.barbutton:hover{
	background-color: #7D5CA0;
	cursor: pointer;
}
#bardesign{
	height:px;
	background-color:#614875;
}
#wrapper{

	background-image:url('Bilder/bakgrund.png');
}

.barcontainer{
	background-size: 64px 100%;
	background-color: #FFFFFF;
	padding:1px;
	border-radius: 8px;
	border:solid 2px #000;
}

.bar{
	position:absolute;
	height: px;
	width:20px;
	background-image: url('../images/BP64D.gif'); 
	background-repeat: repeat-x;
	background-size: 64px 100%;
	border-radius: 8px;
}					

canvas {
	
	background-color:#FFF;
	
}