	
body {background-color:#614875;}




table {
	border-collapse: seperate;
	border-spacing: 2px;
}
			
span { display: inline-block; }
			
.barbutton {
	margin:3px;
	border-spacing:10px;
	height:38px;
	width:38px;
	vertical-align:center;
	text-align:center; 	
}
.barbutton:hover{
	background-color: #7D5CA0;
	cursor: pointer;
}
#bardesign{
	height:px;
	background-color:#614875;
}
#wrapper{
background-color: #614875;
}

.barcontainer{
	background-size: 64px 100%;
	background-color: #FFFFFF;
	padding:1px;
	border:solid 2px #000;
	white-space: nowrap;
}

.bar{
	height: 25px;
	width: 0%;
	background-image: url('images/Loadingbar.gif'); 
	background-repeat: repeat-x;
	background-size: 64px 100%;
}					

canvas {
	
	background-color:#fff;

}